@charset "ISO-8859-1";

body{
	padding-top: 120px;
}


.fondoNegro{
	color:#212529;
}

.oculto{
	display:none;
}

div .delete{
	padding: 5px;
    /* border-radius: 0px; */
    width: 30px;
    cursor: pointer;
}

spam .badge-primary{
	padding: 0;
}

.panel-sortable{
	background-color: #e8e8e88f;
    padding: 10px;
    margin-bottom: 10px;
}

.panel-sortable legend {
	padding-left: 5px;
    border-bottom: 2px solid #d8d8d8;
    width: 100%;
}

.connectedSortable {
	min-height: 50px;
}

.badge .btn-sm {
    padding: 4.5px;
    font-size: 20px;
    line-height: .7;
    border-radius: 0.2rem;
    padding-top: 1px;
    padding-bottm: 6px;
    margin-right: -3px;
    margin-top: -2px;
    margin-left: 5px;
	
}

.msg-box{
	width: 90%;
	position: fixed;
	z-index: 10000;
	left: 5%;
}

.alert{
	position: relative;
    width: 100%;
    z-index: 10005;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid yellow;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.timeWarning{
	position: absolute;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 0px 5px #e74c3c;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


a {
    color: #fce205;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #fce205;
}


.alert-icon{

    color: #fff !important;
    border-radius: 5px;
    margin-right:5px;
        max-height: 40px;
}

.warning{
	background-color: #fce205;
    color: #fff !important;
    border-radius: 5px;
    margin-right:5px;
        max-height: 40px;
}

.error{
	background-color: #dc3545;
    color: #fff !important;
    border-radius: 5px;
    margin-right:5px;
        max-height: 40px;
}

.error-select{
	background-color: #d00115;
    color: #fff !important;
    border-radius: 5px;
    margin-right:5px;
        max-height: 40px;
}

.warning-select{
	background-color: #fcbb05;
    color: #fff !important;
    border-radius: 5px;
    margin-right:5px;
        max-height: 40px;
}

.disable{
	background-color: #e8e8e7;
    color: #b9b9b9 !important;
    border-radius: 5px;
    margin-right: 5px;
        max-height: 40px;
}



.alert-icon .counter{
	margin-right: 7px;
} 

