
@font-face {
	font-family: 'D-DIN';
	src: url('../fonts/DIN/D-DIN/D-DIN.eot?#iefix') format('embedded-opentype'),  url('../fonts/DIN/D-DIN/D-DIN.otf')  format('opentype'),
		url('../fonts/DIN/D-DIN/D-DIN.woff') format('woff'), url('../fonts/DIN/D-DIN/D-DIN.ttf')  format('truetype'), url('../fonts/DIN/D-DIN/D-DIN.svg#D-DIN') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'D-DIN-Bold';
  src: url('../fonts/DIN/D-DIN-Bold/D-DIN-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/DIN/D-DIN-Bold/D-DIN-Bold.otf')  format('opentype'),
	     url('../fonts/DIN/D-DIN-Bold/D-DIN-Bold.woff') format('woff'), url('../fonts/DIN/D-DIN-Bold/D-DIN-Bold.ttf')  format('truetype'), url('../fonts/DIN/D-DIN-Bold/D-DIN-Bold.svg#D-DIN-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



.funkyradio div {

  /*clear: both;*/
  overflow: hidden;
  /*margin-top: -20px;*/
}

/*.funkyradio div:nth-child(2n) {
  padding-left: 5px;
}*/

/*.funkyradio div:first-child {
  padding-right: 5px;
}*/

.funkyradio {
	margin-bottom:6px;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #d8d6d0;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 2.6em;
  margin-bottom:0px;
  margin-top: 6px;
 
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #d8d6d0;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
	font-family: 'D-DIN';
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
	font-family: 'D-DIN';
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #14ad14;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

.lightGreyBg {
	background-color: #222;
    padding-top: 10px;
    padding-bottom: 10px;
     padding-left: 10px;
    padding-right: 10px;
    color: #d8d6d0;
}