
@charset "ISO-8859-1";
/*				
@font-face {
	font-family: 'D-DIN';
	src: url('../fonts/DIN/D-DIN/D-DIN.eot?#iefix') format('embedded-opentype'),  url('../fonts/DIN/D-DIN/D-DIN.otf')  format('opentype'),
		url('../fonts/DIN/D-DIN/D-DIN.woff') format('woff'), url('../fonts/DIN/D-DIN/D-DIN.ttf')  format('truetype'), url('../fonts/DIN/D-DIN/D-DIN.svg#D-DIN') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'D-DIN-Bold';
  src: url('../fonts/DIN/D-DIN-Bold/D-DIN-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/DIN/D-DIN-Bold/D-DIN-Bold.otf')  format('opentype'),
	     url('../fonts/DIN/D-DIN-Bold/D-DIN-Bold.woff') format('woff'), url('../fonts/DIN/D-DIN-Bold/D-DIN-Bold.ttf')  format('truetype'), url('../fonts/DIN/D-DIN-Bold/D-DIN-Bold.svg#D-DIN-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



body{
	font-family: 'D-DIN';
    font-size: 1.5em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: D-DIN-Bold,Arial,sans-serif;
    margin: 0;
    line-height: 1;
    font-weight: 400;
}

.footer__column__content{
	font-family: D-DIN,Arial,sans-serif;
	padding:8px 15px 10px
}

.footer__column__content li{
	margin-bottom: 5px;
}
*/
.rate-panel {
	margin-top: 15px;
    margin-bottom: 15px;
}
/*#bgMail{
	
	width: 100%;
	min-height: 400px;
}
#botonRegistro{
	margin-top: 400px;
    margin-left: 290px;
    position: absolute;
	
}
#piePag{
	position: absolute;
}


input[type="button"]{
	font-family: D-DIN-Bold,Arial,sans-serif;
}
*/

/*
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    float: right;
}

.jumbotron {
    margin: 10px 0px;
}

.jumbotron h1 {
    margin: 10px 0px;
}

.jumbotron p {
    margin: 2px 0px;
}

.radioSexo td{
	padding-right: 10px;
}

.radioSexo td label{
	margin-left: 10px;
}

@media (max-width: 767px) {
	.column {
		width:100%;
		
	}
	
	.column:nth-child(odd){
		margin-right: 5px
	}	
	
	.alto{
		height: 60px;
	}
	
}

@media (min-width: 768px) {
	.column {
		width:100%;
		height: 60px;
	}
	
	.column:nth-child(odd){
		margin-right: 5px
	}	
	.alto{
		height: 60px;
	}
}

@media (min-width: 992px) {
	.column  {
		width:99.5%;
		height: 60px;
	}
	
	.column:nth-child(odd){
		margin-right: 5px
	}	
	.alto{
		height: 60px;
	}
}

@media (min-width: 1200px) {
	.column {
		width:99.5%;
		height: 60px;
	}
	
	.column:nth-child(odd){
		margin-right: 5px;
	}	
	.alto{
		height: 60px;
	}
	
	fields{
		height: 35px;
	}
}
*/