
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    float: right;
    
}


.breadcrumb-item+.breadcrumb-item::before {
    display: none;
    padding-right: .5rem;
    content: "";
}

.container2{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
}