ol.simple_with_animation {
    border: 1px solid #999999;
}
ol.vertical {
    margin: 0 0 9px 0;
    min-height: 50px;
}
ol {
    list-style-type: none;
}
ol {
    list-style: decimal;
}
ul, ol {
    padding: 0;
    
}
ol.nested_with_switch li, ol.simple_with_animation li, ol.serialization li, ol.default li {
    cursor: pointer;
}

ol.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee;
    min-width: 80px;
    
}

ol li.highlight {
    background: #333333;
    color: #999999;
}

li {
    line-height: 18px;
}

.span4 {
    width: 100%;
}

.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000; }
  
  
    ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }
    /* line 25, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
    ol.vertical li.placeholder:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: red;
      border-right: none; }
      
       
  