<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
		<ui:include src="headerImport.xhtml" />
		<script src="js/fidelizacion/formValidate.js"></script>
<script>
/* <![CDATA[ */
		function reloadTbl(data) {

			if (data.status == "begin") {
				 on();
			}
			if (data.status == "complete") {
				 
			}
			if (data.status == "success") {
				iniciarComponentes();
				off();
			}
		}
		
		function validar() {
			var item = $('#agregarMenu\\:itemMenuPadre input:hidden');
			var l = $('#agregarMenu\\:itemMenuPadre input:hidden').length;
			var texto = "";
			i = 0;
			while (i <= l - 1) {
				
				texto = texto + item[i++].value + "/";
			}
			$('#agregarMenu\\:orden').val(texto);
		}
	
	
		$(document).ready(function(){
			iniciarComponentes();
		})
		function iniciarComponentes(){
			$("#agregarMenu\\:btnGuardarOrden").confirmation({
				rootSelector : 'formInv\\:btnConfirm',
				placement : 'top',
				btnOkLabel : 'Ok',
				title : 'Confirmacion',
				onConfirm : function() {
					validar();
					$('#agregarMenu\\:btnGuardarOrdenConfirmado').click();
			},
				onCancel : function() {
					flagFormato = false;
					return false;
				}
			})
			
			$("#agregarMenu\\:CheckPadre").click(function(){
				$("#agregarMenu\\:url").val("");
				$("#agregarMenu\\:comboPadre").val("1");
			});
			
			$( "#ordenable" ).sortable();
			
			$("#agregarMenu\\:crearMenu").confirmation({
				rootSelector : 'formInv\\:btnConfirm',
				placement : 'top',
				btnOkLabel : 'Ok',
				title : 'Confirmacion',
				onConfirm : function() {
					if(validarMenu()){
						$('#agregarMenu\\:crearMenuConfirmado').click();
					}
						
			},
				onCancel : function() {
					flagFormato = false;
					return false;
				}
			})
			
			function validarMenu(){		
				
				var textPattern = "^[\\w\\s\\d]{1,30}$"
				var namePattern = "^[a-z A-Z]{1,30}$";
				var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
				var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
				var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
				var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
				var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
				var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
				var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
			
				var mensaje = "";
				
				var valido = true;	
				
				
			
			    //Check #CampaniaSeleccionada
			    if(!checkSelectOne("#agregarMenu\\:SelectOne"))
				{
					mensaje += "<li>Debes seleccionar una campania</li>";
					if(valido){valido=false}
				}
			
				
				//Check #Nombre
				if(!checkInput( "#agregarMenu\\:field1", textPattern))
				{
					mensaje += "<li>Debes indicar el <b>nombre</b> para el menu</li>";
					if(valido){valido=false}
				}
				
				//Check #URL
				if(!checkURL( "#agregarMenu\\:field2"))
				{
					mensaje += "<li>Debes indicar una URL valida</li>";
					if(valido){valido=false}
				}
				
				//Check #File
				if(!checkInputFile( "#agregarMenu\\:field3"))
				{
					mensaje += "<li>Debes seleccionar una imagen para cargar</li>";
					if(valido){valido=false}
				}
				
				
	
				
				if(!valido)
				{
					printMensaje(mensaje,  "#agregarMenu\\:msgBox" )
				}
				return valido;
			}
			
			function printMensaje(mensaje, msgPanel)
			{
			
				var panel = "<div class='col-sm-12'>" +
							"<div class='alert alert-dismissible alert-danger'>" +
							"  <button type='button' class='close' data-dismiss='alert'>&times;</button> <strong>Oh! hay un problema en tu formulario!</strong>"+
							"<ul>" +
							mensaje
							"</ul>" +
							"</div>"+
							"</div>";
							
				$(msgPanel).html(panel);
			}
		}
			/* ]]> */
	</script>
</h:head>
<h:body>
	
	<h:inputHidden value="#{admMenuBean.init()}" />
	
	<ui:include src="headerAdm.xhtml" />
	<h:form   name="agregarMenu" id="agregarMenu"  enctype="multipart/form-data">
	<h:panelGroup layout="block" class="container">
	
	<!-- Panel de mensajes -->
				<h:panelGroup layout="block" class="row">
					<h:panelGroup layout="block" id="msgBox" class="container">
						<ui:repeat var="msg" value="#{admMenuBean.mensajes}">
							<h:panelGroup layout="block" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':''}">
				                <button type="button" class="close" data-dismiss="alert">×</button>
				                <h4 class="alert-heading">#{msg.titulo}</h4>
				                <h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
				            </h:panelGroup>
						</ui:repeat>
					</h:panelGroup>
				</h:panelGroup>
	
		<h:panelGroup layout="block" class="row">
			<h:panelGroup layout="block" class="col-sm-12">
<legend>Plantilla Menu </legend>
<hr/>
</h:panelGroup>

			<h:panelGroup layout="block" class="col-sm-12">
				
				<h:panelGroup layout="block" class="row">
					<!-- Formulario Ingresar Menu -->
					<div  class="col-sm-4">
						  <h:panelGroup layout="block" class="form-group" id="SelectOne">
		                	<h:outputLabel  value="Campaña"></h:outputLabel>
		                	<h:selectOneListbox size="1" id="combo"  value="#{admMenuBean.idCampania}" class="custom-select" >
								<f:selectItem itemLabel="Seleccionar Campaña" itemValue="0"></f:selectItem>
								<f:selectItems value="#{admMenuBean.campanias}" var="t"
									itemLabel="#{t.nombre}" itemValue="#{t.id}" />
									<f:ajax listener="#{admMenuBean.changeCampania}"
									render="@form"  execute="@form" onevent="reloadTbl"   ></f:ajax>
							</h:selectOneListbox>
						<small  class="form-text text-muted">
								Campaña.
							</small>
		                </h:panelGroup>
		              


						<h:panelGroup layout="block" class="form-group" id="field1">
							<h:outputLabel for="texto" value="Nombre Menu"></h:outputLabel>
							<h:inputText class="form-control" id="texto"
								a:placeholder="Nombre del Menu"
								value="#{admMenuBean.nuevoMenu.texto}">
							</h:inputText>
							<small id="ayudaTexto" class="form-text text-muted">
								Nombre del menu que quieres ingresar.
							</small>
						</h:panelGroup>
						<h:panelGroup layout="block" class="form-group" rendered="false">
							
							<h:panelGroup layout="block" class="custom-control custom-checkbox">
								<h:selectBooleanCheckbox id="CheckPadre" class="custom-control-input" value="#{admMenuBean.padre}"> 
									<f:ajax render="url comboPadre" onevent="reloadTbl" ></f:ajax>
								</h:selectBooleanCheckbox>
								<label class="custom-control-label" for="agregarMenu:CheckPadre">¿Es Menu padre?</label>
			                </h:panelGroup>
						</h:panelGroup>
						<h:panelGroup layout="block" class="form-group" id="field2">
							<h:outputLabel for="texto" value="URL"></h:outputLabel>
							<h:inputText class="form-control" id="url"
								a:placeholder="URL"
								value="#{admMenuBean.nuevoMenu.url}" disabled="#{admMenuBean.padre}">
							</h:inputText>
							<small id="ayudaTexto" class="form-text text-muted">
								URL a la que redirigira el botón del menu.
							</small>
						</h:panelGroup>
						<h:panelGroup layout="block" class="form-group" id="inputFile">
						<h:outputLabel for="texto" value="Imagen"></h:outputLabel>
		                  <h:panelGroup layout="block" class="input-group mb-3">
		                    <h:panelGroup layout="block" class="custom-file" id="field3">
		                      <h:inputFile type="file" value="#{admMenuBean.file}" disabled="#{admMenuBean.padre}" class="custom-file-input" id="imagen" />
		                      
		                      <h:outputLabel id="inputFileLabel" class="custom-file-label" for="inputGroupFile02" value="Selecciona archivo"></h:outputLabel>
		                    </h:panelGroup>
		                  </h:panelGroup>
		                  <small style="margin-top: -0.75rem;" id="ayudaTextoAlt" class="form-text text-muted">
								Imagen del menu.
							</small>
		                </h:panelGroup>
		                
		                <script>
						/* <![CDATA[ */
						
						function initInputFile(id)
						{
							$(id + " input[type='file']" ).change(function(){
								var path = $( id + " input[type='file']").val();
								var filePath = path.split('\\');
								var fileName = filePath[filePath.length-1];
								$(id + "Label").text(fileName);
							});
						}
					
						
				
						initInputFile("#agregarMenu\\:inputFile");
								/* ]]> */
						</script>
						<!-- <h:panelGroup layout="block" class="form-group" id="field3">
							<h:inputFile class="form-control" id="imagen"
								a:placeholder="imagen"
								value="#{admMenuBean.file}" disabled="#{admMenuBean.padre}">
							</h:inputFile>
							<small id="ayudaTexto" class="form-text text-muted">
								Seleccionar imagen
							</small>
						</h:panelGroup>  -->
						<h:panelGroup layout="block" class="form-group" rendered="false">
							<h:selectOneListbox size="1" class="form-control" id="comboPadre" value="#{admMenuBean.nuevoMenu.idMenuPadre}" disabled="#{admMenuBean.padre}">
								<f:selectItem itemLabel="RAIZ" itemValue="1"></f:selectItem>
								<f:selectItems value="#{admMenuBean.menuPadre}" var="m"
									itemValue="#{m.id}" itemLabel="#{m.texto}" />
							</h:selectOneListbox>
							<small id="ayudaTexto" class="form-text text-muted">
								Menu padre.
							</small>
						</h:panelGroup>
						<h:commandButton rendered="#{admMenuBean.campaniaActual.estado == 'ESPERA'}" class="btn btn-primary oculto" id="crearMenuConfirmado"
							action="#{admMenuBean.crearMenu}" value="Crear">
							<f:ajax render="@form" execute="@form" onevent="reloadTbl" ></f:ajax>
						</h:commandButton>
						<h:commandButton rendered="#{admMenuBean.campaniaActual.estado == 'ESPERA'}" type="button" class="btn btn-primary btn-lg btn-block" id="crearMenu" value="Crear">
						</h:commandButton>
						
						
							<h:panelGroup layout="block"  class="bs-component" rendered="#{admMenuBean.campaniaActual.estado == 'ACTIVA' }">
								<button type="button" class="btn btn-danger btn-block" >Campaña activa</button>
            					
            				</h:panelGroup>
            				
            				<h:panelGroup layout="block"  class="bs-component" rendered="#{admMenuBean.campaniaActual.estado == 'CADUCADA' }">
								<button type="button" class="btn btn-danger btn-block" >Campaña caducada</button>
            					
            				</h:panelGroup>
            				
	
							
					</div>
					<!-- Fin Formulario Ingresar Menu -->
					<!-- Prioridad Menu -->
					<h:panelGroup layout="block" class="col-sm-8">
							<h:inputHidden id="orden" value="#{admMenuBean.menuOrden}"></h:inputHidden>
							
							<h:panelGroup layout="block" id="itemMenuPadre" class="panel-sortable">
							<legend>Orden del Menu</legend>
								<h:panelGroup layout="block" class="bs-component sort">
								<ul class="connectedSortable list-group row" id="ordenable">
									<ui:repeat id="repeatMenuPadre" value="#{admMenuBean.menuPadre}" varStatus="row" var="c">
										<li class="list-group-item d-flex justify-content-between align-items-center"  style="margin: 0px 15px;">
											<h:graphicImage value="/archivos/menu/#{c.imagen}"></h:graphicImage>
											<span class="badge badge-primary badge-pill"> 
											
												<h:commandButton rendered="#{admMenuBean.campaniaActual.estado == 'ESPERA'}" id="btnEliminarMenuConfirmado" class="oculto btn" action="#{admMenuBean.eliminarMenu(c.id)}" >
													 
													<f:ajax render="@form" execute="@form"  onevent="reloadTbl" ></f:ajax>
												</h:commandButton>
												<h:panelGroup layout="block" rendered="#{admMenuBean.campaniaActual.estado == 'ESPERA'}" id="btnEliminarMenu" class="delete"><i class="fas fa-times-circle"></i></h:panelGroup>
												<!-- <h:commandButton  type="button" class="btn btn-danger btn-sm" value="x" />  -->
												
												<script>
												/* <![CDATA[ */
												$('#agregarMenu\\:repeatMenuPadre\\:#{row.index}\\:btnEliminarMenu').confirmation({
													rootSelector : 'formInv\\:btnConfirm',
													placement : 'top',
													btnOkLabel : 'Ok',
													title : 'Confirmación',
													onConfirm : function() {
														$('#agregarMenu\\:repeatMenuPadre\\:#{row.index}\\:btnEliminarMenuConfirmado').click();
												},
													onCancel : function() {
														flagFormato = false;
														return false;
													}
												});
												/* ]]> */
												</script>
												
											</span> 
											<h:inputHidden value="#{c.id}" />
										</li>
									</ui:repeat>
								</ul>
							</h:panelGroup>	
							</h:panelGroup>
							<h:commandButton rendered="#{admMenuBean.campaniaActual.estado == 'ESPERA'}" class="oculto btn"
								 value="Guardar oculto" action="#{admMenuBean.modificarPosicionMenu}"
								id="btnGuardarOrdenConfirmado">
								<f:ajax render="@form" execute="@form"  onevent="reloadTbl" ></f:ajax>
							</h:commandButton>
							<h:commandButton rendered="#{admMenuBean.campaniaActual.estado == 'ESPERA'}" class="btn btn-primary btn-lg btn-block" type="button"
											value="Guardar" id="btnGuardarOrden" >
							</h:commandButton>
					</h:panelGroup >
					<h:panelGroup class="col-sm-12">
							<legend><center>Preview</center></legend>
							<small class="form-text text-muted">
								<center> <h:outputText value=" ---------------------------------------------------- #{admMenuBean.anchoMenu}px ----------------------------------------------------"></h:outputText></center>
							</small>
					</h:panelGroup>
				
						
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
									<tbody>
										<tr>
										<ui:repeat  value="#{admMenuBean.menuPadre}" varStatus="row" var="c">
										<td>
											<a href="#{c.url}"><img src="/archivos/menu/#{c.imagen}" style="display: block;" alt="" width="100%" height="auto"/></a>
										</td>
										</ui:repeat>
										</tr>
									</tbody>
								</table>
					
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
	</h:form>

	
</h:body>
</html>