<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>

<link href="css/jquery-ui.css" rel="stylesheet"></link>
	<link href="css/bootstrap_4/bootstrap.min.css" rel="stylesheet"></link>
	<link href="css/bootswatch/bootswatch.min.css" rel="stylesheet"></link>
	<link href="css/administracion/administracion.css" rel="stylesheet"></link>
	<link rel="stylesheet" href="css/puma_styles_new.css"></link>
	<link rel="stylesheet" href="css/jquery.dataTables.min.css"></link>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/popper.js"></script>
	<script type="text/javascript" src="js/bootstrap_4/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-confirmation.min.js"></script>
	<script type="text/javascript" src="js/administracion/jquery-ui.js"></script>
	
	<script src="js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"></link>
	<script type="text/javascript" src="js/fidelizacion/custom.js"></script>
	
	
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-confirmation.js"></script>
	<script src="js/rateyo/jquery.rateyo.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<link href="css/jquery-ui.css" rel="stylesheet"></link>
	<link href="css/rateyo/jquery.rateyo.css" rel="stylesheet"></link>
	<link href="css/checklist.css" rel="stylesheet"></link>
	<link href="css/styles.puma.min.css" rel="stylesheet"></link> 
	<link href="css/puma_styles.css" rel="stylesheet"></link>
		
	<style>
	body{
		font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
	    font-size: 0.9375rem;
}

	.previewclass{
		font-family: "D-DIN"; 
	}
	.has-feedback .form-control {
    	padding-right: 42.5px;
	}
	.col-xs-6 {
    width: 50%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
	 
}


	</style>
	<script type="text/javascript">
		//<![CDATA[				 

			$( document ).ready(function() {
    iniciar();
});
		
		
		function reloadTbl(data) {

			if (data.status == "begin") {
				 
			}
			if (data.status == "complete") {
				 
			}
			if (data.status == "success") {
				 iniciar();
				 
			}
		}
		
			function iniciar(){
			 var rate=$("#formGenerarCupon\\:rateYoValue").val();
			
				$("#rateYo").rateYo({
				starWidth: "50px",
				rating: rate,
				fullStar: true,
				ratedFill: "#f6c42a",
				normalFill: "rgb(216,214,208)",
				});
				
				$.datepicker.setDefaults($.datepicker.regional['es']);
				$(function() {
					$("#formGenerarCupon\\:fechaNac").datepicker({
						changeYear : true,
						yearRange : "-100:+0"
					});
				});
				
				$.datepicker.regional['es'] = {
						closeText : 'Cerrar',
						prevText : '< Ant',
				  nextText: 'Sig >',
						currentText : 'Hoy',
						monthNames : [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',
								'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre',
								'Noviembre', 'Diciembre' ],
						monthNamesShort : [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
								'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
						dayNames : [ 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves',
								'Viernes', 'Sábado' ],
						dayNamesShort : [ 'Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb' ],
						dayNamesMin : [ 'Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá' ],
						weekHeader : 'Sm',
						dateFormat : 'dd/mm/yy',
						firstDay : 1,
						isRTL : false,
						showMonthAfterYear : false,
						yearSuffix : ''
					};
					
				
			}
			
		
		//]]>
	</script>
</h:head>
<h:body>
	<ui:include src="headerAdm.xhtml" />
		<h:inputHidden value="#{administracionFormularioBean.init()}"></h:inputHidden>
	
	
		<h:panelGroup layout="block" class="container">
	<h:form id="formGenerarCupon">
		<h:panelGroup layout="block" class="row">
			<h:panelGroup layout="block" class="col-sm-4">
		
			<h:panelGroup layout="block" class="form-group">
				<h:selectOneListbox styleClass="custom-select" size="1" id="combo"  value="#{administracionFormularioBean.idCampania}" class="custom-select" >
					<f:selectItem itemLabel="Seleccionar Campaña" itemValue="0"></f:selectItem>
					<f:selectItems value="#{administracionFormularioBean.campanias}" var="t"
						itemLabel="#{t.nombre}" itemValue="#{t.id}" />
						<f:ajax listener="#{administracionFormularioBean.changeCampania}"
						render="@form"  execute="@form"  onevent="reloadTbl"   ></f:ajax>
				</h:selectOneListbox>
				<small id="ayudaTexto" class="form-text text-muted">
					Selecciona Campaña.
				</small>
			</h:panelGroup>
			
			<h:panelGroup layout="block" class="form-group">
				<h:inputText styleClass="form-control" value="#{administracionFormularioBean.nuevo.seccion1}"></h:inputText>
				<small id="ayudaTexto" class="form-text text-muted">
					Sección 1.
				</small>
			</h:panelGroup>
			<h:panelGroup layout="block" class="form-group">
				<h:inputText styleClass="form-control" value="#{administracionFormularioBean.nuevo.seccion2}"></h:inputText>
				<small id="ayudaTexto" class="form-text text-muted">
					Sección 2.
				</small>
			</h:panelGroup>
			<h:panelGroup layout="block" class="form-group">
				<h:inputText styleClass="form-control" value="#{administracionFormularioBean.nuevo.seccion3}"></h:inputText>
				<small id="ayudaTexto" class="form-text text-muted">
					Sección 3.
				</small>
			</h:panelGroup>
			<h:panelGroup layout="block" class="form-group">
				<h:inputText styleClass="form-control" value="#{administracionFormularioBean.nuevo.boton}"></h:inputText>
				<small id="ayudaTexto" class="form-text text-muted">
					Texto Botón.
				</small>
			</h:panelGroup>
			<h:panelGroup layout="block" class="form-group">
				<h:inputTextarea rows="10" styleClass="form-control" value="#{administracionFormularioBean.nuevo.condiciones}"></h:inputTextarea>
				<small id="ayudaTexto" class="form-text text-muted">
					Condiociones.
				</small>
			</h:panelGroup>
			<h:commandButton  styleClass="oculto btn btn-primary btn-lg btn-block" value="Actualizar" id="btnActualizarConfirmado" >
				<f:ajax  execute="@form" render="@form" listener="#{administracionFormularioBean.actualizarCampos}"  ></f:ajax>
			</h:commandButton>
			<h:commandButton type="button" styleClass="btn btn-primary btn-lg btn-block" id="btnActualizar"  value="Actualizar"  >
				
			</h:commandButton>
			
			</h:panelGroup>
			<h:panelGroup layout="block" class="col-sm-8 previewclass" rendered="#{administracionFormularioBean.idCampania == 0}">
				<center><h4>Debe sellecionar una Categoria para cargar el Formulario de registro correspondiente</h4></center>
			</h:panelGroup>
			<h:panelGroup layout="block" id="preview" class="col-sm-8 previewclass" rendered="#{administracionFormularioBean.idCampania != 0}">
			<ui:include src="header.xhtml">	</ui:include>
			
			<!-- inicio -->
			
			<div class="row">
						<div class="col-md-12" style=" float:left ;">
							<br />
						</div>
						<div class="col-sm-12" style=" float:left ;">
							<div class="col-md-12">
								<div class="lightGreyBg">
									<center>
										<h4 class="word-wrap: break-word;">#{administracionFormularioBean.campaniaSelecionada.formulario.seccion1}</h4>
									</center>
								</div>
								<table width="100%" cellspacing="2px">
								<tr>
								<td>
								<h:outputText value="Nombre * "></h:outputText>
											<h:inputText styleClass="form-control" id="input_nombre" name="nombre" ></h:inputText>
											
								</td>
								<td>
								<h:outputText value="Apellido * "></h:outputText>
											<h:inputText styleClass="form-control" id="input_apellido" name="nombre" ></h:inputText>
								</td>
								</tr>
								<tr>
										<td colspan="2">
											<h:outputText value="Rut * "></h:outputText>
										</td>
									</tr>
								<tr>
								<td colspan="2">
								<table width="100%">
								<tr>
								<td width="75%">
								<h:inputText id="rut" styleClass="form-control" name="rut" maxlength="8" ></h:inputText>
								</td>
								<td width="5%"><center>-</center></td>
								<td width="20%">
								<h:inputText styleClass="form-control" name="dv" size="1"
											maxlength="1" id="dv"  ></h:inputText>
								</td>
								</tr>
								</table>
								
								</td>
								</tr>
								<tr>
								<td colspan="2">
								<h:outputText value="Fecha Nacimiento * "></h:outputText>
									<h:inputText styleClass="form-control" name="nacimiento"
										 readonly= "#{facesContext.renderResponse}" id="fechaNac" ></h:inputText>
								</td>
							
								</tr>
								<tr>
								<td colspan="2">
								<h:outputText value="E-mail * "></h:outputText>
									<h:inputText styleClass="form-control" name="mail" ></h:inputText>
								</td>
								</tr>
								</table>
								
								
							</div>
							
							<div class="col-md-12" style=" float:left ;">
								<br />
							</div>
							<div class="col-md-12" style=" float:left ;">
								
									<div class="lightGreyBg">
										<center>
											<h4 class="word-wrap: break-word;">#{administracionFormularioBean.campaniaSelecionada.formulario.seccion2}</h4>
										</center>
									</div>
									<div class="">
											
											<div class=" col-xs-12 funkyradio " style="width:100%">
											<ui:repeat varStatus="row" id="categorias" var="c" value="#{administracionFormularioBean.listaCategoria}">
													<div class="col-xs-6 funkyradio-success " >
														<h:selectBooleanCheckbox name="checkbox" id="checkbox" value="#{c.seleccionado}"  /> <label
															for="formGenerarCupon:categorias:#{row.index}:checkbox" class="checkPreferencias">#{c.texto}</label>
													</div>  
												</ui:repeat>
											</div>
									</div>
								<div class="col-xs-12">
									<br />
								</div>
							</div>
							<div class="col-md-12" style=" float:left ;">
								<div class="lightGreyBg">
									<center>
										<h4 class="word-wrap: break-word;">#{administracionFormularioBean.campaniaSelecionada.formulario.seccion3}</h4>
									</center>
								</div>
								<center>
									<div class="rate-panel" id="rateYo"></div>
								</center>
								<h:inputHidden id="rateYoValue" value="3"></h:inputHidden>
								<div class="col-lg-12">
									<div style="text-align: justify;font-size: 11px;">
									#{administracionFormularioBean.campaniaSelecionada.formulario.condiciones}
									</div>
								</div>
								<div class="col-md-12">
									<br />
								</div>
								<div class="col-md-12">
									<center>
										<h:selectBooleanCheckbox id="aceptarCondiciones" value="#{administracionFormularioBean.condiciones}"></h:selectBooleanCheckbox>
										Aceptar Condiciones
									</center>
								</div>
								<div class="col-md-12">
									<br />
								</div>
							 
								<div class="col-md-12">
									<center>
										<h:commandButton class="button button--black" type="button"
											value="#{administracionFormularioBean.campaniaSelecionada.formulario.boton}" id="generarCupon1">
										</h:commandButton>		
										<h:inputHidden id="formulariovalidado" value="#{administracionFormularioBean.validado}"></h:inputHidden>
									</center>
								</div>
							</div>
						</div>
					</div>
			<!-- FIN -->
			</h:panelGroup>
		</h:panelGroup>
		
		<script>
		/* <![CDATA[ */
		$(function(){
			$('#formGenerarCupon\\:btnActualizar')
			.confirmation(
					{
						placement : 'top',
						btnOkLabel : 'Ok',
						title : 'Confirmación',
						onConfirm : function() {
							$('#formGenerarCupon\\:btnActualizarConfirmado').click();
						},
						onCancel : function() {
							flagFormato = false;	
							return false;
						}
		})
		
					})
		/* ]]> */
	</script>
	 </h:form>
	 </h:panelGroup>
	
</h:body>

</html>