<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<ui:include src="headerImport.xhtml" />	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"></link>
	
	<script src="js/fidelizacion/administracion_cupon.js"></script>
	<script src="js/fidelizacion/formValidate.js"></script>
	<script>
	/* <![CDATA[ */
		function reloadTbl(data) {
			if (data.status == "begin") {
				on();
			}
			if (data.status == "complete") {

			}
			if (data.status == "success") {
				inicializar();
				initInputFile("#formulario\\:inputFile");
				off();
			}
		}
		
		$(document).on('ready', function() {
			inicializar();
			initInputFile("#formulario\\:inputFile");
		});
		
		function validarCupon(){		
			
			var textPattern = "^[\\w\\s\\d]{1,30}$"
			var namePattern = "^[a-z A-Z]{1,30}$";
			var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
			var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
			var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
			var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
			var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
			var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
			var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
		
			var mensaje = "";
			
			var valido = true;	
			
			
	
		    //Check #CampaniaSeleccionada
		    if(!checkSelectOne("#formulario\\:SelectOne"))
			{
				mensaje += "<li>Debes seleccionar una campania para asignar los cupones</li>";
				if(valido){valido=false}
			}
			
			
			//Check #condiciones
			if(!checkTextarea( "#formulario\\:txtArea", textPattern))
			{
				mensaje += "<li>Debes indicar alguna condicion para los cupones</li>";
				if(valido){valido=false}
			}
			
			//Check #File
			if(!checkInputFile( "#formulario\\:inputFile"))
			{
				mensaje += "<li>Debes seleccionar un archivo para cargar</li>";
				if(valido){valido=false}
			}
			
		

			
			if(!valido)
			{
				printMensaje(mensaje,  "#formulario\\:msgBox" )
			}
			console.log(valido);
			return valido;
			
		}
		
		function printMensaje(mensaje, msgPanel)
		{
		
			var panel = "<div class='col-sm-12'>" +
						"<div class='alert alert-dismissible alert-danger'>" +
						"  <button type='button' class='close' data-dismiss='alert'>&times;</button> <strong>Oh! hay un problema en tu formulario!</strong>"+
						"<ul>" +
						mensaje
						"</ul>" +
						"</div>"+
						"</div>";
						
			$(msgPanel).html(panel);
		}
		
		function inicializar(){
			$("#detalleCargaMasiva").DataTable({
				responsive : false,
				"searching" : false,
				"ordering" : false,
				"bLengthChange" : false,
				"language" : {
					"lengthMenu" : "Ver _MENU_ Registros por pagina",
					"zeroRecords" : "Ningun Registro Encontrado",
					"info" : "Visualizando _PAGE_ de _PAGES_",
					"infoEmpty" : "Sin Registros",
					"infoFiltered" : "(De un Total de _MAX_ Registros)",
					"sSearch" : "Buscar:",
					"oPaginate" : {
						"sFirst" : "Primero",
						"sLast" : "Último",
						"sNext" : "Siguiente",
						"sPrevious" : "Anterior"
					}
				}
			});

			
			
	$("#formulario\\:btnCargarCupon").confirmation({
		rootSelector : 'formInv\\:btnConfirm',
		placement : 'top',
		btnOkLabel : 'Ok',
		title : 'Confirmacion',
		onConfirm : function() {
			if(validarCupon()){
				$( "#formulario\\:btnCargarCuponConfirmado" ).click();
			}
	},
		onCancel : function() {
			flagFormato = false;
			return false;
		}
	})
	$("#formulario\\:comboCondicion").change(function(){
		if($(this).val() != 0){
			$("#formulario\\:condiciones").val($("#formulario\\:comboCondicion option:selected").text()); 
		}else{
			$("#formulario\\:condiciones").val(""); 
		}
		
		
	})
			
			 
		}
	/* ]]> */
	</script>
	
</h:head>
<h:body>
	<h:inputHidden value="#{admCuponBean.init()}"/>
	<ui:include src="headerAdm.xhtml" />
	
	<h:panelGroup layout="block" class="container">
		<h:panelGroup layout="block" class="row">
				
			<h:panelGroup layout="block" class="col-sm-12">
				<h:form name="cargarCupones" id="formulario"   enctype="multipart/form-data">
				<!-- Panel de mensajes -->
				<h:panelGroup layout="block" id="msgBox" class="row">
					<h:panelGroup layout="block" class="container">
						<ui:repeat var="msg" value="#{admCuponBean.mensajes}">
							<h:panelGroup layout="block" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':''}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<h4 class="alert-heading">#{msg.titulo}</h4>
							<h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
						</h:panelGroup>
						</ui:repeat>
					</h:panelGroup>
				</h:panelGroup>
				
				<h:panelGroup layout="block" class="col-sm-12">
					<legend>Administrar Cupones </legend>
					<hr/>
				</h:panelGroup>
					<h:panelGroup layout="block" class="col-sm-12">
				<h:panelGroup layout="block" class="row">
					<!-- Formulario Ingresar Cupon -->
				
						
						<h:panelGroup layout="block" class="col-sm-4">
						<legend>Cargar </legend>
						  <h:panelGroup layout="block" class="form-group" id="SelectOne">
		                	<h:outputLabel for="copiarCampania" value="Campaña"></h:outputLabel>
		                	<h:selectOneListbox size="1" id="combo" value="#{admCuponBean.idCampania}" class="custom-select" >
								<f:selectItem itemLabel="Seleccionar Campaña" itemValue="0"></f:selectItem>
								<f:selectItems value="#{admCuponBean.campanias}" var="t"
									itemLabel="#{t.nombre}" itemValue="#{t.id}" />
									<f:ajax listener="#{admCuponBean.changeCampania}"
									render="@form"  execute="@form" onevent="reloadTbl"   ></f:ajax>
							</h:selectOneListbox>
							<small id="ayudaTexto" class="form-text text-muted">Seleccionar Campaña</small>		
		                </h:panelGroup>
						
		              
		                
		                <!-- Input % dcto. -->
		                <h:panelGroup layout="block" class="form-group" id="descuento" rendered="false">
		                  <h:panelGroup layout="block" class="input-group mb-3">
		                    <h:panelGroup layout="block" class="input-group-prepend">
		                      <span class="input-group-text">Dcto.</span>
		                    </h:panelGroup>
		                    <h:inputText class="form-control" value="#{admCuponBean.descuento}"></h:inputText>
		                    <h:panelGroup layout="block" class="input-group-append">
		                      <span class="input-group-text">%</span>
		                    </h:panelGroup>
		                  </h:panelGroup>
		                  <small id="ayudaTexto" class="form-text text-muted">Descuento.</small>	
		                </h:panelGroup>
		                
		                <!-- Select One Condicion -->
		                <h:panelGroup layout="block" class="form-group" id="SelectOneCondicion">
		                	<h:outputLabel for="texto" value="Condicion template"></h:outputLabel>
		                	<h:selectOneListbox size="1" id="comboCondicion" value="0" class="custom-select" >
								<f:selectItem itemLabel="Seleccionar Condicion" itemValue="0"></f:selectItem>
								<f:selectItems value="#{admCuponBean.condiciones}" var="c"
									itemLabel="#{c.texto}" itemValue="#{c.id}" />
							</h:selectOneListbox>		
							<small id="ayudaTexto" class="form-text text-muted">Condiciones.</small>	
		                </h:panelGroup>
		                
		                <!-- Input text Area  -->
		                <h:panelGroup layout="block" class="form-group" id="txtArea">
		                    <label for="">Condiciones </label>
		                    <h:inputTextarea a:placeholder="Condiciones" class="form-control" id="condiciones" rows="4" a:maxlength="200" value="#{admCuponBean.textArea}"></h:inputTextarea>
		                    <small id="contadorCondiciones" class="form-text text-muted">
								200.
							</small>
							
		                </h:panelGroup>
		                
		                <!-- Input File -->
						<h:panelGroup layout="block" class="form-group" id="inputFile">
							<h:outputLabel for="texto" value="Archivo"></h:outputLabel>
		                  <h:panelGroup layout="block" class="input-group mb-3">
		                    <h:panelGroup layout="block" class="custom-file">
		                      <h:inputFile type="file"  value="#{admCuponBean.file}" class="custom-file-input" id="inputGroupFile02" />
		                      <h:outputLabel class="custom-file-label" for="inputGroupFile02" id="inputFileLabel" value="Selecciona archivo"></h:outputLabel>
		                     
		                    </h:panelGroup>

		                  </h:panelGroup>
		                  <small style="margin-top: -0.75rem;" id="ayudaTextoAlt" class="form-text text-muted">
								Archivo de carga.
							</small>
		                </h:panelGroup>
		                
						
						<h:commandButton class="btn btn-primary" id="btnCargarCuponConfirmado"
							action="#{admCuponBean.cargarCupones}" value="Cargar" style="display:none">
							<f:ajax render="@form" execute="@form"  onevent="reloadTbl" ></f:ajax>
						</h:commandButton>
						
						<h:commandButton class="btn btn-primary btn-lg btn-block" id="btnCargarCupon"
							value="Cargar" type="button">
						</h:commandButton>
					</h:panelGroup>
					<!-- Fin Formulario Ingresar Cupon -->
					<!-- Tabla de archivos cargados -->

					<h:panelGroup layout="block" class="col-sm-8">
					<legend>Detalle campaña selecionada</legend>
					<h5>Cupones disponibles : #{admCuponBean.cantidadDisponible}</h5>
						<h:panelGroup layout="block" id="detalle">
							<table id="detalleCargaMasiva" class="table table-hover">
								<thead>
									<td>Id</td>
									<td>Nombre</td>
									<td>Fecha</td>
									<td>Cupones</td>
									<td ></td>
									<td></td>

								</thead>
								<tbody>
									<ui:repeat var="fileCarga" value="#{admCuponBean.cargaMasiva}" id="listaCargaMasiva" varStatus="status">
										<tr>
											<td>
												<h:outputText value="#{fileCarga.id}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{fileCarga.nombre}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{fileCarga.fecha}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{fileCarga.cupones}"></h:outputText>
											</td>
											<td>
												<h:outputLink styleClass="fondoNegro" value="archivos/cupones/#{fileCarga.nombre}"><i class="fas fa-file-excel"></i></h:outputLink>
												
												
											</td>
											
											<td>
												<h:panelGroup>
														
														<h:commandButton id="btnConfirmado" class="oculto btn" action="#{admCuponBean.eliminarCargaMasiva}" >
															<f:param name="id" value="#{fileCarga.id}" />
														</h:commandButton>
														
														<h:panelGroup layout="block" id="btnEliminar" class="delete"><i class="fas fa-times-circle"></i></h:panelGroup>
														<script>
														/* <![CDATA[ */
															$('#formulario\\:listaCargaMasiva\\:#{status.index}\\:btnEliminar').confirmation({
																placement : 'top',
																btnOkLabel : 'Ok',
																title : 'Confirmación',
																onConfirm : function() {
																	$('#formulario\\:listaCargaMasiva\\:#{status.index}\\:btnConfirmado').click();
															},
																onCancel : function() {
																	flagFormato = false;
																	return false;
																}
															})
														/* ]]> */
														</script>
														
												</h:panelGroup>
											
											</td>
											
										</tr>
									</ui:repeat>
								</tbody>
							</table>
						</h:panelGroup>	
						 
					</h:panelGroup>

				</h:panelGroup>
				</h:panelGroup>
				</h:form>
			</h:panelGroup>
		</h:panelGroup>
		
	
	</h:panelGroup>
		
	
</h:body>
</html>