<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<ui:include src="headerImport.xhtml" />	
	<script src="js/fidelizacion/formValidate.js"></script>	

	<script type="text/javascript">
		//<![CDATA[				 

			$( document ).ready(function() {
    //iniciar();
});
		function reloadTbl(data) {

			if (data.status == "begin") {
				 on()
			}
			if (data.status == "complete") {
				 
			}
			if (data.status == "success") {
				 //iniciar();
				 off();
			}
		}
		
		
		function validarFormato(){		
				
				var textPattern = "^[\\w\\s\\d]{1,30}$"
				var namePattern = "^[a-z A-Z]{1,30}$";
				var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
				var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
				var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
				var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
				var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
				var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
				var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
			
				var mensaje = "";
				
				var valido = true;	
				
				
			
			    //Check #CampaniaSeleccionada
			    if(!checkSelectOne("#formGenerarCupon\\:mailCupon-Campania"))
				{
					mensaje += "<li>Debes seleccionar una campania</li>";
					if(valido){valido=false}
				}
				
				//Check #Asunto
				if(!checkNotNull( "#formGenerarCupon\\:mailCupon-asunto", textPattern ))
				{
					mensaje += "<li>Debes indicar un asunto valida</li>";
					if(valido){valido=false}
				}
			
				
				//Check #Texto
				/*if(!checkInput( "#formGenerarCupon\\:mailCupon-texto", textPattern))
				{
					mensaje += "<li>Debes indicar el <b>nombre</b> para la imagen</li>";
					if(valido){valido=false}
				}
				
				
				
				//Check #File
				if(!checkInputFile( "#formGenerarCupon\\:inputFile"))
				{
					mensaje += "<li>Debes seleccionar una imagen para cargar</li>";
					if(valido){valido=false}
				}
				*/
				
	
				
				if(!valido)
				{
					printMensaje(mensaje,  "#formGenerarCupon\\:mensajes" )
				}
				return valido;
			}
			
			function printMensaje(mensaje, msgPanel)
			{
			
				var panel = "<div class='col-sm-12'>" +
							"<div class='alert alert-dismissible alert-danger'>" +
							"  <button type='button' class='close' data-dismiss='alert'>&times;</button> <strong>Oh! hay un problema en tu formulario!</strong>"+
							"<ul>" +
							mensaje
							"</ul>" +
							"</div>"+
							"</div>";
							
				$(msgPanel).html(panel);
			}
		//]]>
	</script>
	
</h:head>
<h:body>
	<ui:include src="headerAdm.xhtml" />
		<h:inputHidden value="#{administracionFormatoCuponBean.init()}"></h:inputHidden>
		<h:panelGroup layout="block" class="container">
		
			

		
	<h:form id="formGenerarCupon" enctype="multipart/form-data">
		<!-- Panel de mensajes -->
				<h:panelGroup layout="block" id="mensajes" class="row">
					<h:panelGroup layout="block" class="container">
						<ui:repeat var="msg" value="#{administracionFormatoCuponBean.mensajes}">
							<h:panelGroup layout="block" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':''}">
				                <button type="button" class="close" data-dismiss="alert">×</button>
				                <h4 class="alert-heading">#{msg.titulo}</h4>
				                <h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
				            </h:panelGroup>
						</ui:repeat>
					</h:panelGroup>
				</h:panelGroup>
		<!-- FIN panel de mensajes -->
		<h:panelGroup layout="block" class="col-sm-12">
			<legend>Mail Cupón </legend>
			<hr/>
		</h:panelGroup>
		
		<h:panelGroup layout="block" class="row" id="formulario" >
			<h:panelGroup layout="block" class="col-sm-4" >
		
			<h:panelGroup layout="block" class="form-group" id="mailCupon-Campania">
				<h:outputLabel for="copiarCampania" value="Campaña"></h:outputLabel>
				<h:selectOneListbox styleClass="custom-select" size="1" id="combo"  value="#{administracionFormatoCuponBean.idCampania}" class="custom-select" >
					
					<f:selectItem itemLabel="Seleccionar Campaña" itemValue="0"></f:selectItem>
					<f:selectItems value="#{administracionFormatoCuponBean.campanias}" var="t"
						itemLabel="#{t.nombre}" itemValue="#{t.id}" />
						<f:ajax listener="#{administracionFormatoCuponBean.changeCampania}"
						render="formulario"  execute="@this"  onevent="reloadTbl"   ></f:ajax>
				</h:selectOneListbox>
				<small id="ayudaTexto" class="form-text text-muted">
					Selecciona Campaña.
				</small>
			</h:panelGroup>
			
			<h:panelGroup layout="block" class="form-group" id="mailCupon-asunto">
				<h:outputLabel for="copiarCampania" value="Asunto"></h:outputLabel>
				<h:inputText a:placeholder="Asunto" styleClass="form-control" value="#{administracionFormatoCuponBean.formato.asunto}" ></h:inputText>
				<small id="ayudaTexto" class="form-text text-muted">
					Asunto que tendrá el email
				</small>
			</h:panelGroup>
			<h:panelGroup layout="block" class="form-group" id="mailCupon-texto">
				<h:outputLabel for="copiarCampania" value="Texto"></h:outputLabel>
				<h:inputText a:placeholder="Texto" styleClass="form-control" value="#{administracionFormatoCuponBean.formato.texto}" ></h:inputText>
				<small id="ayudaTexto" class="form-text text-muted">
					Texto del email
				</small>
			</h:panelGroup>
			
			<!-- Input File -->
			<h:panelGroup layout="block" class="form-group" id="inputFile">
				<h:outputLabel for="copiarCampania" value="Imagen"></h:outputLabel>
				<h:panelGroup layout="block" class="input-group mb-3">
					<h:panelGroup layout="block" class="custom-file">
						<h:inputFile type="file" value="#{administracionFormatoCuponBean.url}" class="custom-file-input" id="imagenTemplate" />
		              	<h:outputLabel id="inputFileLabel" class="custom-file-label" for="imagenTemplate" value="Selecciona archivo"></h:outputLabel>
		      		 </h:panelGroup>
		      	</h:panelGroup>
		      	<small style="margin-top: -0.75rem;" id="ayudaTexto" class="form-text text-muted">
					Imagen del email
				</small>
		    </h:panelGroup>
	
			
			<h:commandButton  styleClass="oculto btn btn-primary btn-lg btn-block" value="Actualizar" id="btnActualizarConfirmado" rendered="#{administracionFormatoCuponBean.estadoCampania == 'ESPERA'}">
				<f:ajax  execute="@form" render="@form formGenerarCupon:mensajes" onevent="reloadTbl" listener="#{administracionFormatoCuponBean.actualizarCampos}"  ></f:ajax>
			</h:commandButton>
			<h:commandButton type="button" styleClass="btn btn-primary btn-lg btn-block" id="btnActualizar"  value="Actualizar" rendered="#{administracionFormatoCuponBean.estadoCampania == 'ESPERA'}" >
				
			</h:commandButton>
			<h:commandButton type="button" styleClass="btn btn-danger btn-lg btn-block" value="Campaña activa" rendered="#{administracionFormatoCuponBean.estadoCampania == 'ACTIVA'}" >
				
			</h:commandButton>
			<h:commandButton type="button" styleClass="btn btn-danger btn-lg btn-block" value="Campaña caducada" rendered="#{administracionFormatoCuponBean.estadoCampania == 'CADUCADA'}" >
				
			</h:commandButton>
			
			</h:panelGroup>
			<h:panelGroup layout="block" class="col-sm-8 previewclass" rendered="#{administracionFormatoCuponBean.idCampania == 0}">
				<center><h4>Debe seleccionar una campaña para cargar el formato del cupón</h4></center>
			</h:panelGroup>

			<h:panelGroup layout="block" id="preview" class="col-sm-8 previewclass" rendered="#{administracionFormatoCuponBean.idCampania != 0}">

	 
	
	
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="col-sm-8">
	<tbody>
	
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
					<tbody>
					<tr>
						<td style="font-family: Arial;font-size:12px"><center>Si usted no visualiza bien este correo, por favor <a href="" target="_blank"><h:outputText value="ingrese aqu&iacute;" escape="false" ></h:outputText></a></center>
						</td>
						</tr>
						<tr>
							<td>
								
								<ui:include src="header.xhtml">	</ui:include>
								
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
									<tbody>
										<tr>
											<td>
												<table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="">
													<tbody>
													<tr>
													<td style="font-family: Arial;font-size:14px"><center> <h:outputText value="#{administracionFormatoCuponBean.formato.texto}"></h:outputText> </center></td>
													</tr>
													
													<tr>
													<td style="font-family: Arial;font-size:14px">
														<h:panelGroup rendered="#{administracionFormatoCuponBean.formato.cantFoto gt 0}">
														<center>
															<img src="http://#{administracionFormatoCuponBean.direccionServer}/archivos/cupon/#{administracionFormatoCuponBean.formato.urlFoto}" alt="" style="display: block; margin: 0px;"/>
														 </center>
														 </h:panelGroup>
													</td>
													</tr>
													
													<tr>
													<td>
													<div style="height: 50px;"></div>
													</td>
													</tr>
														<tr>
															<td><center>
																<a href="http://www.puma.com" target="_blank"><img src="http://#{administracionFormatoCuponBean.direccionServer}/archivos/cupon/cupon_preview.png" width="300px" height="auto" alt="" style="display: block; margin: 0px;"/></a>
																</center>
															</td>
														</tr>
														<tr>
													<td>
														<table style="font-family: Arial;font-size:12px"><tr><td><b>Condiciones:</b></td></tr>
															<tr><td ><h:outputText escape="false" value="#{administracionFormatoCuponBean.condicion}"></h:outputText></td></tr>
														</table>
													
													</td>
													</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
								<ui:include src="footer.xhtml">	</ui:include>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
	
	</h:panelGroup>
		<script>
		/* <![CDATA[ */
		
		function initInputFile(id)
		{
			$(id + " input[type='file']" ).change(function(){
				var path = $( id + " input[type='file']").val();
				var filePath = path.split('\\');
				var fileName = filePath[filePath.length-1];
				$(id + "Label").text(fileName);
			});
		}
	
		

		initInputFile("#formGenerarCupon\\:inputFile");
		
		
		$(function(){
			$('#formGenerarCupon\\:btnActualizar')
			.confirmation(
					{
						placement : 'top',
						btnOkLabel : 'Ok',
						title : 'Confirmación',
						onConfirm : function() {
							if(validarFormato()){
								$('#formGenerarCupon\\:btnActualizarConfirmado').click();							
							}
						},
						onCancel : function() {
							flagFormato = false;	
							return false;
						}
		})
		
					})
		/* ]]> */
	</script>
	
	</h:panelGroup>

</h:form>
				
				</h:panelGroup>
		
	

</h:body>

</html>