<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<ui:include src="headerImport.xhtml" />	
	<script src="js/fidelizacion/formValidate.js"></script>	

	<script type="text/javascript">
		//<![CDATA[				 

			$( document ).ready(function() {
    //iniciar();
});
		
		
		function reloadTbl(data) {

			if (data.status == "begin") {
				 on();
			}
			if (data.status == "complete") {
				 
			}
			if (data.status == "success") {
				 //iniciar();
				 off();
				 
			}
		}
		
		function validarCampania(){		
			
			var textPattern = "^[\\w\\s\\d]{1,30}$"
			var namePattern = "^[a-z A-Z]{1,30}$";
			var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
			var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
			var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
			var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
			var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
			var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
			var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
		
			var mensaje = "";
			
			var valido = true;	
			
		
		    //Check #CampaniaSeleccionada
		    if(!checkSelectOne("#formGenerarCupon\\:formulario-campania"))
			{
				mensaje += "<li>Debes seleccionar una campania para copiar</li>";
				if(valido){valido=false}
			}
			
			//Check #Seccion1
			if(!checkNotNull( "#formGenerarCupon\\:formulario-seccion1"))
			{
				mensaje += "<li>Debes especificar el texto de la seccion 1</li>";
				if(valido){valido=false}
			}
			
			// #Seccion2
			if( $('#formGenerarCupon\\:customCheck1').is(':checked') ) {
			    //Check #CampaniaSeleccionada
			    if(!checkNotNull("#formGenerarCupon\\:formulario-seccion2"))
				{
					mensaje += "<li>Debes especificar el texto de la seccion 2</li>";
					if(valido){valido=false}
				}
			}
			
			// #Seccion3
			if( $('#formGenerarCupon\\:customCheck2').is(':checked') ) {
			    //Check #CampaniaSeleccionada
			    if(!checkNotNull("#formGenerarCupon\\:formulario-seccion3"))
				{
					mensaje += "<li>Debes especificar el texto de la seccion 3</li>";
					if(valido){valido=false}
				}
			}
			
			//Check #Boton
			if(!checkNotNull( "#formGenerarCupon\\:formulario-boton",))
			{
				mensaje += "<li>Debes especificar el texto del botón</li>";
				if(valido){valido=false}
			}
			
			//Check #condiciones
			if(!checkTextarea( "#formGenerarCupon\\:formulario-condiciones" ))
			{
				mensaje += "<li>Debes indicar alguna condicion para los cupones</li>";
				if(valido){valido=false}
			}
			
			if(!valido)
			{
				printMensaje(mensaje,  "#formGenerarCupon\\:msgBox" )
			}
			return valido;
		}
		
		function printMensaje(mensaje, msgPanel)
		{
		
			var panel = "<div class='col-sm-12'>" +
						"<div class='alert alert-dismissible alert-danger'>" +
						"  <button type='button' class='close' data-dismiss='alert'>&times;</button> <strong>Oh! hay un problema en tu formulario!</strong>"+
						"<ul>" +
						mensaje
						"</ul>" +
						"</div>"+
						"</div>";
						
			$(msgPanel).html(panel);
		}
		
		
		//]]>
	</script>
</h:head>
<h:body>
	<ui:include src="headerAdm.xhtml" />
		<h:inputHidden value="#{administracionFormularioBean.init()}"></h:inputHidden>
	
	
		<h:panelGroup layout="block" class="container">
		
		
		
	<h:form id="formGenerarCupon">
	
		<!-- Panel de mensajes -->
				<h:panelGroup layout="block" id="mensajes" class="row">
					<h:panelGroup layout="block" id="msgBox" class="container">
						<ui:repeat var="msg" value="#{administracionFormularioBean.mensajes}">
							<h:panelGroup layout="block" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':''}">
				                <button type="button" class="close" data-dismiss="alert">×</button>
				                <h4 class="alert-heading">#{msg.titulo}</h4>
				                <h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
				            </h:panelGroup>
						</ui:repeat>
					</h:panelGroup>
				</h:panelGroup>
		<!-- FIN panel de mensajes -->
		
		<h:panelGroup layout="block" class="row">
			<h:panelGroup layout="block" class="col-sm-12">
<legend>Formulario Registro </legend>
<hr/>
</h:panelGroup>
			<h:panelGroup layout="block" class="col-sm-4">
		
			<h:panelGroup layout="block" class="form-group" id="formulario-campania">
				<h:outputLabel value="Campaña"></h:outputLabel>
				<h:selectOneListbox styleClass="custom-select" size="1" id="combo"  value="#{administracionFormularioBean.idCampania}" class="custom-select" >
					<f:selectItem itemLabel="Seleccionar Campaña" itemValue="0"></f:selectItem>
					<f:selectItems value="#{administracionFormularioBean.campanias}" var="t"
						itemLabel="#{t.nombre}" itemValue="#{t.id}" />
						<f:ajax listener="#{administracionFormularioBean.changeCampania}"
						render="@form"  execute="@form"  onevent="reloadTbl"   ></f:ajax>
				</h:selectOneListbox>
				<small id="ayudaTexto" class="form-text text-muted">
					Selecciona Campaña
				</small>
			</h:panelGroup>
			
			<h:panelGroup layout="block" class="form-group" id="formulario-seccion1">
				<h:outputLabel value="Subtitulo sección 1"></h:outputLabel>
				<h:inputText a:placeholder="Subtitulo sección 1" styleClass="form-control" value="#{administracionFormularioBean.nuevo.seccion1}"></h:inputText>
				<small id="ayudaTexto" class="form-text text-muted">
					Sección 1
				</small>
				
				<h:panelGroup class="col-sm-12">
				<h:panelGroup class="row">
					<h:panelGroup class="col-sm-9">
						<h:outputLabel value="Campo"></h:outputLabel>
						<h:selectOneListbox styleClass="custom-select" value="#{administracionFormularioBean.idCampo}" size="1">
						<f:selectItem itemLabel="Seleccionar Campo" itemValue="0" ></f:selectItem>
						<f:selectItems value="#{administracionFormularioBean.campos}" var="t"
							itemLabel="#{t.label}" itemValue="#{t.id}" />
						</h:selectOneListbox> 
						<small id="ayudaTexto" class="form-text text-muted">
							Campo adicional
						</small>
					</h:panelGroup>
					<h:panelGroup class="col-sm-3">
						<h:outputLabel valie=" "></h:outputLabel>
						<h:panelGroup layout="block" id="btnAdd" class="delete" rendered="#{administracionFormularioBean.campaniaSelecionada.estado == 'ESPERA'}"><i class="fa fa-2x fa-plus-circle"></i></h:panelGroup>
						<h:commandButton  styleClass="btn btn-primary btn-lg btn-block oculto"  id="addcampo1">
							<f:ajax  execute="@form" render="@form mensajes" onevent="reloadTbl" listener="#{administracionFormularioBean.agregaCampo}"  ></f:ajax>
						</h:commandButton>
						<script>
						/* <![CDATA[ */
							$('#formGenerarCupon\\:btnAdd').confirmation({
								rootSelector : 'formInv\\:btnConfirm',
								placement : 'top',
								btnOkLabel : 'Ok',
								title : 'Confirmación',
								onConfirm : function() {
									$('#formGenerarCupon\\:addcampo1').click();
							},
								onCancel : function() {
									flagFormato = false;
									return false;
								}
							})
							
						/* ]]> */
						</script>
					</h:panelGroup>
				</h:panelGroup>
				<h:panelGroup class="col-sm-12">
				<table width="100%">
				<thead>
				<tr style="background-color:gray; color:white;"><td><center>Campo</center></td><td><center>Eliminar</center></td></tr>
				</thead>
				<tbody>
				<ui:repeat id="camposAdicionanesSel" value="#{administracionFormularioBean.camposCampania}" var="cam" varStatus="myVarStatus">
					<tr>
					<td> <center><h:outputText value="#{cam.campo.label}"></h:outputText></center></td>
					<td>
					
					
					<h:commandButton   styleClass="oculto" id="btnElimAdicional" action="#{administracionFormularioBean.eliminarCampo(myVarStatus.index)}" >
						<f:ajax  execute="@form" render="@form" onevent="reloadTbl"   ></f:ajax>
					</h:commandButton>
					<center>
						<h:panelGroup layout="block" id="btnEliminar" class="delete" rendered="#{administracionFormularioBean.campaniaSelecionada.estado == 'ESPERA'}" ><i class="fas fa-times-circle"></i></h:panelGroup>
					</center>
						<script>
						/* <![CDATA[ */
							$('#formGenerarCupon\\:camposAdicionanesSel\\:#{myVarStatus.index}\\:btnEliminar').confirmation({
								rootSelector : 'formInv\\:btnConfirm',
								placement : 'top',
								btnOkLabel : 'Ok',
								title : 'Confirmación',
								onConfirm : function() {
									$('#formGenerarCupon\\:camposAdicionanesSel\\:#{myVarStatus.index}\\:btnElimAdicional').click();
							},
								onCancel : function() {
									flagFormato = false;
									return false;
								}
							})
						/* ]]> */
						</script>
					</td>
					</tr>
				</ui:repeat>
				</tbody>
				</table> 
				</h:panelGroup>
				</h:panelGroup>
			</h:panelGroup>
			
			
			<h:panelGroup class="row">
				
				
				
				<h:panelGroup class="col-sm-12">
				<h:panelGroup layout="block" class="form-group" id="formulario-seccion2" style="margin-bottom: -0.1rem;">
				<h:outputLabel value="Subtitulo sección 2"></h:outputLabel>
				<h:inputText a:placeholder="Subtitulo sección 2" styleClass="form-control" value="#{administracionFormularioBean.nuevo.seccion2}"></h:inputText>
				
				</h:panelGroup>
			
			<small id="ayudaTexto" class="form-text text-muted">
					
		
						<h:panelGroup layout="block" class="custom-control custom-checkbox" >
							<h:selectBooleanCheckbox class="custom-control-input" id="customCheck1"  value="#{administracionFormularioBean.nuevo.flags2}">
							</h:selectBooleanCheckbox>
		      				<label class="custom-control-label" for="formGenerarCupon:customCheck1">Activar sección</label>
						</h:panelGroup>
		
		
				</small>
			</h:panelGroup>
			
			</h:panelGroup>
			<h:panelGroup class="row">
				
				
				
				<h:panelGroup class="col-sm-12">
				<h:panelGroup layout="block" class="form-group" id="formulario-seccion3" style="margin-bottom: -0.1rem;">
				<h:outputLabel value="Subtitulo sección 3"></h:outputLabel>
				<h:inputText  a:placeholder="Subtitulo sección 3" styleClass="form-control" value="#{administracionFormularioBean.nuevo.seccion3}"></h:inputText>
				
				</h:panelGroup>
			
			<small id="ayudaTexto" class="form-text text-muted">
					
		
					
						<h:panelGroup layout="block" class="custom-control custom-checkbox" >
							<h:selectBooleanCheckbox class="custom-control-input" id="customCheck2"  value="#{administracionFormularioBean.nuevo.flags3}">
							</h:selectBooleanCheckbox>
		      				<label class="custom-control-label" for="formGenerarCupon:customCheck2">Activar sección</label>
						</h:panelGroup>
					
		
		
				</small>
			</h:panelGroup>
			
			</h:panelGroup>


			<h:panelGroup layout="block" class="form-group" id="formulario-boton">
				<h:outputLabel value="Botón"></h:outputLabel>
				<h:inputText  a:placeholder="Texto que mostrará el botón" styleClass="form-control" value="#{administracionFormularioBean.nuevo.boton}"></h:inputText>
				<small id="ayudaTexto" class="form-text text-muted">
					Texto Botón
				</small>
			</h:panelGroup>
			<h:panelGroup layout="block" class="form-group" id="formulario-condiciones">
				<h:outputLabel value="Condiciones"></h:outputLabel>
				<h:inputTextarea  a:placeholder="Condiciones de la campaña" rows="10" styleClass="form-control" value="#{administracionFormularioBean.nuevo.condiciones}"></h:inputTextarea>
				<small id="ayudaTexto" class="form-text text-muted">
					Condiciones
				</small>
			</h:panelGroup>
			<h:commandButton  styleClass="oculto btn btn-primary btn-lg btn-block" value="Actualizar" id="btnActualizarConfirmado" rendered="#{administracionFormularioBean.campaniaSelecionada.estado == 'ESPERA'}">
				<f:ajax  execute="@form" render="@form mensajes" onevent="reloadTbl" listener="#{administracionFormularioBean.actualizarCampos}"  ></f:ajax>
			</h:commandButton>
			<h:commandButton type="button" styleClass="btn btn-primary btn-lg btn-block" id="btnActualizar"  value="Actualizar" rendered="#{administracionFormularioBean.campaniaSelecionada.estado == 'ESPERA'}" >
				
			</h:commandButton>
			
			<h:commandButton type="button" styleClass="btn btn-danger btn-lg btn-block"   value="Campaña Activa" rendered="#{administracionFormularioBean.campaniaSelecionada.estado == 'ACTIVA'}" >
				
			</h:commandButton>
			
			<h:commandButton type="button" styleClass="btn btn-danger btn-lg btn-block"   value="Campaña Caducada" rendered="#{administracionFormularioBean.campaniaSelecionada.estado == 'CADUCADA'}" >
				
			</h:commandButton>
			
			</h:panelGroup>
			<h:panelGroup layout="block" class="col-sm-8 previewclass" rendered="#{administracionFormularioBean.idCampania == 0}">
				<center><h4>Debe seleccionar una campaña para cargar el formulario de registro correspondiente</h4></center>
			</h:panelGroup>
			<h:panelGroup layout="block" id="preview" class="col-sm-8 previewclass" rendered="#{administracionFormularioBean.idCampania != 0}">
				<ui:include src="header.xhtml">	</ui:include>
				<ui:include src="registroDinamicoPreview.xhtml"></ui:include>
			</h:panelGroup>
		</h:panelGroup>
		<script>
		/* <![CDATA[ */
		$(function(){
			$('#formGenerarCupon\\:btnActualizar')
			.confirmation(
					{
						placement : 'top',
						btnOkLabel : 'Ok',
						title : 'Confirmación',
						onConfirm : function() {
							if(validarCampania())
							{
								$('#formGenerarCupon\\:btnActualizarConfirmado').click();
							}
								
						},
						onCancel : function() {
							flagFormato = false;	
							return false;
						}
			})
		})
		/* ]]> */
	</script>
	 </h:form>
	 </h:panelGroup>
	
</h:body>

</html>