<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<ui:include src="headerImport.xhtml" />	
	<script src="js/fidelizacion/formValidate.js"></script>
</h:head>
<h:body>
	<script>
	/* <![CDATA[ */
	function reloadTbl(data) {
		if (data.status == "begin") {
			
		}
		if (data.status == "complete") {

		}
		if (data.status == "success") {
			inicializar();
		}
	}
	
	$(document).on('ready', function(){
		inicializar();
	});
	
	function inicializar(){
	
		$("#administradorEmpresa\\:crearEmpresa").confirmation({
			rootSelector : 'formInv\\:btnConfirm',
			placement : 'top',
			btnOkLabel : 'Ok',
			title : 'Confirmacion',
			onConfirm : function() {
					$('#administradorEmpresa\\:crearEmpresaConfirm').click();
			},
			onCancel : function() {
				flagFormato = false;
				return false;
			}
		})
	}
	
	/* ]]> */
	</script>
	<ui:include src="headerAdm.xhtml"></ui:include>
	<h:inputHidden value="#{admEmpBean.init()}"></h:inputHidden>
	<h:form id="administradorEmpresa">
	<!-- Panel de mensajes -->
		<h:panelGroup layout="block" id="msgBox" class="row">
			<h:panelGroup layout="block" class="container">
				<ui:repeat var="msg" value="#{admCuponBean.mensajes}">
					<h:panelGroup layout="block" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':''}">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<h4 class="alert-heading">#{msg.titulo}</h4>
						<h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
					</h:panelGroup>
				</ui:repeat>
			</h:panelGroup>
		</h:panelGroup>
		<h:panelGroup layout="block" class="container">
			<h:panelGroup layout="block" class="row">
				<h:panelGroup class="col-sm-12">
					<legend>Administrar Empresa</legend>
					<hr />
				</h:panelGroup>
			</h:panelGroup>
			<h:panelGroup layout="block" class="row">
				<h:panelGroup layout="block" class="col-sm-4">
					<h:panelGroup layout="block" class="form-group" id="nombreEmpresa">
						<h:outputLabel for="campoNombreEmpresa" value="Nombre"></h:outputLabel>
						<h:inputText a:placeholder="Nombre Empresa" class="form-control" id="campoNombreEmpresa" value="#{admEmpBean.nombreEmpresa}"></h:inputText>
						<small  class="form-text text-muted">Nombre de la empresa.</small>
					</h:panelGroup>
					<h:panelGroup layout="block" class="form-group" id="razonSocial">
						<h:outputLabel for="campoRazonSocial" value="Razon Social"></h:outputLabel>
						<h:inputText a:placeholder="Razon Social" class="form-control" id="campoRazonSocial" value="#{admEmpBean.razonSocialEmpresa}"></h:inputText>
						<small  class="form-text text-muted">Razon Social de la empresa.</small>
					</h:panelGroup>
					<h:panelGroup layout="block" class="form-group" id="RutEmpresa">
						<h:outputLabel for="campoRutEmpresa" value="Rut Empresa"></h:outputLabel>
						<h:inputText a:placeholder="Rut Empresa" class="form-control" id="campoRutEmpresa" value="#{admEmpBean.rutEmpresa}"></h:inputText>
						<small  class="form-text text-muted">Rut de la empresa.</small>
					</h:panelGroup>
				</h:panelGroup>
				<h:panelGroup layout="block" class="col-sm-4">
					<h:panelGroup layout="block" class="form-group" id="AdminEmpresa">
						<h:outputLabel for="campoAdministradorEmpresa" value="Administrador Empresa"></h:outputLabel>
						<h:inputText a:placeholder="Usuario Administrador Empresa" class="form-control" id="campoAdministradorEmpresa" value="#{admEmpBean.usuarioAdminsitrador}"></h:inputText>
						<small  class="form-text text-muted">Usuario administrador de la empresa.</small>
					</h:panelGroup>
					<h:panelGroup layout="block" class="form-group" id="ContrasenaEmpresa">
						<h:outputLabel for="campoContrasenaEmpresa" value="Contraseña Empresa"></h:outputLabel>
						<h:inputSecret a:placeholder="Contraseña Usuario Empresa" class="form-control" id="campoContrasenaEmpresa" value="#{admEmpBean.contrasena}"></h:inputSecret>
						<small  class="form-text text-muted">Contraseña del administrador de la empresa.</small>
					</h:panelGroup>
					<h:panelGroup layout="block" class="form-group" id="ConfirmEmpresa">
						<h:outputLabel for="campoConfirmEmpresa" value="Confirma Contraseña Administrador"></h:outputLabel>
						<h:inputSecret a:placeholder="Confirmar Contraseña del Administrador" class="form-control" id="campoConfirmEmpresa" value="#{admEmpBean.confirmContrasena}"></h:inputSecret>
						<small  class="form-text text-muted">Confirmar contraseña del administrador de la empresa.</small>
					</h:panelGroup>
					
				</h:panelGroup>
				<h:panelGroup layout="block" class="col-sm-4">
					<h:panelGroup layout="block" class="form-group" id="tipoCampania">
						<h:outputLabel for="campoAdministradorEmpresa" value="Nombre tipo campaña base"></h:outputLabel>
						<h:inputText a:placeholder="Usuario Administrador Empresa" class="form-control" id="campotipoCampania" value="#{admEmpBean.tipoCampania}"></h:inputText>
						<small  class="form-text text-muted">Nombre del tipo de campaña base.</small>
					</h:panelGroup>
					<h:panelGroup layout="block" class="form-group" id="CantRegistros">
						<h:outputLabel for="campocantidadRegistro" value="Cantidad de registros"></h:outputLabel>
						<h:inputText a:placeholder="Cantidad de registros" class="form-control" id="campocantidadRegistro" value="#{admEmpBean.cantidad}"></h:inputText>
						<small  class="form-text text-muted">Cantidad de registros.</small>
					</h:panelGroup>
				</h:panelGroup>
				<h:commandButton id="crearEmpresaConfirm" class="oculto" >
					<f:ajax render="@form" execute="@form" listener="#{admEmpBean.crearEmpresa()}" onevent="reloadTbl"></f:ajax>
				</h:commandButton>
				<h:commandButton id="crearEmpresa" class="btn btn-primary btn-lg btn-block" type="button" value="Crear Empresa"></h:commandButton>
			</h:panelGroup>
		</h:panelGroup>
	</h:form>
	<script>
	/* <![CDATA[ */
  	/* ]]> */
	</script>
</h:body>
</html>
