<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
		<ui:include src="headerImport.xhtml" />
		<script src="js/fidelizacion/formValidate.js"></script>
</h:head>
<h:body>
	<script>
	/* <![CDATA[ */
		function reloadTbl(data) {
	
				if (data.status == "begin") {
					 on();
				}
				if (data.status == "complete") {
					 
				}
				if (data.status == "success") {
					off();
				}
		}
		
		function validarCategoria(){		
		
			var namePattern = "^[a-z A-Z]{1,30}$";
			var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
			var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
			var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
			var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
			var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
			var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
			var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
		
			var mensaje = "";
			
			var valido = true;	
			
			//Check #Categoria
			if(!checkInput( "#categorias\\:nombreCategoria", namePattern))
			{
				mensaje += "<li>Debes indicar el <b>nombre</b> del la categoria</li>";
				if(valido){valido=false}
			}

			
			if(!valido)
			{
				printMensaje(mensaje,  "#categorias\\:msgBox" )
			}
			return valido;
		}
		
		function printMensaje(mensaje, msgPanel)
		{
		
			var panel = "<div class='col-sm-12'>" +
						"<div class='alert alert-dismissible alert-danger'>" +
						"  <button type='button' class='close' data-dismiss='alert'>&times;</button> <strong>Oh! hay un problema en tu formulario!</strong>"+
						"<ul>" +
						mensaje
						"</ul>" +
						"</div>"+
						"</div>";
						
			$(msgPanel).html(panel);
		}
	/* ]]> */
	</script>
	<h:inputHidden value="#{administracionBean.init()}"></h:inputHidden>
	<ui:include src="headerAdm.xhtml" />
	
	
					
	<h:panelGroup layout="block" class="container">
<h:form id="categorias">	
					<h:panelGroup id="msgBox" layout="block" class="container">
						<ui:repeat var="msg" value="#{administracionBean.mensajes}">
							<h:panelGroup layout="block" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':''}">
				                <button type="button" class="close" data-dismiss="alert">×</button>
				                <h4 class="alert-heading">#{msg.titulo}</h4>
				                <h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
				            </h:panelGroup>
						</ui:repeat>
					</h:panelGroup>
		<h:panelGroup layout="block" class="row">
			<h:panelGroup layout="block" class="col-sm-12">
<legend>Administrar Categoría </legend>
<hr/>
</h:panelGroup>

			<h:panelGroup layout="block" class="col-sm-12">
				
				
				
				<h:panelGroup layout="block" class="row">
					<h:panelGroup layout="block" id="addCategoria" class="col-sm-4">
						<legend>Ingresar </legend>
						<h:panelGroup layout="block" class="form-group" id="nombreCategoria">
							<h:outputLabel for="texto" value="Nombre"></h:outputLabel>
							<h:inputText a:placeholder="Nombre" class="form-control" id="texto"
								value="#{administracionBean.nuevaCategoria.texto}">

							</h:inputText>
							<small id="ayudaTexto" class="form-text text-muted">Nombre
								de la categoría que quieres ingresar</small>
						</h:panelGroup>
						<h:commandButton class="btn btn-primary oculto" id="crearCategoriaConfirmado" value="Crear">
							<f:ajax listener="#{administracionBean.crearCategoria}"	render="@form"  execute="@form" onevent="reloadTbl"></f:ajax>
						</h:commandButton>
						<h:commandButton type="button" class="btn btn-primary btn-lg btn-block" id="crearCategoria" value="Crear">
						</h:commandButton>
					</h:panelGroup>
					
					

					<h:panelGroup layout="block" class="col-sm-8">
						<legend>Priorizar</legend>
						<h:inputHidden id="vigentes" value="#{administracionBean.categoria}"></h:inputHidden>
						<h:inputHidden id="no_vigentes" value="#{administracionBean.categoriasSinVigencia}"></h:inputHidden>
						<h:panelGroup layout="block" class="row">
							<h:panelGroup layout="block" id="categorias_vigentes" class="col-sm-6 panel-sortable">
								<legend>Activas</legend>
								<h:panelGroup layout="block" id="columna" class="bs-component sort">
									<ul class="list-group connectedSortable" id="sortable1">
										<ui:repeat id="repeat_visible" value="#{administracionBean.categoriasVisibles}" varStatus="row" var="c">
											<li class="list-group-item d-flex justify-content-between align-items-center" >
												#{c.texto}
												<span class="badge badge-primary badge-pill">
													<h:commandButton id="button_ov" class="oculto btn" >
														<f:param name="id" value="#{c.id}" />
														<f:ajax listener="#{administracionBean.eliminar}"	render="@form"  execute="@form" onevent="reloadTbl"></f:ajax>
													</h:commandButton>
												
													<h:panelGroup layout="block" id="button_v" class="delete"><i class="fas fa-times-circle"></i></h:panelGroup>
													<!-- <h:commandButton  type="button"  /> -->
	
												</span> 
												<h:inputHidden value="#{c.id}" />
												<script>
												/* <![CDATA[ */
													$('#categorias\\:repeat_visible\\:#{row.index}\\:button_v').confirmation({
														rootSelector : 'formInv\\:btnConfirm',
														placement : 'top',
														btnOkLabel : 'Ok',
														title : 'Confirmación',
														onConfirm : function() {
															$('#categorias\\:repeat_visible\\:#{row.index}\\:button_ov').click();
													},
														onCancel : function() {
															flagFormato = false;
															return false;
														}
													})
												/* ]]> */
												</script>
											</li>
										</ui:repeat>
									</ul>
								</h:panelGroup>
							</h:panelGroup>	
							
							<h:panelGroup layout="block" id="categorias_no_vigentes" class="col-sm-6 panel-sortable">
								<legend>Inactivas</legend>
								<h:panelGroup layout="block" class="bs-component sort">
								<ul class="list-group connectedSortable" id="sortable2">
									<ui:repeat id="repeat_no_visible" value="#{administracionBean.categoriasNoVisibles}" varStatus="row" var="c">
										<li class="list-group-item d-flex justify-content-between align-items-center" >
											#{c.texto}
											<span class="badge badge-primary badge-pill">
												
												<h:commandButton id="button_oculto" class="oculto btn">
												
													<f:param name="id" value="#{c.id}" />
													<f:ajax listener="#{administracionBean.eliminar}"	render="@form"  execute="@form" onevent="reloadTbl"></f:ajax>
												</h:commandButton>
												<h:panelGroup layout="block" id="button" class="delete"><i class="fas fa-times-circle"></i></h:panelGroup>
												
												<!--<h:commandButton id="button" type="button" class="btn btn-danger btn-sm" value="x" /> -->
											</span> 
											<h:inputHidden value="#{c.id}" />
											<script>
											/* <![CDATA[ */
												$('#categorias\\:repeat_no_visible\\:#{row.index}\\:button').confirmation({
													rootSelector : 'formInv\\:btnConfirm',
													placement : 'top',
													btnOkLabel : 'Ok',
													title : 'Confirmación',
													onConfirm : function() {	
														$('#categorias\\:repeat_no_visible\\:#{row.index}\\:button_oculto').click();
												},
													onCancel : function() {
														flagFormato = false;
														return false;
													}
												})
											/* ]]> */
											</script>
										</li>
											
									</ui:repeat>
								</ul>
								</h:panelGroup>
							</h:panelGroup>
						</h:panelGroup>
						<h:commandButton class="oculto btn"
								 value="Guardar oculto" 
								id="btnConfirm2">
								<f:ajax listener="#{administracionBean.agregar()}"	render="@form"  execute="@form" onevent="reloadTbl"></f:ajax>
						</h:commandButton>
							
						<h:commandButton class="btn btn-primary btn-lg btn-block" type="button"
											value="Guardar" id="btnConfirm1">
						</h:commandButton>
						
					</h:panelGroup>
					
				</h:panelGroup>
		
<script  type="text/javascript">

	/* <![CDATA[ */

	var categoriaErr = "Debes ingresar un nombre para crear una categoria."

	$(function() {
		$("#sortable1, #sortable2").sortable({
			connectWith : ".connectedSortable"
		}).disableSelection();

		$("#categorias\\:crearCategoria").confirmation({
			rootSelector : 'formInv\\:btnConfirm',
			placement : 'top',
			btnOkLabel : 'Ok',
			title : 'Confirmacion',
			onConfirm : function() {
					if(validarCategoria()){
						$('#categorias\\:crearCategoriaConfirmado').click();
					}
					
			},
			onCancel : function() {
				flagFormato = false;
				return false;
			}
		})


		

	});


	$(document).ready(function() {
		$('#categorias\\:btnConfirm1').confirmation({
			rootSelector : 'formInv\\:btnConfirm',
			placement : 'top',
			btnOkLabel : 'Ok',
			title : 'Confirmacion',
			onConfirm : function() {

				validar();
				$('#categorias\\:btnConfirm2').click();
			},
			onCancel : function() {
				flagFormato = false;
				return false;
			}
		})

	});

	function validar() {
		var item = $('#categorias\\:categorias_vigentes input:hidden');
		var l = $('#categorias\\:categorias_vigentes input:hidden').length;
		var texto = "";
		i = 0;
		while (i <= l - 1) {
			texto = texto + item[i++].value + "/";
		}

		$('#categorias\\:vigentes').val(texto);

		var item = $('#categorias\\:categorias_no_vigentes input:hidden');
		var l = $('#categorias\\:categorias_no_vigentes input:hidden').length;
		var texto = "";
		i = 0;
		while (i <= l - 1) {
			texto = texto + item[i++].value + "/";
		}

		$('#categorias\\:no_vigentes').val(texto);

	}

	$(function() {
		$("#dialog-message").dialog({
			modal : true,
			buttons : {
				Ok : function() {
					$(this).dialog("close");
				}
			}
		});
	});

	function monitor(data) {
		if (data.status == "begin") {
			$("#frmSolicitud\\:_preGuardar").removeClass("hide");
		} else if (data.status == "success") {
			$("#frmSolicitud\\:_preGuardar").addClass("hide");
			/*$("#_modal").dialog().dialog("open");*/
			$("#_modal").css('display', 'block')
		}
	}

	/* ]]> */
</script>
				
				
				
			</h:panelGroup>
			
		</h:panelGroup>

		</h:form>
	</h:panelGroup>



</h:body>



</html>