<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<ui:include src="headerImport.xhtml" />	
	<script src="js/fidelizacion/formValidate.js"></script>
</h:head>
<h:body>
	<script>
	/* <![CDATA[ */
		
		function validarCampania(){		
			
			var textPattern = "^[\\w\\s\\d]{1,30}$"
			var namePattern = "^[a-z A-Z]{1,30}$";
			var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
			var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
			var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
			var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
			var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
			var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
			var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
		
			var mensaje = "";
			
			var valido = true;	
			
			
			if( $('#campania\\:customCheck1').is(':checked') ) {
			    //Check #CampaniaSeleccionada
			    if(!checkSelectOne("#campania\\:campania-copiarCampaniaSelect"))
				{
					mensaje += "<li>Debes seleccionar una campania para copiar</li>";
					if(valido){valido=false}
				}
			}
			
			//Check #Nombre
			if(!checkNotNull( "#campania\\:nombreCampania"))
			{
				mensaje += "<li>Debes indicar el <b>nombre</b> del la campaña</li>";
				if(valido){valido=false}
			}
			
			//Check #Desde
			if($( "#campania\\:desdeCampania" ).length != 0){
				if(!checkInput( "#campania\\:desdeCampania", datePattern))
				{
					mensaje += "<li>Debes indicar la fecha de inicio de la campaña</li>";
					if(valido){valido=false}
				}
				
			}
			
			
			//Check #Hasta
			if(!checkInput( "#campania\\:hastaCampania", datePattern))
			{
				mensaje += "<li>Debes indicar la fecha de termino de la campaña</li>";
				if(valido){valido=false}
			}
			
			//Check #Tipo
			if(!checkSelectOne("#campania\\:campania-tipo"))
			{
				mensaje += "<li>Debes seleccionar un tipo de campaña</li>";
				if(valido){valido=false}
			}
			
			//Check #Asunto
			if(!checkNotNull( "#campania\\:campania-asunto"))
			{
				mensaje += "<li>Debes indicar el <b>nombre</b> del la campaña</li>";
				if(valido){valido=false}
			}

			
			if(!valido)
			{
				printMensaje(mensaje,  "#campania\\:msgBox" )
			}
			return valido;
		}
		
		function printMensaje(mensaje, msgPanel)
		{
		
			var panel = "<div class='col-sm-12'>" +
						"<div class='alert alert-dismissible alert-danger'>" +
						"  <button type='button' class='close' data-dismiss='alert'>&times;</button> <strong>Oh! hay un problema en tu formulario!</strong>"+
						"<ul>" +
						mensaje
						"</ul>" +
						"</div>"+
						"</div>";
						
			$(msgPanel).html(panel);
		}
	/* ]]> */
	</script>
	<h:inputHidden value="#{campaniaBean.init()}"/>
	<ui:include src="headerAdm.xhtml"></ui:include>
	<h:form id="campania">
		<h:panelGroup layout="block" class="container" >
		<!-- Panel de mensajes -->
			<h:panelGroup layout="block" id="mensajes" class="row">
				<h:panelGroup layout="block" id="msgBox" class="container">
					<h:panelGroup layout="block" class="msg-box">
						<ui:repeat var="msg" id="rep" varStatus="status" value="#{campaniaBean.mensajes}">
							<h:panelGroup layout="block" id="panelMensaje" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':msg.tipo == 'INFO'?'alert-info':''}">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<h4 class="alert-heading">#{msg.titulo}</h4>
								<h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
							</h:panelGroup>
							<script type="text/javascript">
								/* <![CDATA[ */
									//$(document).on('ready', function() {
										$( "#campania\\:rep\\:#{status.index}\\:panelMensaje" ).delay( 8000 ).slideUp( 800 );
									//});
								/* ]]> */
							</script>
						</ui:repeat>
					</h:panelGroup>
				</h:panelGroup>
			</h:panelGroup>
		<!-- FIN panel de mensajes -->
			<h:panelGroup layout="block" class="row">
			
			<h:panelGroup layout="block" class="col-sm-12">
			<legend>Administrar Campaña </legend>
			<hr/>
			</h:panelGroup>
			
				<h:panelGroup layout="block" class="col-sm-3">
					<h:inputHidden id="desdeHiden" value="#{campaniaBean.campania.desde}"></h:inputHidden>
					
					<h:panelGroup layout="block"  id="clonar" rendered="#{!campaniaBean.modificando}" >
						<h:panelGroup layout="block" class="form-group" id="campania-copiarCampania" >	
							<h:panelGroup layout="block" class="custom-control custom-checkbox" id="ClonarMenus">
								<h:selectBooleanCheckbox class="custom-control-input" id="customCheck1"  value="#{campaniaBean.clonar}">
									<f:ajax render="campania:copiarCampaniac" listener="#{campaniaBean.copiarCampaniaSeleccion()}"></f:ajax>
								</h:selectBooleanCheckbox>
		      					<label class="custom-control-label" for="campania:customCheck1">¿Copiar Campaña?</label>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
					
					<!-- Select One Tipo -->
					<h:panelGroup layout="block" id="copiarCampaniac" >
			            <h:panelGroup layout="block" class="form-group" id="campania-copiarCampaniaSelect" rendered="#{campaniaBean.clonar and !campaniaBean.modificando}" >
			               	<h:outputLabel for="copiarCampania" value="Campaña"></h:outputLabel>
			                <h:selectOneListbox size="1" id="copiarCampania" value="#{campaniaBean.campaniaId}" class="custom-select" >
								<f:selectItem itemLabel="Selecciona..." itemValue="0"></f:selectItem>
								<f:selectItems value="#{campaniaBean.campanias}" var="camp"
								itemLabel="#{camp.nombre}" itemValue="#{camp.id}" ></f:selectItems>
								<f:ajax render="campania:nombreCampania campania:campania-tipo campania:campania-asunto " listener="#{campaniaBean.copiarCampaniaSeleccion()}"></f:ajax>
							</h:selectOneListbox>	
							<small  class="form-text text-muted">Copiar menu campania.</small>	
			            </h:panelGroup>
		          	</h:panelGroup>
					
					<!-- Nombre -->
					<h:panelGroup layout="block" class="form-group" id="nombreCampania">
						<h:outputLabel for="nombre" value="Nombre"></h:outputLabel>
						<h:inputText a:placeholder="Nombre" class="form-control" id="nombre" value="#{campaniaBean.campania.nombre}"></h:inputText>
						<small  class="form-text text-muted">Nombre que tendrá la Campaña.</small>
					</h:panelGroup>
					<!-- Desde -->
					<h:panelGroup layout="block" class="form-group" id="desdeCampania" rendered="#{campaniaBean.campania.estado != 'ACTIVA'}">
						<h:outputLabel for="desde" value="Fecha Inicio"></h:outputLabel>
						<h:inputText a:placeholder="Desde" styleClass="form-control" id="desde" value="#{campaniaBean.campania.desde}" readonly= "#{facesContext.renderResponse}"></h:inputText>
						<small  class="form-text text-muted">Desde cuando estará vigente la Campaña.</small>
					</h:panelGroup>
					<!-- Hasta -->
					<h:panelGroup layout="block" class="form-group" id="hastaCampania">
						<h:outputLabel for="hasta" value="Fecha Termino"></h:outputLabel>
						<h:inputText a:placeholder="Hasta" styleClass="form-control" id="hasta" value="#{campaniaBean.campania.hasta}" readonly= "#{facesContext.renderResponse}"></h:inputText>
						<small  class="form-text text-muted">Hasta cuando estará vigente la Campaña.</small>
					</h:panelGroup>
					
					<!-- Select One Tipo -->
		            <h:panelGroup layout="block" class="form-group" id="campania-tipo">
		                <h:outputLabel for="copiarCampania" value="Tipo de campaña"></h:outputLabel>
		                <h:selectOneListbox size="1" id="combo" value="#{campaniaBean.campania.tipoCampania.id}" class="custom-select" >
							<f:selectItem itemLabel="Selecciona..." itemValue="0"></f:selectItem>
							<f:selectItems value="#{campaniaBean.tipoCampanias}" var="camp"
							itemLabel="#{camp.nombre}" itemValue="#{camp.id}" ></f:selectItems>
							<f:ajax listener="#{campaniaBean.selectCampania()}"></f:ajax>
						</h:selectOneListbox>	
						<small  class="form-text text-muted">Tipo de campaña.</small>	
		            </h:panelGroup>
		            
		            <h:panelGroup layout="block" class="form-group" id="campania-asunto">
						<h:outputLabel for="nombre" value="Asunto"></h:outputLabel>
						<h:inputText a:placeholder="Asunto" class="form-control" id="asunto" value="#{campaniaBean.campania.asunto}"></h:inputText>
						<small  class="form-text text-muted">Asunto que tendra el email</small>
					</h:panelGroup>
					
					
					
					
					<h:commandButton rendered="#{!campaniaBean.modificando}" styleClass="oculto btn btn-primary btn-lg btn-block" id="ingresarConfirmado" value="Ingresar" action="#{campaniaBean.ingresarCampania()}">
						<f:ajax render="@form" execute="@form" onevent="reloadTbl"></f:ajax>
					</h:commandButton>
					<h:commandButton rendered="#{!campaniaBean.modificando}" type="button" styleClass="btn btn-primary btn-lg btn-block" id="ingresar" value="Ingresar" >
					
					</h:commandButton>
					<h:commandButton rendered="#{campaniaBean.modificando}" styleClass="oculto btn btn-primary btn-lg btn-block" id="modificarConfirmado" value="Ingresar" action="#{campaniaBean.modificarCampania()}">
					
					</h:commandButton>
					<h:commandButton rendered="#{campaniaBean.modificando}" type="button" styleClass="btn btn-info btn-lg btn-block" id="modificar" value="Modificar" >
					
					</h:commandButton>
					<h:commandButton rendered="#{campaniaBean.modificando}" type="button" id="cancelarModificacion" styleClass="btn btn-danger btn-lg btn-block" value="Cancelar Modificación" >
						<f:ajax render="@form" listener="#{campaniaBean.FinalizarModoModificacion()}" onevent="reloadTbl"></f:ajax>
					</h:commandButton>
					<h:panelGroup id="script">
					<script>
					/* <![CDATA[ */
						  $( function() {
						    $( "#campania\\:desde" ).datepicker({
						    	dateFormat: "dd/mm/yy",
						    	minDate: new Date()
						    });
						    
						    var desde = $( "#campania\\:desdeHiden" ).val();
						    var fecha = desde.split('/'); 
							var anio = parseInt(fecha[2]);
							var mes = parseInt(fecha[1])-1;
							var dia = parseInt(fecha[0])+1;
							var from = new Date(anio, mes, dia);
						    if(desde != null)
						    {
						    	if(from.getTime() < new Date().getTime()){
	
						    		var hoy = new Date()
								    anio = hoy.getFullYear();
								    mes = hoy.getMonth();
								    dia = hoy.getDate()+1;
	
						    	}else{

						    		fecha = desde.split('/');
								    anio = parseInt(fecha[2]);
								    mes = parseInt(fecha[1])-1;
								    dia = parseInt(fecha[0])+1;
						    	}
						    	
						    }else{
						    	desde = new Date();
						    	fecha = desde.split('/');
							    anio = parseInt(fecha[2]);
							    mes = parseInt(fecha[1])-1;
							    dia = parseInt(fecha[0])+1;
						    }
						  
						    
						    $( "#campania\\:hasta" ).datepicker({  
						    	dateFormat: "dd/mm/yy",
						    	minDate: new Date(anio, mes, dia)	
						    });
						    
						    $( "#campania\\:desde" ).change(function(){
						    	var desde = $( "#campania\\:desde" ).val();
						    	console.log("desde minimo:" + desde);
						    	var fecha = desde.split('/');
						    	anio = parseInt(fecha[2]);
						    	mes = parseInt(fecha[1])-1;
						    	dia = parseInt(fecha[0])+1;
						    	$( "#campania\\:hasta" ).datepicker("option", "minDate", new Date(anio, mes, dia));
						    })
						    
											    
						 	$("#campania\\:ingresar").confirmation({
												rootSelector : 'formInv\\:btnConfirm',
												placement : 'top',
												btnOkLabel : 'Ok',
												title : 'Confirmacion',
												onConfirm : function() {
													if(validarCampania())
													{
														$('#campania\\:ingresarConfirmado').click();
													}
													
											},
												onCancel : function() {
													flagFormato = false;
													return false;
												}
											})
											
							$("#campania\\:modificar").confirmation({
												rootSelector : 'formInv\\:btnConfirm',
												placement : 'top',
												btnOkLabel : 'Ok',
												title : 'Confirmacion',
												onConfirm : function() {
													if(validarCampania())
													{
														$('#campania\\:modificarConfirmado').click();
													}
											},
												onCancel : function() {
													flagFormato = false;
													return false;
												}
											})
						 })
						/* ]]> */
					</script>
					</h:panelGroup>
					
				</h:panelGroup>
									<!-- Tabla de archivos cargados -->
					
					<h:panelGroup layout="block" class="col-sm-9">
							<h:panelGroup layout="block" id="detalle">
								<table id="detalleCampanias" class="table table-hover" width="100%">
									<thead>
										<td>Id</td>
										<td>Nombre</td>
										<td>Asunto</td>
										<td>Tipo</td>
										<td>Desde</td>
										<td>Hasta</td>
										<td>Estado</td>
										<td>Accion</td>
									</thead>
									<tbody>
										<ui:repeat var="campania" value="#{campaniaBean.campanias}" id="cam" varStatus="status">
											<tr>
												<td>
													<h:outputText value="#{campania.id}"></h:outputText>
												</td>
												<td>
													<h:outputText value="#{campania.nombre}"></h:outputText>
												</td>
												<td>
													<h:outputText value="#{campania.asunto}"></h:outputText>
												</td>
												<td>
													<h:outputText value="#{campania.tipoCampania.nombre}"></h:outputText>
												</td>
												<td>
													<h:outputText value="#{campania.desde}"></h:outputText>
												</td>
												<td>
													<h:outputText value="#{campania.hasta}"></h:outputText>
												</td>
												<td>
													<h:outputText value="#{campania.estado}"></h:outputText>
												</td>
		
												<td>
													
													<h:panelGroup layout="block" class="container">
													<h:panelGroup layout="block" class="row">
													

													
													<h:panelGroup layout="block" class="col-sm-2" rendered="#{campania.estado == 'ESPERA' or campania.estado == 'ACTIVA'}" >
														
														<h:commandButton class="oculto btn" id="btnModificarConfirmado" >
															<f:param name="mod" value="#{campania.id}" />
														
															<f:ajax render="
															@form
															" excecute="@form" listener="#{campaniaBean.ChangeSelect()}" onevent="reloadTbl"></f:ajax>
														</h:commandButton>
														<h:panelGroup layout="block" class="delete" id="btnModificar"><i class="fas fa-edit"></i></h:panelGroup>
														<script>
														/* <![CDATA[ */
															$('#campania\\:cam\\:#{status.index}\\:btnModificar').confirmation({
																rootSelector : 'formInv\\:btnConfirm',
																placement : 'top',
																btnOkLabel : 'Ok',
																title : 'Confirmación',
																onConfirm : function() {
																	$('#campania\\:cam\\:#{status.index}\\:btnModificarConfirmado').click();
																	
																	
															},
																onCancel : function() {
																	flagFormato = false;
																	return false;
																}
															})
															
														/* ]]> */
														</script>
														
													</h:panelGroup>
													
												
													
													
														<h:panelGroup layout="block" class="col-sm-2" rendered="#{campania.estado == 'ESPERA'}">
														
														<h:commandButton id="btnConfirmado" class="oculto btn" action="#{campaniaBean.eliminar}" >
															<f:param name="id" value="#{campania.id}" />
														</h:commandButton>
														<h:panelGroup layout="block" id="btnEliminar" class="delete"><i class="fas fa-times-circle"></i></h:panelGroup>
														<script>
														/* <![CDATA[ */
															$('#campania\\:cam\\:#{status.index}\\:btnEliminar').confirmation({
																rootSelector : 'formInv\\:btnConfirm',
																placement : 'top',
																btnOkLabel : 'Ok',
																title : 'Confirmación',
																onConfirm : function() {
																	$('#campania\\:cam\\:#{status.index}\\:btnConfirmado').click();
															},
																onCancel : function() {
																	flagFormato = false;
																	return false;
																}
															})
															
														/* ]]> */
														</script>
														
													</h:panelGroup>
													
													
													</h:panelGroup>
													</h:panelGroup>
													
													
												</td>
												
											</tr>
										</ui:repeat>
									</tbody>
								</table>
							</h:panelGroup>	
					
					</h:panelGroup>
				
			</h:panelGroup>
			
			
		</h:panelGroup>
		
		</h:form>

	<script>
	/* <![CDATA[ */
		function reloadTbl(data) {
			if (data.status == "begin") {
				on();
			}
			if (data.status == "complete") {

			}
			if (data.status == "success") {
				inicializar();
				off();
			}
		}
		
		$(document).on('ready', function() {
			inicializar();
		});
		
		function inicializar(){
			$("#detalleCampanias").DataTable({
				"columnDefs": [ {
		            targets: [ 0 ],
		            orderData: [ 0 ]
		        }, {
		            targets: [ 4 ],
		            orderData: [ 4, 5 ]
		        }, {
		            targets: [ 3 ], 	
		            orderData: [ 3, 4 ]
		        } ],
		        "scrollX": true,
				"responsive" : false,
				"searching" : true,
				"ordering" : true,
				"bLengthChange" : false,
				"language" : {
					"lengthMenu" : "Ver _MENU_ Registros por pagina",
					"zeroRecords" : "Ningun Registro Encontrado",
					"info" : "Visualizando _PAGE_ de _PAGES_",
					"infoEmpty" : "Sin Registros",
					"infoFiltered" : "(De un Total de _MAX_ Registros)",
					"sSearch" : "Buscar:",
					"oPaginate" : {
						"sFirst" : "Primero",
						"sLast" : "Último",
						"sNext" : "Siguiente",
						"sPrevious" : "Anterior"
					}
				}
			});

			
			 
		}


	
	
	  $( function() {
	   
	 
	 
	  } );
  	/* ]]> */
	</script>
</h:body>
</html>
