<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-confirmation.js"></script>
	<script src="js/rateyo/jquery.rateyo.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<link href="css/jquery-ui.css" rel="stylesheet"></link>
	<link href="css/rateyo/jquery.rateyo.css" rel="stylesheet"></link>
	<link href="css/checklist.css" rel="stylesheet"></link>
	<link href="css/styles.puma.min.css" rel="stylesheet"></link>
	<link href="css/puma_styles.css" rel="stylesheet"></link>
	
	<script type="text/javascript">
		//<![CDATA[				 

		
		//]]>
	</script>

</h:head>
<h:body>
	<div id="wrapper">
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<br />
					</div>
					<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
						<ui:include src="header.xhtml"></ui:include>
						<div id="botonRegistro">
							<h:button styleClass="button button--black" value="Registrarse"></h:button>
						</div>
						
						<div id="bgMail">
							<center>
								<img src="images/store.jpg"></img>
							</center>
						</div>
						
						<div id="piePag">
						<ui:include src="footerMail.xhtml"></ui:include>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	
	

</h:body>
</html>
