<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<h:head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW"/>
<meta name="referrer" content="no-referrer"/>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

</h:head>
<h:body bgcolor="#ffffff" text="#000000" style="background-color: #FFFFFF; color: #000000; margin: 0px; padding: 0px; -webkit-text-size-adjust: none;" yahoo="fix">
	<h:form>
	<h:inputHidden value="#{cuponBean.init()}"> </h:inputHidden>

	
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
					<tbody>
					<tr>
						<td style="font-family: Arial;font-size:12px"><center><pre style="font-family: arial;"> Si usted no visualiza bien este correo, por favor <a href="#{cuponBean.urlPropia}" target="_blank"><h:outputText value="#{cuponBean.ingresarAqui}" escape="false" ></h:outputText> </a></pre></center>
						</td>
						</tr>
						<tr>
							<td>
								
								<ui:include src="header.xhtml">	</ui:include>
								
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
									<tbody>
										<tr>
											<td>
												<table align="center" bgcolor="#fff" style="background-color: #fff;" border="0" cellpadding="0" cellspacing="0" width="">
													<tbody>
													<tr>
													<td style="font-family: Arial;font-size:14px"><center> <h:outputText value="#{cuponBean.formato.texto}"></h:outputText> </center></td>
													</tr>
													<tr>
													<td style="font-family: Arial;font-size:14px">
														<h:panelGroup rendered="#{cuponBean.formato.cantFoto gt 0}">
														<center>
															<img src="https://#{cuponBean.direccionServer}/archivos/cupon/#{cuponBean.formato.urlFoto}" alt="" style="display: block; margin: 0px;"/>
														 </center>
														 </h:panelGroup>
													</td>
													</tr>
													<tr>
													<td>
													<div style="height: 50px;"></div>
													</td>
													</tr>
														<tr>
															<td><center>
																<a href="#" target="_blank"><img src="#{cuponBean.urlCupon}" width="300px" height="auto" alt="" style="display: block; margin: 0px;"/></a>
																</center>
															</td>
														</tr>
														<tr>
													<td>
														<table style="font-family: Arial;font-size:12px"><tr><td><b>Condiciones:</b></td></tr>
															<tr><td>
																<pre style="font-family: arial;"><h:outputText value="#{cuponBean.condicion}" escape="false" ></h:outputText></pre>
																</td></tr>
														</table>
													</td>
													</tr>
													
													
													
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
								<ui:include src="footer.xhtml">	</ui:include>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
	
	
	
	
</h:form>
</h:body>
</html>