<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<ui:include src="headerImport.xhtml" />	
	<script src="js/fidelizacion/formValidate.js"></script>
</h:head>
<h:body>
	<h:inputHidden value="#{emailTemplateBean.init()}" />
	<ui:include src="headerAdm.xhtml" />

	<h:panelGroup layout="block" class="container">
	<h:form name="cargarCupones" id="cargarCupones" 
						enctype="multipart/form-data"   >
						 
		<!-- Panel de mensajes -->
				<h:panelGroup layout="block" id="msgBox" class="row">
					<h:panelGroup layout="block" class="container">
						<ui:repeat var="msg" value="#{emailTemplateBean.mensajes}">
							<h:panelGroup layout="block" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':''}">
				                <button type="button" class="close" data-dismiss="alert">×</button>
				                <h4 class="alert-heading">#{msg.titulo}</h4>
				                <h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
				            </h:panelGroup>
						</ui:repeat>
					</h:panelGroup>
				</h:panelGroup>
				<!-- FIN panel de mensajes -->
				<h:panelGroup layout="block" class="col-sm-12">
				<legend>Plantilla Email </legend>
				<hr/>
				</h:panelGroup>

				 <h:panelGroup layout="block" styleClass="col-sm-12"  >
				 
				
				
				<h:panelGroup layout="block" class="row">
				
				 <h:panelGroup layout="block" styleClass="col-sm-4"  >
				
						<h:panelGroup layout="block" class="form-group" id="SelectOne">
							<h:outputLabel for="comboCampania" value="Campaña"></h:outputLabel>
							<h:selectOneListbox size="1" id="comboCampania"
								value="#{emailTemplateBean.idCampania}" class="custom-select">
								<f:selectItem itemLabel="Seleccionar Campaña" itemValue="0"></f:selectItem>
								<f:selectItems value="#{emailTemplateBean.campanias}" var="t"
									itemLabel="#{t.nombre}" itemValue="#{t.id}" />

								<f:ajax listener="#{emailTemplateBean.changeCampania}"
									render="@form" execute="@form" onevent="reloadTbl"></f:ajax>
							</h:selectOneListbox>
							<small id="ayudaSelect" class="form-text text-muted">
								Categoria que se quiere modificar.
							</small>
						</h:panelGroup>
					<h:panelGroup layout="block" class="form-group" id="plantillaMail-url">	
						<h:outputLabel value="Enlace"></h:outputLabel>
						<h:inputText class="form-control" a:placeholder="Enlace"
							value="#{emailTemplateBean.urlForm}"></h:inputText>
						<small id="ayudaEnlace" class="form-text text-muted">
								URL a la cual dirigira la imagen.
							</small>
					</h:panelGroup>
					<h:panelGroup layout="block" class="form-group" id="plantillaMail-texto">
						<h:outputLabel value="Texto alternativo"></h:outputLabel>
						<h:inputText class="form-control" a:placeholder="Texto alternativo"
							value="#{emailTemplateBean.textoAlternativo}"></h:inputText>
						<small id="ayudaTextoAlt" class="form-text text-muted">
								Texto que se mostrará en lugar de la imagen si ocurre un problema. 
							</small>
					</h:panelGroup>
					
						<h:panelGroup layout="block" class="form-group" id="inputFile">
							<h:outputLabel value="Imagen"></h:outputLabel>
							<h:panelGroup layout="block" class="input-group mb-3">
								<h:panelGroup layout="block" class="custom-file">
									<h:inputFile type="file" value="#{emailTemplateBean.file}"
										class="custom-file-input" id="inputGroupFile02" />
									<h:outputLabel id="inputFileLabel" class="custom-file-label" for="inputGroupFile02"
										value="Selecciona archivo"></h:outputLabel>
								</h:panelGroup>

							</h:panelGroup>
							<small style="margin-top: -0.75rem;" id="ayudaTextoAlt" class="form-text text-muted">
								Imagen que se mostrará en el correo.
							</small>
						</h:panelGroup>
						<script>
						/* <![CDATA[ */
						
						function initInputFile(id)
						{
							$(id + " input[type='file']" ).change(function(){
								var path = $( id + " input[type='file']").val();
								var filePath = path.split('\\');
								var fileName = filePath[filePath.length-1];
								$(id + "Label").text(fileName);
							});
						}
					
						
				
						initInputFile("#cargarCupones\\:inputFile");
								/* ]]> */
						</script>
						<h:panelGroup id="botonera">
						<h:commandButton rendered="#{emailTemplateBean.campaniaActual.estado == 'ESPERA'}" class="btn btn-primary"
							id="btnCargarCuponConfirmado"
									value="Cargar"
							style="display:none">
							<f:ajax render="@form" execute="@form" listener="#{emailTemplateBean.cargarImagenes}" onevent="reloadTbl"></f:ajax>
						</h:commandButton>

						<h:commandButton rendered="#{emailTemplateBean.campaniaActual.estado == 'ESPERA'}" class="btn btn-primary btn-lg btn-block" id="btnCargarCupon"
							value="Ingresar" type="button">
						</h:commandButton>
						
						<h:panelGroup layout="block"  class="bs-component" rendered="#{emailTemplateBean.campaniaActual.estado == 'ACTIVA'}">
								<button type="button" class="btn btn-danger btn-block" >Campaña Activa</button>
            					
            				</h:panelGroup>
            			<h:panelGroup layout="block"  class="bs-component" rendered="#{emailTemplateBean.campaniaActual.estado == 'CADUCADA'}">
								<button type="button" class="btn btn-danger btn-block" >Campaña caducada</button>
            					
            				</h:panelGroup>
					</h:panelGroup>
					</h:panelGroup>
						
						<h:panelGroup layout="block" class="col-sm-8"  >
						
						<h:panelGroup id="detalleFiles">
							<table id="filesTable">
								<thead>
									<td>Imagen</td>
									<td>URL</td>
									<td>Texto Alternativo</td>
									<td>Accion</td>
								</thead>
								<tbody>
								
									<ui:repeat var="listaA" value="#{emailTemplateBean.detalle}"
										id="lista" varStatus="status">
										<tr>
										<td>
										<h:graphicImage value="/campania/#{listaA.urlFoto}" width="100px"></h:graphicImage>
											
											</td>
											
											<td><h:outputText value="#{listaA.url}"></h:outputText>
											</td>
											<td><h:outputText value="#{listaA.texto}"></h:outputText>
											</td>
											<td>
											
											<h:commandButton rendered="#{emailTemplateBean.campaniaActual.estado == 'ESPERA'}" class="btn btn-primary oculto"
												id="btnCargarCuponConfirmado"
												value="Eliminar"
												action="#{emailTemplateBean.eliminarImagen(listaA.id)}"
												>
												<f:ajax render="@form" execute="@form"  onevent="reloadTbl"></f:ajax>
											</h:commandButton>
											
											<h:commandButton rendered="#{emailTemplateBean.campaniaActual.estado == 'ESPERA'}" class="btn btn-primary"
												id="btnCargarCupon"
												type="button"
												 value="Eliminar">
											</h:commandButton>
											
											<script>
											/* <![CDATA[ */
												$('#cargarCupones\\:lista\\:#{status.index}\\:btnCargarCupon').confirmation({
													rootSelector : 'formInv\\:btnConfirm',
													placement : 'top',
													btnOkLabel : 'Ok',
													title : 'Confirmación',
													onConfirm : function() {
														$('#cargarCupones\\:lista\\:#{status.index}\\:btnCargarCuponConfirmado').click();
														
														
												},
													onCancel : function() {
														flagFormato = false;
														return false;
													}
												})
												
											/* ]]> */
											</script>
											
											</td>
										</tr>
									</ui:repeat>
								</tbody>
							</table>
						</h:panelGroup>
						</h:panelGroup>
						</h:panelGroup>
						
							<h:panelGroup layout="block" class="row">
							<h:panelGroup class="col-sm-2 empty" layout="block"></h:panelGroup>
							<h:panelGroup class="col-sm-8" layout="black"><center>
							
							<center>
					 
					
							<h:panelGroup class="col-sm-8">
							<h:panelGroup class="col-sm-12">
								<legend>Preview</legend>
								<small class="form-text text-muted">
									 <h:outputText value=" -----------------------------------------------------------------------------------------------"></h:outputText>
								</small>
						</h:panelGroup>
						<h:panelGroup class="col-sm-12">
							<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td>
										<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
											<tbody>
											<tr>
												<td style="font-family: Arial;font-size:12px"><center>Si usted no visualiza bien este correo, por favor <a href="#" style="color: blue;" target="_blank"><h:outputText value="ingrese aqu&iacute;" escape="false" ></h:outputText></a></center>
												</td>
												</tr>
												<tr>
												<td>
												<ui:include src="header.xhtml"></ui:include>
												</td>
												</tr>
												<tr>
													<td>
														<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
															<tbody>
																<tr>
																	<td>
																		<table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="">
																			<tbody>
																			<ui:repeat var="f" value="#{emailTemplateBean.detalle}">
																			<tr>
																				<td>
																				<a href="#"
																					><img
																						src="https://#{emailTemplateBean.direccionServer}/campania/#{f.urlFoto}"
																						width="100%" alt="#{f.texto}"
																						style="display: block" border="0"/></a>
																				</td>
																				</tr>
																			</ui:repeat>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
														<!-- <ui:include src="footer.xhtml"></ui:include>  -->
													</td>
												</tr>
												<tr>
												<td >
												
												<table  align="center" border="0" cellpadding="0" cellspacing="0" width="660px" style="font-family : 'Arial'; font-size:12px; background-color:#E8E8E8;">
												<tbody>
													<tr>
														<td>
														<center>#{emailTemplateBean.texto1}</center>
														</td>
														</tr>
														
														<tr>
														<td>
														<center>#{emailTemplateBean.texto2} <a href="" style="font-color: blue;"><h:outputText value="haz click aqu&iacute;" escape="false" ></h:outputText> </a> </center>
														</td>
														</tr>
														<tr>
														<td>
														<center> <img src="https://#{emailTemplateBean.direccionServer}/TagmeFidelizacion/archivos/footer/#{emailTemplateBean.logo}" ></img> </center>
														</td>
														</tr>
												</tbody>
												</table>
												
												</td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</h:panelGroup></h:panelGroup>
						</center>
							</center></h:panelGroup>	
						</h:panelGroup></h:panelGroup>
						
						</h:form>
	</h:panelGroup>
	
	<script>
		/* <![CDATA[ */
		function reloadTbl(data) {
			if (data.status == "begin") {
				on();
			}
			if (data.status == "complete") {

			}
			if (data.status == "success") {
				inicializar();
				off();
			}
		}
		$(document).on('ready', function() {
			inicializar();
		});
		
		function inicializar(){
			
	

				$('#cargarCupones\\:btnCargarCupon').confirmation({
				rootSelector : 'formInv\\:btnConfirm',
				placement : 'top',
				btnOkLabel : 'Ok',
				title : 'Confirmación',
				onConfirm : function() {
					if(validarFormato()){
						$('#cargarCupones\\:btnCargarCuponConfirmado').click();
					}
				},
				onCancel : function() {
					flagFormato = false;
					return false;
				}
				});
			
					
													
		
			$("#filesTable").DataTable({
				responsive : false,
				"searching" : false,
				"ordering" : false,
				"bLengthChange" : false,
				"language" : {
					"lengthMenu" : "Ver _MENU_ Registros por pagina",
					"zeroRecords" : "Ningun Registro Encontrado",
					"info" : "Visualizando _PAGE_ de _PAGES_",
					"infoEmpty" : "Sin Registros",
					"infoFiltered" : "(De un Total de _MAX_ Registros)",
					"sSearch" : "Buscar:",
					"oPaginate" : {
						"sFirst" : "Primero",
						"sLast" : "Último",
						"sNext" : "Siguiente",
						"sPrevious" : "Anterior"
					}
				}
			});
		
		}
		
		function validarFormato(){		
				
				var textPattern = "^[\\w\\s\\d]{1,30}$"
				var namePattern = "^[a-z A-Z]{1,30}$";
				var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
				var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
				var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
				var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
				var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
				var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
				var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
			
				var mensaje = "";
				
				var valido = true;	
				
				
			
			    //Check #CampaniaSeleccionada
			    if(!checkSelectOne("#cargarCupones\\:SelectOne"))
				{
					mensaje += "<li>Debes seleccionar una campania</li>";
					if(valido){valido=false}
				}
				
				//Check #URL
				if(!checkURL( "#cargarCupones\\:plantillaMail-url"))
				{
					mensaje += "<li>Debes indicar una URL valida</li>";
					if(valido){valido=false}
				}
			
				
				//Check #Nombre
				if(!checkInput( "#cargarCupones\\:plantillaMail-texto", textPattern))
				{
					mensaje += "<li>Debes indicar el <b>nombre</b> para la imagen</li>";
					if(valido){valido=false}
				}
				
				
				
				//Check #File
				if(!checkInputFile( "#cargarCupones\\:inputFile"))
				{
					mensaje += "<li>Debes seleccionar una imagen para cargar</li>";
					if(valido){valido=false}
				}
				
				
	
				
				if(!valido)
				{
					printMensaje(mensaje,  "#cargarCupones\\:msgBox" )
				}
				return valido;
			}
			
			function printMensaje(mensaje, msgPanel)
			{
			
				var panel = "<div class='col-sm-12'>" +
							"<div class='alert alert-dismissible alert-danger'>" +
							"  <button type='button' class='close' data-dismiss='alert'>&times;</button> <strong>Oh! hay un problema en tu formulario!</strong>"+
							"<ul>" +
							mensaje
							"</ul>" +
							"</div>"+
							"</div>";
							
				$(msgPanel).html(panel);
			}
		
		/* ]]> */
	</script>
</h:body>
</html>