<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<ui:include src="headerImport.xhtml" />
</h:head>
<h:body>
	<h:inputHidden value="#{estadisticaBean.init()}"></h:inputHidden>
	<ui:include src="headerAdm.xhtml"></ui:include>

	<!-- Tabla de archivos cargados -->
	<h:panelGroup layout="block" class="container">

		<h:form id="formulario">
			<h:panelGroup layout="block" class="col-sm-12">
				<h:panelGroup layout="block" class="col-sm-12">
					<legend>Resumen e-mails ultimos 7 dias </legend>
					<hr />
				</h:panelGroup>

				
				<h:panelGroup layout="block" class="col-sm-12">
				<h:panelGroup layout="block" class="row">
					<h:panelGroup layout="block" class="col-sm-2">
						<h:panelGroup layout="block" class="panel-group">
							<h:outputLabel value="Desde: "></h:outputLabel>
							<h:inputText value="#{estadisticaBean.desde}"
								styleClass="form-control" a:placeholder="Desde" id="desde"
								readonly="#{facesContext.renderResponse}"></h:inputText>
							<small class="form-text text-muted">Rango de fechas
								(dd/mm/yyyy)</small>
						</h:panelGroup>
<div style ="height: 30px"></div>
						<h:commandButton class="btn btn-primary"
							id="crearCategoriaConfirmado" value="Buscar">
							<f:ajax listener="#{estadisticaBean.buscar}" render="@form"
								execute="@form" onevent="reloadTbl"></f:ajax>
						</h:commandButton>
					</h:panelGroup>

					<h:panelGroup layout="block" class="col-sm-10">
						<h:panelGroup layout="block" id="detalle">
							<table width="100%" id="detalleClientes"
								class="display nowrap table-hover">
								<thead>
									<td>Fecha</td>
									<td>Enviados</td>
									<td>Abiertos</td>
									<td>Click</td>
									<td>Enviados vs Abierto</td>
									<td>Enviados vs Click</td>
									<td>Abiertos vs Click</td>
								</thead>
								<tbody>
									<ui:repeat var="cliente" value="#{estadisticaBean.datos}"
										id="listaCargaMasiva" varStatus="status">
										<tr>
											<td><h:outputText value="#{cliente.fechaFormateada}"></h:outputText>
											</td>
											<td><h:outputText value="#{cliente.enviado}"></h:outputText>
											</td>
											<td><h:outputText value="#{cliente.abierto}"></h:outputText>
											</td>
											<td><h:outputText value="#{cliente.clickeado}"></h:outputText>
											</td>
											<td><h:outputText value="#{cliente.enviadoAbierto}%"></h:outputText>
											</td>
											<td><h:outputText value="#{cliente.enviadoClick}%"></h:outputText>
											</td>
											<td><h:outputText value="#{cliente.abiertoClick}%"></h:outputText>
											</td>
										</tr>
									</ui:repeat>
								</tbody>
							</table>
						</h:panelGroup>
					</h:panelGroup>



					<h:panelGroup layout="block" class="col-sm-12">
						<center>
							<h5></h5>
						</center>
						<canvas id="stats" width="400" min-height="200"></canvas>

						<script>
									/* <![CDATA[ */
									var ctx = document.getElementById("stats").getContext('2d');
									var myChart = new Chart(ctx, {
									    data: #{estadisticaBean.datosJson},
									    type: 'line',
									    options: ''
									});
									/* ]]> */
								</script>
					</h:panelGroup>

					</h:panelGroup> 		  
				</h:panelGroup>
			</h:panelGroup>
		</h:form>

	</h:panelGroup>
	<script>
	/* <![CDATA[ */
		function reloadTbl(data) {
			if (data.status == "begin") {
				 on();
			}
			if (data.status == "complete") {

			}
			if (data.status == "success") {
				inicializar();
				 off();
			}
		}
		
		$(document).on('ready', function() {
			inicializar();
		});
		
		function inicializar(){
			$("#detalleClientes").DataTable({
				dom: 'Bfrtip',
		        buttons: [
		        	{
		                extend: 'excel',
		                text: 'Exportar',
		                title:'Resumen Registros'

		            }
		        	],
				"searching" : false,
				"bLengthChange" : true,
				 "pageLength": 50,
				"language" : {
					"lengthMenu" : "Ver _MENU_ Registros por pagina",
					"zeroRecords" : "Ningun Registro Encontrado",
					"info" : "Visualizando _PAGE_ de _PAGES_",
					"infoEmpty" : "Sin Registros",
					"infoFiltered" : "(De un Total de _MAX_ Registros)",
					"sSearch" : "Buscar:",
					"oPaginate" : {
						"sFirst" : "Primero",
						"sLast" : "Último",
						"sNext" : "Siguiente",
						"sPrevious" : "Anterior"
					}
				}
			});

		    $( "#formulario\\:desde" ).datepicker({
		    	dateFormat: "dd/mm/yy",
		    	maxDate: new Date()
		    });
		    $( "#formulario\\:hasta" ).datepicker({
		    	dateFormat: "dd/mm/yy",
		    	maxDate: new Date()
		    });
			 
		}
	/* ]]> */
	</script>

</h:body>
</html>
