<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<ui:include src="headerImport.xhtml" />	
	<script src="js/fidelizacion/formValidate.js"></script>
	<script type="text/javascript">
		/* <![CDATA[ */
	
	
			
		function on() {
		    document.getElementById("overlay").style.display = "block";
		}

		function off() {
		    document.getElementById("overlay").style.display = "none";
		}

		
		function reloadTbl(data) {
			
			if (data.status == "begin") {
				 on();
			}
			if (data.status == "complete") {
				 
			}
			if (data.status == "success") {
				off();
			}
		}
		
		/* ]]> */
	</script>
</h:head>
<h:body>
	<ui:include src="headerAdm.xhtml" />
	<h:inputHidden value="#{fidelizarClienteBean.init()}"></h:inputHidden>
	<h:panelGroup layout="block" class="container">
		<h:form id="formGenerarCupon">
		<!-- Panel de mensajes -->
			<h:panelGroup layout="block" id="mensajes" class="row">
				<h:panelGroup layout="block" id="msgBox" class="container">
					<h:panelGroup layout="block" class="msg-box">
						<ui:repeat var="msg" id="rep" varStatus="status" value="#{fidelizarClienteBean.mensajes}">
							<h:panelGroup layout="block" id="panelMensaje" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':msg.tipo == 'INFO'?'alert-info':''}">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<h4 class="alert-heading">#{msg.titulo}</h4>
								<h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
							</h:panelGroup>
							<script type="text/javascript">
								/* <![CDATA[ */
									//$(document).on('ready', function() {
										$( "#formGenerarCupon\\:rep\\:#{status.index}\\:panelMensaje" ).delay( 8000 ).slideUp( 800 );
									//});
								/* ]]> */
							</script>
						</ui:repeat>
					</h:panelGroup>
				</h:panelGroup>
			</h:panelGroup>
		<!-- FIN panel de mensajes -->
			<h:panelGroup layout="block" class="row">
				<h:panelGroup layout="block" class="col-sm-12">
					<legend>Fidelizar Cliente</legend>
					<hr/>
				</h:panelGroup>
				<!-- Empresa inhabilitada -->
				<h:panelGroup layout="block" class="col-sm-12">
					<h:panelGroup layout="block" rendered="#{!fidelizarClienteBean.empresaHabilitada}">
						<h:panelGroup layout="block" class="jumbotron">
							<h1 class="display-3">Información</h1>
							<p class="lead">Inhabilitado para ingresar clientes</p>
							<hr class="my-4"> </hr>
							<p>Tu empresa ya ha registrado el número máximo de cliente habilitados, para ingresar mas clientes, debes ampliar tu cuota de registros. </p>
							<p class="lead">
							<!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
							</p>
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
				<!-- Empresa habilitada -->
				<h:panelGroup layout="block" class="col-sm-12">
					<h:panelGroup layout="block" rendered="#{fidelizarClienteBean.empresaHabilitada}">
						<h:panelGroup layout="block" class="row">
							<h:panelGroup layout="block" class="col-sm-4">
								<h:panelGroup layout="block" class="form-group" id="formulario-campania">
									<h:outputLabel value="Campania"></h:outputLabel>
									<h:selectOneListbox styleClass="custom-select" size="1" id="cmbCampania"  value="#{fidelizarClienteBean.campaniaSeleccionadaId}" class="custom-select" >
										<f:selectItem itemLabel="Seleccionar Campaña" itemValue="0"></f:selectItem>
										<f:selectItems value="#{fidelizarClienteBean.campanias}" var="t"
											itemLabel="#{t.nombre}" itemValue="#{t.id}" />
											<f:ajax listener="#{fidelizarClienteBean.selectCampania()}"
											render="@form"  execute="@form" onevent="reloadTbl"></f:ajax>
									</h:selectOneListbox>
									<small id="ayudaTexto" class="form-text text-muted">
										Selecciona Campaña.
									</small>
								</h:panelGroup>
								<h:panelGroup layout="block" class="form-group" id="formulario-tienda">
									<h:outputLabel value="Tienda"></h:outputLabel>
									<h:selectOneListbox styleClass="custom-select" size="1" id="cmbTienda"  value="#{fidelizarClienteBean.tiendaSeleccionadaId}" class="custom-select" >
										<f:selectItem itemLabel="Seleccionar Tienda" itemValue="0"></f:selectItem>
										<f:selectItems value="#{fidelizarClienteBean.tiendas}" var="t"
											itemLabel="#{t.nombre}" itemValue="#{t.id}" />
											<f:ajax listener="#{fidelizarClienteBean.selectTienda()}"
											render="@form"  execute="@form" onevent="reloadTbl"></f:ajax>
									</h:selectOneListbox>
									<small id="ayudaTexto" class="form-text text-muted">
										Seleccione Tienda.
									</small>
								</h:panelGroup>
								<h:panelGroup layout="block" class="form-group" id="formulario-vendedor">
									<h:outputLabel value="Vendedor"></h:outputLabel>
									<h:selectOneListbox styleClass="custom-select" size="1" id="cmbVendedor"  value="#{fidelizarClienteBean.vendedorSeleccionadoId}" class="custom-select" >
										<f:selectItem itemLabel="Seleccionar Tienda" itemValue="0"></f:selectItem>
										<f:selectItems value="#{fidelizarClienteBean.vendedores}" var="t"
											itemLabel="#{t.nick}" itemValue="#{t.id}" />
											<f:ajax listener="#{fidelizarClienteBean.selectVendedor()}"
											render="@form"  execute="@form" onevent="reloadTbl"></f:ajax>
									</h:selectOneListbox>
									<small id="ayudaTexto" class="form-text text-muted">
										Seleccione Tienda.
									</small>
								</h:panelGroup>
							</h:panelGroup>	
							<h:panelGroup layout="block" class="col-sm-8">
								<h:panelGroup layout="block" class="form-group" id="mailCliente">
									<h:outputLabel for="campoMailCliente" value="Mail"></h:outputLabel>
									<h:inputText a:placeholder="Mail Cliente" class="form-control" id="campoMailCliente" value="#{fidelizarClienteBean.nuevoCliente.mail}"></h:inputText>
									<small  class="form-text text-muted">Mail del nuevo cliente.</small>
								</h:panelGroup>
								<h:panelGroup layout="block" class="form-group" id="sexoCliente">
									<h:selectOneRadio value="#{fidelizarClienteBean.nuevoCliente.sexo}">
										<f:selectItem class="custom-control-input" itemValue="HOMBRE" itemLabel="Hombre" />
										<f:selectItem class="custom-control-input" itemValue="MUJER" itemLabel="Mujer" />
									</h:selectOneRadio>
								</h:panelGroup>
								
								<h:commandButton class="oculto" value="Ingresar cliente" id="IngresarClienteConfirmado">
									<f:ajax></f:ajax>
								</h:commandButton>
								<h:commandButton class="btn btn-primary" value="Ingresar Cliente" action="#{fidelizarClienteBean.fidelizarCliente}">
									<f:ajax render="@form" execute="@form" onevent="reloadTbl"></f:ajax>
								</h:commandButton>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</h:panelGroup>
		</h:form>
	</h:panelGroup>
	
	<div id="overlay" ><div class="loader"></div></div>
	
</h:body>

</html>