<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>

</h:head>
<h:body>
	<h:inputHidden value="#{footerBean.init()}"></h:inputHidden>
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
	<tbody>
		<tr>
			<h:panelGroup rendered="#{footerBean.instagram != null}">
				<td>
					<h:outputLink target="_blank" value="https://www.instagram.com/#{footerBean.instagram}/"><img src="https://#{mailBean.direccionServer}/TagmeFidelizacion/archivos/social/ig.jpg" style="display: block;" alt="" width="100%"/></h:outputLink>
				</td>
			</h:panelGroup>
			<h:panelGroup rendered="#{footerBean.facebook != null}">
				<td>
					<h:outputLink target="_blank" value="https://www.facebook.com/#{footerBean.facebook}"><img src="https://#{mailBean.direccionServer}/TagmeFidelizacion/archivos/social/fb.jpg" style="display: block;" alt="" width="100%"/></h:outputLink>
				</td>
			</h:panelGroup>
			<h:panelGroup rendered="#{footerBean.twitter != null}">
				<td>
					<h:outputLink target="_blank" value="https://twitter.com/#{footerBean.twitter}"><img src="https://#{mailBean.direccionServer}/TagmeFidelizacion/archivos/social/tew.jpg" style="display: block;" alt="" width="100%"/></h:outputLink>
				</td>
			</h:panelGroup>
			<h:panelGroup rendered="#{footerBean.youtube != null}">
				<td>
					<h:outputLink target="_blank" value="https://www.youtube.com/user/#{footerBean.youtube}"><img src="https://#{mailBean.direccionServer}/TagmeFidelizacion/archivos/social/yt.jpg" style="display: block;" alt="" width="100%"/></h:outputLink>
				</td>
			</h:panelGroup>
		</tr>
		
		</tbody>
	</table>
								
</h:body>
</html>