<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
<script type="text/javascript">
		//<![CDATA[		
$( "#about-puma" ).click(function() {
  $( "#about-puma-item" ).toggle();
});

function abrir(nombre){
	 $( nombre ).toggle();
}
//]]>
	</script>
</h:head>
<h:body>


	<footer class="footer js-footer" style="margin-top: 10px;">
	

	 

	<div class="wrapper">
		<div
			class="gr-12 gr-4@tablet gr-5@desktop suffix-1@tablet suffix-0@desktop u-floatright">
			<div class="footer__social">
				<a title="Go to Facebook" href="https://www.facebook.com/Puma"
					target="_blank" class="footer__social__link" style="text-decoration:none; ">
					<img src="images/facebook-logo.png" alt="facebook-logo" />
				</a> <a title="Go to Twitter" href="https://twitter.com/PUMAChile"
					target="_blank" class="footer__social__link" style="text-decoration:none; "> 
					<img src="images/twitter-logo-silhouette.png" alt="" />
				</a> <a title="Go to Instagram" href="https://www.instagram.com/puma/"
					target="_blank" class="footer__social__link" style="text-decoration:none; "> 
					<img src="images/instagram.png" alt="instagram-logo" />
				</a> <a title="Go to Pinterest" href="https://www.pinterest.com/puma/"
					target="_blank" class="footer__social__link" style="text-decoration:none; "> 
					<img src="images/pinterest-logo.png" alt="pinterest" />
				</a> <a title="Go to YouTube" href="https://www.youtube.com/user/puma"
					target="_blank" class="footer__social__link" style="text-decoration:none; ">  
					<img src="images/youtube.png" alt="youtube" />
				</a>

			</div>
		</div>

		<div
			class="gr-12 gr-5@tablet gr-6@desktop prefix-1@tablet prefix-0@desktop suffix-1@tablet ">
			<div class="footer__copyright">
				All Rights Reserved © PUMA SE, 2017 | <a
					href="http://about.puma.com/en/meta/imprint" target="_blank">Imprint
					&amp; Legal Data</a>
			</div>
			<div class="footer__company-description">
				<span class="footer__company-description__text"> <span
					class="footer__company-description__text__teaser js-footer-company-description-teaser">
						PUMA AT A GLANCE / PUMA is one of the world’s leading sports
						brands. We design, develop, and... </span>

					<div
						class="footer__company-description__text__full js-footer-company-description-full is-hidden">
						<p>
							<strong>PUMA AT A GLANCE </strong> / PUMA is one of the world’s
							leading sports brands. We design, develop, and sell footwear,
							apparel, and accessories made for those who are looking to be
							“Forever Faster”. For over 65 years, PUMA has established a
							history of making fast product designs for the fastest athletes
							on the planet. The official PUMA Online Store offers a large
							selection of <a href="https://eu.puma.com/de/en/mens">Mens</a>, <a
								href="https://eu.puma.com/de/en/womens">Womens</a> and <a
								href="https://eu.puma.com/de/en/kids">Kids</a> PUMA Shoes,
							Clothing, Accessories, and Equipment, all available for you to
							shop and buy online and have it delivered direct to your door.
						</p>
						<p>
							<a href="https://eu.puma.com/de/en/sports/football">PUMA
								Football</a> offers products including the evoSPEED, evoPOWER, and
							King Football Boots. We also carry jerseys and fanwear for <a
								href="https://eu.puma.com/de/en/explore/arsenal">Arsenal</a>, <a
								href="https://eu.puma.com/de/en/explore/bvb">BVB</a>, and <a
								href="https://eu.puma.com/de/en/explore/italia">Italia</a>
							football clubs, as well as many additional sponsored clubs. Our
							performance products can be seen on our Ambassadors, including
							Sergio Agüero, Cesc Fàbregas, Marco Reus, Radamel Falcao, Olivier
							Giroud, Mario Balotelli, and, in women’s football, Brazilian
							powerhouse Marta. We also carry a full line of boots, apparel,
							and equipment for everyday footballers.
						</p>
						<p>
							<a href="https://eu.puma.com/de/en/sports/running">PUMA
								Running</a> is built from the top down for the world’s fastest man,
							Usain Bolt. IGNITE Running Shoes, Disc technology, and our Speed
							Series Running Shoes are perfect for those looking to stand out
							and be seen. Our Running Apparel and Running Accessories are also
							infused with technology to get you optimal performance, as well
							safety and visibility. And we also have a line developed
							specifically with the world’s fastest person, <a
								href="https://eu.puma.com/de/en/explore/bolt-collection">Usain
								Bolt</a>.
						</p>
						<p>
							<a href="https://eu.puma.com/de/en/sports/training">PUMA
								Training</a> has designed Shoes, Apparel, and Accessories that
							maximize your training &amp; look good doing it, whether you hit
							the gym or the yoga studio. Infused with technology that helps
							your muscles work at peak capacity and quickly recover, our
							training line includes the Pulse XT &amp; IGNITE XT Shoes, as
							well as compression shirts, loose-fitting cardio gear, and
							training shorts, pants, tights, and leggings. Our products can be
							seen on the world’s best trainers, including Fernanda Brandao,
							Jamie Granger, and more.
						</p>
						<p>
							PUMA’s Motorsport line is one of our most famous lines, as we
							partner with the fastest racing teams on the planet. Find
							Motorsport Footwear, Apparel, and Accessories from our sponsored
							Teams, including <a
								href="https://eu.puma.com/de/en/explore/scuderia-ferrari">Scuderia
								Ferrari</a>, <a
								href="https://eu.puma.com/de/en/explore/mercedes-amg-petronas">Mercedes
								AMG Petronas</a>, <a
								href="https://eu.puma.com/de/en/explore/bmw-motorsport">BMW
								Motorsport</a>, and <a
								href="https://eu.puma.com/de/en/explore/red-bull-racing">Red
								Bull Racing</a>. We also have our own classic designs, including the
							Speed Cat, Drift Cat, and Future Cat Motorsport Shoes.
						</p>
						<p>
							PUMA can be seen on the Golf Course in the form of our <a
								href="https://eu.puma.com/de/en/explore/golf">Cobra PUMA
								Golf</a> line, worn by standout tour pros Rickie Fowler, Lexi
							Thompson, and more. Find PUMA Golf Shoes, Golf Pants, Polos, Golf
							Shorts, and Golf Skirts, all worn by our ambassadors on the
							toughest courses in the world.
						</p>
						<p>
							PUMA also engages in exciting collaborations for its high-fashion
							<a href="https://eu.puma.com/de/en/select">PUMA Select</a> line.
							This includes partnerships with renowned design brands such as <a
								href="https://eu.puma.com/de/en/explore/select/puma-x-staple">Jeff
								Staple</a>, <a
								href="https://eu.puma.com/de/en/explore/select/puma-x-sesame-street">Sesame
								Street</a>, <a href="https://eu.puma.com/de/en/select/stampd">STAMPD</a>
							and more. These partnerships help us fuse performance technology
							with street fashion for the ultimate in athletic fashion wear.
						</p>
						<p>PUMA has created famous sneaker styles, including the world
							famous PUMA Suede and Trinomic lines. Shop classics like the
							Carson, Aril, Match, Court, Blaze, Soleil, Mostro, Cabana Racer,
							Whirlwind, and many more. This is in addition to all the classic
							PUMA clothing and accessories you know and love, including our
							famous PUMA Cat Logo T-Shirts, T7 Track Jackets, and more.</p>
						<p>
							PUMA is also known for the partnership with Rihanna, which has
							given way to a number of new product designs. Rihanna has also
							curated her own collection with PUMA, <a
								href="https://eu.puma.com/de/en/explore/puma-by-rihanna">PUMA
								by Rihanna</a>, where you can get the exact same products she is
							wearing herself. Our ongoing partnership with her Fenty brand
							will bring a more fashionable take on our classic
							athletic-focused products and designs.
						</p>
						<p>The company distributes its products in more than 120
							countries, employs more than 10,000 people worldwide, and is
							headquartered in Herzogenaurach, Germany.</p>
					</div>
				</span> <a href="#"
					class="footer__company-description__readmore js-footer-company-description-more">Read
					more</a> <a href="#"
					class="footer__company-description__readless js-footer-company-description-less is-hidden">Read
					less</a>
			</div>
		</div>
	</div>
	</footer>
</h:body>
</html>