<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"></link>
	<title>Administración</title>
</h:head>
<h:body style="font-family: 'Roboto Condensed', sans-serif, Arial;">
	<h:inputHidden value="#{alertMailBean.init()}"></h:inputHidden>	
	<table style="width: 100%; margin-top: 20px;background-color: #f9f9f9; border-collapse: collapse;">
		<thead style="background-color: #dcdcdc;">
			<tr>
				<td>Alerta</td>
				<td>Mensaje</td>
				<td>Tipo Error</td>
			</tr>
		</thead>
		<tbody>
			<ui:repeat value="#{alertMailBean.listaMensajes}" var="m">
			
								
				<tr>
					<td style="text-align: center; padding: 10px 0px;padding-left: 5px; border-bottom: 1px solid #DCDCDD;">
						<h:outputText escape="false" value="#{m.titulo}"></h:outputText>
					</td>
					<td style="padding: 10px 0px;padding-left: 5px; border-bottom: 1px solid #DCDCDD;">
						<h:outputText escape="false" value="#{m.mensaje}"></h:outputText>
					</td>
					<h:panelGroup rendered="#{m.tipo == 'WARNING'}">
						<td style="color:#ffc107; text-align: center; background-color: #fff0c6; padding: 10px 0px;padding-left: 5px; border-bottom: 1px solid #ffc107;">
							<h:outputText sescape="false" value="#{m.tipo}"></h:outputText>
						</td>
					</h:panelGroup>
					
					<h:panelGroup rendered="#{m.tipo == 'ERROR'}">
						<td style="color: #F44336; text-align: center; background-color: #ffc9c6; padding: 10px 0px;padding-left: 5px; border-bottom: 1px solid #f44336;">
							<h:outputText sescape="false" value="#{m.tipo}"></h:outputText>
						</td>
					</h:panelGroup>
					
				</tr>
			</ui:repeat>
		</tbody>
	</table>
</h:body>
</html>
