<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<ui:include src="headerImport.xhtml" />	
	<script src="js/fidelizacion/formValidate.js"></script>
</h:head>
<h:body>
	<script>
	/* <![CDATA[ */
	function reloadTbl(data) {
		if (data.status == "begin") {
			
		}
		if (data.status == "complete") {
		}
		if (data.status == "success") {
			inicializar();
		}
	}
	
	$(document).on('ready', function(){
		inicializar();
	});
	
	function inicializar(){
	
		$("#formulario\\:generarCupones").confirmation({
			rootSelector : 'formInv\\:btnConfirm',
			placement : 'top',
			btnOkLabel : 'Ok',
			title : 'Confirmacion',
			onConfirm : function() {
				if(validarCupon()){
					$('#formulario\\:generarCuponesConfirmado').click();
				}
			},
			onCancel : function() {
				flagFormato = false;
				return false;
			}
		});
		
		$("#formulario\\:comboCondicion").change(function(){
			if($(this).val() != 0){
				$("#formulario\\:condiciones").val($("#formulario\\:comboCondicion option:selected").text()); 
			}else{
				$("#formulario\\:condiciones").val(""); 
			}
		})
		
		
	}
	
	function validarCupon(){		
		
		var textPattern = "^[\\w\\s\\d]{1,30}$"
		var namePattern = "^[a-z A-Z]{1,30}$";
		var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
		var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
		var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
		var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
		var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
		var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
		var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
	
		var mensaje = "";
		
		var valido = true;	
		
		

		//Check #CampaniaSeleccionada
		if(!checkSelectOne("#formulario\\:SelectOneCampania"))
		{
			mensaje += "<li>Debes seleccionar una campania para asignar los cupones</li>";
			if(valido){valido=false}
		}
		
		
		//Check #condiciones
		if(!checkTextarea( "#formulario\\:txtArea", textPattern))
		{
			mensaje += "<li>Debes indicar alguna condicion para los cupones</li>";
			if(valido){valido=false}
		}
		
		//Check #File
		if(checkNotNull( "#formulario\\:CantidadCupones"))
		{
			var value = $( "#formulario\\:CantidadCupones input" ).val();
			if(!isNaN(parseInt(value))){
				var number = parseInt(value);
				if(number < 1 || number > 10000 ){
					notValid("#formulario\\:CantidadCupones")
					mensaje += "<li>Debes indicar una cantidad entre 1 y 10000</li>";
					if(valido){valido=false}
				}
			}else{
				notValid("#formulario\\:CantidadCupones")
				mensaje += "<li>La cantidad de folios debe ser un valor numerico</li>";
				if(valido){valido=false}
			}
			
		}else{
			mensaje += "<li>Debes indicar una cantidad de folios</li>";
			if(valido){valido=false}
		}
		
		
		
	
		
		if(!valido)
		{
			printMensaje(mensaje,  "#formulario\\:msgBox" )
		}
		//console.log(valido);
		$( ".timeWarning" ).delay( 10000 ).slideUp(300);
		return valido;
		
	}
	
	function printMensaje(mensaje, msgPanel)
	{
	
		var panel = "<div class='col-sm-12'>" +
					"<div class='alert alert-dismissible alert-danger timeWarning'>" +
					"  <button type='button' class='close' data-dismiss='alert'>&times;</button> <strong>Oh! hay un problema en tu formulario!</strong>"+
					"<ul>" +
					mensaje
					"</ul>" +
					"</div>"+
					"</div>";
					
		$(msgPanel).html(panel);
	}
	
	
	
	
	/* ]]> */
	</script>
	<ui:include src="headerAdm.xhtml"></ui:include>
	<ui:include src="#{generarCuponBean.init()}"></ui:include>
	<h:form id="formulario">
		<h:panelGroup layout="block" class="container">
			<!-- Panel de mensajes -->
			<h:panelGroup layout="block" id="msgBox" class="row">
				<h:panelGroup layout="block" class="container">
					<ui:repeat var="msg" value="#{generarCuponBean.mensajes}">
						<h:panelGroup layout="block" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger timeWarning':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':''}">
							<h:commandButton type="button" class="close" data-dismiss="alert">×</h:commandButton>
							<h4 class="alert-heading">#{msg.titulo}</h4>
							<h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
						</h:panelGroup>
						<script>
						/* <![CDATA[ */
						$( ".timeWarning" ).delay( 10000 ).slideUp(300);
						/* ]]> */
						</script>
					</ui:repeat>
				</h:panelGroup>
			</h:panelGroup>
			<h:panelGroup layout="block" class="row">
				<h:panelGroup class="col-sm-12">
					<legend>Generar Cupones</legend>
					<hr />
				</h:panelGroup>
			</h:panelGroup>
			<h:panelGroup layout="block" class="row">
				<h:panelGroup layout="block" class="col-sm-5">
					<h:panelGroup layout="block" class="form-group" id="SelectOneCampania">
						<h:outputLabel for="texto" value="Campañas"></h:outputLabel>
						<h:selectOneListbox size="1" id="selectCampania" value="#{generarCuponBean.idCampaniaSeleccionada}" class="custom-select" >
							<f:selectItem itemLabel="Seleccionar campaña" itemValue="0"></f:selectItem>
							<f:selectItems value="#{generarCuponBean.campanias}" var="c"
								itemLabel="#{c.nombre}" itemValue="#{c.id}" />
							<f:ajax render="@form" execute="@form" listener="#{generarCuponBean.setCampaniaActual()}" onevent="reloadTbl"></f:ajax>
						</h:selectOneListbox>		
						<small id="ayudaTexto" class="form-text text-muted">Campañas de la Empresa.</small>	
					</h:panelGroup>
					<h:panelGroup layout="block" class="form-group" id="SelectOneCondicion">
						<h:outputLabel for="texto" value="Condicion template"></h:outputLabel>
						<h:selectOneListbox size="1" id="comboCondicion" value="0" class="custom-select" >
							<f:selectItem itemLabel="Seleccionar Condicion" itemValue="0"></f:selectItem>
							<f:selectItems value="#{generarCuponBean.condiciones}" var="c"
								itemLabel="#{c.texto}" itemValue="#{c.id}" />
						</h:selectOneListbox>		
						<small id="ayudaTexto" class="form-text text-muted">Condiciones.</small>	
					</h:panelGroup>
					<h:panelGroup layout="block" class="form-group" id="txtArea">
						<label for="">Condiciones </label>
						<h:inputTextarea a:placeholder="Condiciones" class="form-control" id="condiciones" rows="4" a:maxlength="200" value="#{generarCuponBean.textArea}"></h:inputTextarea>
						<small id="contadorCondiciones" class="form-text text-muted">
							200.
						</small>
						
					</h:panelGroup>
					<h:panelGroup layout="block" class="form-group" id="CantidadCupones">
						<h:outputLabel for="copiarCampania" value="Cupones a generar"></h:outputLabel>
						<h:inputText a:placeholder="Cantidad" styleClass="form-control" value="#{generarCuponBean.cantidadCupones}" ></h:inputText>
						<small id="ayudaTexto" class="form-text text-muted">
							Cantidad de cupones a generar.
						</small>
					</h:panelGroup>
					
					<h:commandButton id="generarCuponesConfirmado" class="oculto" value="GenerarCupones" action="#{generarCuponBean.generarCupones()}">
						<f:ajax render="@form" execute="@form" onevent="reloadTbl"></f:ajax>
					</h:commandButton>
					<h:commandButton id="generarCupones" class="btn btn-primary btn-lg btn-block" value="GenerarCupones" type="button"></h:commandButton>
				</h:panelGroup>
				<h:panelGroup layout="block" class="col-sm-7">
					<legend>Detalle campaña selecionada</legend>
					<h5>Cupones disponibles : #{generarCuponBean.cantidadDisponible}</h5>
					<h:panelGroup layout="block" id="detalle">
						<table id="detalleCargaMasiva" class="table table-hover">
							<thead>
								<td>Id</td>
								<td>Nombre</td>
								<td>Fecha</td>
								<td>Cupones</td>
								<td ></td>
								<td></td>

							</thead>
							<tbody>
								<ui:repeat var="fileCarga" value="#{generarCuponBean.cargaCupones}" id="listaCargaMasiva" varStatus="status">
									<tr>
										<td>
											<h:outputText value="#{fileCarga.id}"></h:outputText>
										</td>
										<td>
											<h:outputText value="#{fileCarga.nombre}"></h:outputText>
										</td>
										<td>
											<h:outputText value="#{fileCarga.fecha}"></h:outputText>
										</td>
										<td>
											<h:outputText value="#{fileCarga.cupones}"></h:outputText>
										</td>
										<td>
											<h:outputLink styleClass="fondoNegro" value="archivos/cupones/#{fileCarga.nombre}"><i class="fas fa-file-excel"></i></h:outputLink>
											
											
										</td>
										
										<td>
											<h:panelGroup>
													
													<h:commandButton id="btnConfirmado" class="oculto btn" action="#{admCuponBean.eliminarCargaMasiva}" >
														<f:param name="id" value="#{fileCarga.id}" />
													</h:commandButton>
													
													<h:panelGroup layout="block" id="btnEliminar" class="delete"><i class="fas fa-times-circle"></i></h:panelGroup>
													<script>
													/* <![CDATA[ */
														$('#formulario\\:listaCargaMasiva\\:#{status.index}\\:btnEliminar').confirmation({
															placement : 'top',
															btnOkLabel : 'Ok',
															title : 'Confirmación',
															onConfirm : function() {
																$('#formulario\\:listaCargaMasiva\\:#{status.index}\\:btnConfirmado').click();
														},
															onCancel : function() {
																flagFormato = false;
																return false;
															}
														})
													/* ]]> */
													</script>
													
											</h:panelGroup>
										
										</td>
										
									</tr>
								</ui:repeat>
							</tbody>
						</table>
					</h:panelGroup>	
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</h:form>
	<script>
	/* <![CDATA[ */
  	/* ]]> */
	</script>
</h:body>
</html>