<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:body>
<h:inputHidden value="#{menuBean.init()}"></h:inputHidden>
<h:inputHidden value="#{alertBean.init()}"></h:inputHidden>
<h:inputHidden value="#{headerBean.init()}"></h:inputHidden>
<h:form id="formMenu">
	 <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
	<a class="navbar-brand" href="#"><img src="images/loginMin.png" width="40px"></img></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarColor01" aria-controls="navbarColor01"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<ui:repeat var="menu" value="#{headerBean.padre}">
			
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">#{menu.padre.nombre}</a>
					<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
					
					<ui:repeat var="hijo" value="#{menu.hijos}">
						<a class="dropdown-item" href="#{hijo.url}">#{hijo.nombre}</a>
					</ui:repeat>
					</div>
				</li>
			
			</ui:repeat>	
			<!-- 
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Email</a>
					<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
	                    <a class="dropdown-item" href="administracion_menu.xhtml">Menu</a>
	                    <a class="dropdown-item" href="emailTemplate.xhtml">Plantilla</a>
	                    <a class="dropdown-item" href="administracionformulario.xhtml">Formulario Registro</a>
	                   <a class="dropdown-item" href="administracionMailCupon.xhtml">Cupon</a>
	                </div>
				</li>
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Reportes</a>
					<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
						<a class="dropdown-item" href="informacion.xhtml">Resumen</a>
						<a class="dropdown-item" href="ReporteClientes.xhtml">Clientes</a>
	                </div>
				</li>
			 -->
			
		</ul>
		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item "><a id="error-button" class="nav-link alert-icon error "><h:outputLabel class="counter" value="#{alertBean.errorCount}"></h:outputLabel><i class="fas fa-times-circle"></i></a></li>
			<li class="nav-item "><a id="warning-button" class="nav-link alert-icon warning warning-select"><h:outputLabel id="warning-contandor" class="counter" value="#{alertBean.warningCount}"></h:outputLabel><i  class="fas fa-exclamation-triangle"></i></a></li>
			
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
					#{menuBean.usuario.nombre}  <i class="fas fa-user-circle" style="margin-left: 5px;"></i></a>
					
				<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-70px, 38px, 0px);">
					<h:commandLink class="dropdown-item" value="Cerrar Sesion"
							action="#{menuBean.cerrarSesion}">
							<i class="fa fa-fw fa-power-off"></i>
						</h:commandLink>
				</div>
			</li>
		</ul>
	</div>
	</nav>
	<div id="overlay" ><div class="loader"></div></div>
	</h:form>
	<ui:include src="messages.xhtml" />
</h:body>
</html>