<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
</h:head>
<h:body>

	<h:panelGroup rendered="#{mailBean.existeMenu}">
		<table align="center" border="0" cellpadding="0" cellspacing="0"
			width="">
			<tbody>
				<tr>
					<ui:repeat value="#{mailBean.menu}" varStatus="row" var="c">
						<td><a target="_blank"  href="#{c.url}"><img
								src="http://#{mailBean.direccionServer}/TagmeFidelizacion/archivos/menu/#{c.imagen}"
								style="display: block;" alt="" width="100%" height="auto" /></a></td>
					</ui:repeat>
				</tr>
			</tbody>
		</table>
	</h:panelGroup>

	<h:panelGroup rendered="#{registroBean.existeMenu and not mailBean.existeMenu}">
		<table align="center" border="0" cellpadding="0" cellspacing="0"
			width="">
			<tbody>
				<tr>
				
					<ui:repeat value="#{registroBean.menu}" varStatus="row" var="c">
						<td><a target="_blank"  href="#{c.url}"><img
								src="http://#{registroBean.direccionServer}/TagmeFidelizacion/archivos/menu/#{c.imagen}"
								style="display: block;" alt="" width="100%" height="auto" /></a></td>
					</ui:repeat>
				</tr>
			</tbody>
		</table>
	</h:panelGroup>
 
	<h:panelGroup
		rendered="#{emailTemplateBean.existeMenu and not registroBean.existeMenu and not mailBean.existeMenu}">
		<table align="center" border="0" cellpadding="0" cellspacing="0"
			width="">
			<tbody>
				<tr>
				
					<ui:repeat value="#{emailTemplateBean.menu}" varStatus="row"
						var="c">
						<td><a target="_blank"  href="#{c.url}"><img
								src="http://#{emailTemplateBean.direccionServer}/TagmeFidelizacion/archivos/menu/#{c.imagen}"
								style="display: block;" alt="" width="100%" height="auto" /></a></td>
					</ui:repeat>
				</tr>
			</tbody>
		</table>
	</h:panelGroup>
	<h:panelGroup
		rendered="#{administracionFormularioBean.existeMenu and not emailTemplateBean.existeMenu and not registroBean.existeMenu and not mailBean.existeMenu}">
		<table align="center" border="0" cellpadding="0" cellspacing="0"
			width="">
			<tbody>
				<tr>

					<ui:repeat value="#{administracionFormularioBean.menu}"
						varStatus="row" var="c">
						<td><a target="_blank"  href="#{c.url}"><img
								src="http://#{administracionFormularioBean.direccionServer}/TagmeFidelizacion/archivos/menu/#{c.imagen}"
								style="display: block;" alt="" width="100%" height="auto" /></a></td>
					</ui:repeat>
				</tr>
			</tbody>
		</table>
	</h:panelGroup>

	<h:panelGroup
		rendered="#{cuponBean.existeMenu and not administracionFormularioBean.existeMenu and not emailTemplateBean.existeMenu and not registroBean.existeMenu and not mailBean.existeMenu}">
		<table align="center" border="0" cellpadding="0" cellspacing="0"
			width="">
			<tbody>
				<tr>
				
					<ui:repeat value="#{cuponBean.menu}" varStatus="row" var="c">
						<td><a target="_blank"  href="#{c.url}"><img
								src="http://#{cuponBean.direccionServer}/TagmeFidelizacion/archivos/menu/#{c.imagen}"
								style="display: block;" alt="" width="100%" height="auto" /></a></td>
					</ui:repeat>
				</tr>
			</tbody>
		</table>
	</h:panelGroup>

	<h:panelGroup
		rendered="#{administracionFormatoCuponBean.existeMenu and not cuponBean.existeMenu and not administracionFormularioBean.existeMenu and not emailTemplateBean.existeMenu and not registroBean.existeMenu and not mailBean.existeMenu}">
		<table align="center" border="0" cellpadding="0" cellspacing="0"
			width="">
			<tbody>
				<tr>
					<ui:repeat value="#{administracionFormatoCuponBean.menu}"
						varStatus="row" var="c">
						<td><a target="_blank" href="#{c.url}"><img
								src="http://#{administracionFormatoCuponBean.direccionServer}/TagmeFidelizacion/archivos/menu/#{c.imagen}"
								style="display: block;" alt="" width="100%" height="auto" /></a></td>
					</ui:repeat>
				</tr>
			</tbody>
		</table>
	</h:panelGroup>


	<h:panelGroup
		rendered="#{not administracionFormatoCuponBean.existeMenu and not cuponBean.existeMenu  and not administracionFormularioBean.existeMenu and not emailTemplateBean.existeMenu and not registroBean.existeMenu and not mailBean.existeMenu}">
		<center>
			<legend>Debe generar un menu para esta campaña</legend>
		</center>
	</h:panelGroup>
</h:body>
</html>