<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
		<ui:include src="headerImport.xhtml" />
</h:head>
<h:body>
	<h:inputHidden value="#{informacionBean.init()}"></h:inputHidden>
	<ui:include src="headerAdm.xhtml"></ui:include>
	 
						<!-- Tabla de archivos cargados -->
		<h:panelGroup layout="block" class="container2" >
			
				<h:form id="formulario">
				<h:inputHidden value="#{informacionBean.target}" id="target"></h:inputHidden>
					<h:panelGroup layout="block" class="col-sm-12">
						<h:panelGroup layout="block" class="col-sm-12">
						<legend>Resumen periodo : #{informacionBean.desde} - #{informacionBean.hasta}</legend>
						<hr/>
						</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-12">
							<h:panelGroup layout="block" class="row">
						<h:panelGroup layout="block" class="col-sm-2">
							<h:panelGroup layout="block" class="panel-group">
								<h:outputLabel for="nombre" value="Desde: "></h:outputLabel>
								<h:inputText value="#{informacionBean.desde}" styleClass="form-control"  a:placeholder="Desde" id="desde" readonly= "#{facesContext.renderResponse}" ></h:inputText>
								<small  class="form-text text-muted">Rango de fechas (dd/mm/yyyy)</small>	
							</h:panelGroup>
						</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-2">
							<h:panelGroup layout="block" class="panel-group">
								<h:outputLabel for="nombre" value="Hasta: "></h:outputLabel>
								<h:inputText value="#{informacionBean.hasta}" styleClass="form-control"  a:placeholder="Hasta" id="hasta" readonly= "#{facesContext.renderResponse}" ></h:inputText>
								<small  class="form-text text-muted">Rango de fechas (dd/mm/yyyy)</small>	
							</h:panelGroup>
						</h:panelGroup>
					 <h:panelGroup layout="block" class="col-sm-2">
						<h:panelGroup layout="block" class="panel-group">
						<h:panelGroup layout="block" class="col-sm-12">
						<br/><br/>
						</h:panelGroup>			
						<h:panelGroup layout="block" class="col-sm-8">
								<h:commandButton class="btn btn-primary" id="crearCategoriaConfirmado" value="Filtrar" action="#{informacionBean.buscar}">
							<!-- <f:ajax 	render="formulario:detalle formulario:target"  execute="@form" onevent="reloadTbl2"></f:ajax>  -->
							<f:ajax 	render="@form"  execute="@form" onevent="reloadTbl2"></f:ajax>
						</h:commandButton>
								 	</h:panelGroup>
							</h:panelGroup>
						</h:panelGroup>
							
						</h:panelGroup>
						 
						
						<h:panelGroup layout="block" class="col-sm-12">
							<hr/>
							</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
					
						<h:panelGroup layout="block" class="col-sm-12">
							<h:panelGroup layout="block" class="row">
								<h:panelGroup layout="block" class="col-sm-6">
								<center><h5>Experiencia promedio </h5></center>
										 
										 <canvas id="myChart"></canvas>
										 <script>/* <![CDATA[ */
										 var ctx = document.getElementById('myChart').getContext('2d');
										 var myBarChart = new Chart(ctx, {
											    type: 'horizontalBar',
											    data: #{informacionBean.experienciaInfo},
											    options: {
											    	xAxisID:[0,1,2,3,4,5],
											    }
											});
											 
											 /* ]]> */
										</script>
								</h:panelGroup>
								
								<h:panelGroup layout="block" class="col-sm-6">
								<center><h5>Inscripciones por tienda</h5></center>
									
										<canvas id="bar-registros"></canvas>
										<script>/* <![CDATA[ */
											 
										var ctx = document.getElementById('bar-registros').getContext('2d');
										var myBarChart = new Chart(ctx, {
											    type: 'horizontalBar',
											    data: #{informacionBean.registroInfo},
											    options: ''
											});
											 
										 	/* ]]> */
										</script>
								</h:panelGroup>
								</h:panelGroup>
								</h:panelGroup>
							<h:panelGroup layout="block" class="col-sm-12">	
								<hr/>	
								</h:panelGroup>
							<h:panelGroup layout="block" class="col-sm-12">
							<h:panelGroup layout="block" class="row">
							<h:panelGroup layout="block" class="col-sm-4">
							<h:panelGroup layout="block" class="form-group" id="SelectOneTienda">
								<h:outputLabel for="nombre" value="Seleccionar tienda"></h:outputLabel>
								<h:selectOneListbox size="1" id="selectTipoTiendaVendedor" value="#{informacionBean.tienda}" class="custom-select" >
									<f:selectItem itemLabel="Seleccionar Tienda" itemValue="0"></f:selectItem>
									<f:selectItems value="#{informacionBean.tiendas}" var="t"
										itemLabel="#{t.nombre}" itemValue="#{t.id}"></f:selectItems>
									 <f:ajax event="valueChange"  execute="@this" listener="#{informacionBean.changeTienda}"  render="formulario:portienda formulario:target formulario:categorias" onevent="reloadTbl"></f:ajax>
								</h:selectOneListbox>	
								<small  class="form-text text-muted">Tienda</small>	
							</h:panelGroup>
							</h:panelGroup>
							</h:panelGroup></h:panelGroup>
							<h:panelGroup layout="block" class="col-sm-12">	
								 <hr/>	
								</h:panelGroup>
							<h:panelGroup layout="block" class="col-sm-12" id="portienda">
											<h:panelGroup layout="block" class="row">
							
							<h:panelGroup layout="block" class="col-sm-6">
								<center><h5>Registros por vendedor:</h5></center>
								<canvas id="bar-vendedor"></canvas>
								 <script>/* <![CDATA[ */
									 
								 var ctx = document.getElementById('bar-vendedor').getContext('2d');
								 var myBarChart = new Chart(ctx, {
									    type: 'horizontalBar',
									    data: #{informacionBean.vendedorInfo},
									    options: ''
									});
									 
								 	/* ]]> */
								</script>
							</h:panelGroup>
							
							<h:panelGroup layout="block" class="col-sm-6">
								<center><h5>Detalle registros por vendedor:</h5></center>
								<table id="reporteVendedores" class="display" style="width:100%">
									<thead>
										<tr>
											<th>Vendedor</th>
											<th>Tienda</th>
											<th>Inscritos</th>
											<th>No inscritos</th>
										</tr>
									</thead>
								</table>
								<script>
									$(document).ready(function() {
										$('#reporteVendedores').DataTable({
											"data": #{informacionBean.getInfoVendedorJSON()},
											columns: [
												{ data: 'tienda' },
												{ data: 'vendedor' },
												{ data: 'inscritos' },
												{ data: 'noInscritos' },
											],
											dom: 'Bfrtip',
											buttons: [
												{
													extend: 'excel',
													text: 'Exportar',
													title:'Resumen Registros'
												}
											],
										});
									} );
								</script>
							</h:panelGroup>
								<!-- 
								<h:panelGroup layout="block" class="col-sm-6">
								<h5>Categorias selecionadas</h5>
										 <div id="bar-categoria"></div>
										 <script>/* <![CDATA[ */
										 Morris.Bar({
											  element: 'bar-categoria',
											  data: #{informacionBean.categoriaInfo},
											  xkey: 'y',
											  ykeys: ['a','b'],
											  labels: ['Mujer','Hombre'],
											  hideHover : 'auto',
											  redraw: true,
											  horizontal: true
											
											});	/* ]]> */
										</script>
								</h:panelGroup>
								 -->
								</h:panelGroup>
						</h:panelGroup>
						<h:panelGroup layout="block" class="row" id="categorias">
							<h:panelGroup layout="block" class="col-sm-12">	
								 <hr/>	
								</h:panelGroup>
									<h:panelGroup layout="block" class="col-sm-12 col-md-4">
								<center><h5>Preferencias de todos los clientes </h5></center>
								<canvas id="PolarCategoriasTotal" width="400" height="400"></canvas>
								
								<script>
									/* <![CDATA[ */
									var ctx = document.getElementById("PolarCategoriasTotal").getContext('2d');
									var myChart = new Chart(ctx, {
									    data: #{informacionBean.categoriaInfoTotal},
									    type: 'polarArea',
									    options: ''
									});
									/* ]]> */
								</script>
							</h:panelGroup>
							
							<h:panelGroup layout="block" class="col-sm-12 col-md-4">
								<center><h5>Preferencias por sexo masculino</h5></center>
								<canvas id="PolarCategoriasMasculina" width="400" height="400"></canvas>
								
								<script>
									/* <![CDATA[ */
									var ctx = document.getElementById("PolarCategoriasMasculina").getContext('2d');
									var myChart = new Chart(ctx, {
									    data: #{informacionBean.categoriaInfoHombre},
									    type: 'polarArea',
									    options: ''
									});
									/* ]]> */
								</script>
							</h:panelGroup>
							<h:panelGroup layout="block" class="col-sm-12 col-md-4">
								<center><h5>Preferencias por sexo femenino</h5></center>
								<canvas id="PolarCategoriasFemenina" width="400" height="400"></canvas>
								
								<script>
									/* <![CDATA[ */
									var ctx = document.getElementById("PolarCategoriasFemenina").getContext('2d');
									var myChart = new Chart(ctx, {
									    data: #{informacionBean.categoriaInfoMujer},
									    type: 'polarArea',
									    options: ''
									});
									/* ]]> */
								</script>
							</h:panelGroup>
						
						</h:panelGroup>
					</h:form>	
		</h:panelGroup>
	<script>
	/* <![CDATA[ */
		
		function reloadTbl(data) {
		
			if (data.status == "begin") {
				 on();
			}
			if (data.status == "complete") {
				
			}
			if (data.status == "success") {
				inicializar();
				var campo= $("#formulario\\:target").val();
				//$('html, body').animate({ scrollTop: $(campo).offset().top }, 10);
				 off();
			}
		}
		function reloadTbl2(data) {
			
			if (data.status == "begin") {
				 on();
			}
			if (data.status == "complete") {
				
			}
			if (data.status == "success") {
				inicializar();
				var campo= $("#formulario\\:target").val();
				 off();
			}
		}
		
		function savePos(scrollbarid) {
		    var scrollbar =  $( scrollbarid )
		    alert(scrollbarid+".scrolltop="+scrollbar.scrollTop+"; path=/");
		    document.cookie = scrollbarid+".scrolltop="+scrollbar.scrollTop+"; path=/";
		}
		function restorePos(scrollbarid) {
		    var scrollbar =  $( scrollbarid )
		    alert(readCookie(scrollbarid+".scrolltop"));
		    scrollbar.scrollTop = readCookie(scrollbarid+".scrolltop");
		}
	
		 

		function readCookie(name) {
		    var nameEQ = name + "=";
		    var ca = document.cookie.split(';');
		    for(var i=0;i < ca.length;i++) {
		        var c = ca[i];
		        while (c.charAt(0)==' ') c = c.substring(1,c.length);
		        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
		    }
		    return null;
		}

			

			 

		 
	
		$(document).on('ready', function() {
			inicializar();
			
			
		});
		
		function inicializar(){
			$("#detalleClientes").DataTable({
				dom: 'Bfrtip',
		        buttons: [
		        	{
		                extend: 'excel',
		                text: 'Exportar',
		                title:'Resumen Registros'
		            }
		        	],
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
				"responsive" : true,
				"searching" : true,
				"ordering" : true,
				"bLengthChange" : true,
				 "pageLength": 50,
				"language" : {
					"lengthMenu" : "Ver _MENU_ Registros por pagina",
					"zeroRecords" : "Ningun Registro Encontrado",
					"info" : "Visualizando _PAGE_ de _PAGES_",
					"infoEmpty" : "Sin Registros",
					"infoFiltered" : "(De un Total de _MAX_ Registros)",
					"sSearch" : "Buscar:",
					"oPaginate" : {
						"sFirst" : "Primero",
						"sLast" : "Último",
						"sNext" : "Siguiente",
						"sPrevious" : "Anterior"
					}
				}
			});
			
			 $( "#formulario\\:desde" ).datepicker({
			    	dateFormat: "dd/mm/yy",
			    	maxDate: new Date()
			    });
			    $( "#formulario\\:hasta" ).datepicker({
			    	dateFormat: "dd/mm/yy",
			    	maxDate: new Date()
			    });
		   
			 
		}
	/* ]]> */
	</script>
	
</h:body>
</html>
