<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:h="http://xmlns.jcp.org/jsf/html"
 xmlns:ui="http://java.sun.com/jsf/facelets"
 xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Puma Fidelizacion</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="css/sb-admin.css" rel="stylesheet"></link>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
    <link href="css/sorteable.css" rel="stylesheet"></link>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"></link>
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <style>
    .btn-primary {
	    color: #fff;
	    background-color: #2C3E50;
	    border-color: #2C3E50;
	}

    .btn {
	    display: inline-block;
	    font-weight: 400;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    /* border: 1px solid transparent; */
	    padding: 0.375rem 0.75rem;
	    /* font-size: 0.9375rem; */
	    /* line-height: 1.5; */
	    border-radius: 0.25rem;
	    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	}
    </style>
</h:head>
<h:body>
   <div class="col-md-4"></div>
    
    <div class="col-md-4">
	<h:form id="formulario"  >
	<center>
	<img src="images/login.png"/>
	</center>
	<br/>
	<div class="form-group input-group">
		<span class="input-group-addon"><i class="far fa-building"></i></span>
		<h:inputText value="#{loginBean.compania}" class="form-control" placeholder="Compañia"  ></h:inputText>
	</div>
 <div class="form-group input-group">
      <span class="input-group-addon">@</span>
    <h:inputText value="#{loginBean.nick}" class="form-control" placeholder="Usuario"  ></h:inputText>
</div>
   <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
	  <h:inputSecret value="#{loginBean.pass}" class="form-control" placeholder="Contraseña"  ></h:inputSecret>
	</div>
   <h:commandButton value="Ingresar" action="#{loginBean.autenticar()}" class="btn btn-primary" ></h:commandButton>
    </h:form>
    </div>
     <div class="col-md-4"></div>
</h:body>
</html>
