<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
					<tbody>
						<tr>
							<td>
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
									<tbody>
										<tr>
											<td>
												<a href="http://global.puma.com/es_CL/"><img src="https://cloud.modyocdn.com/uploads/bdf02462-1294-4dcf-ad14-ace295d006bf/original/1.jpg" style="display: block;" alt="" width="100%" height="auto"></a>
											</td>
											<td>
												<a href="https://global.puma.com/es-CL/sports/run_train/" target="_blank"><img src="https://cloud.modyocdn.com/uploads/bbea83b4-22e3-4ebc-8dc9-537d7832e5e6/original/2.jpg" style="display: block;" alt="" width="100%" height="auto"></a>
											</td>
											<td>
												<a href="https://global.puma.com/es-CL/sports/football/" target="_blank"><img src="https://cloud.modyocdn.com/uploads/54e9d58e-3fec-486e-aaff-1b632e86acb4/original/3.jpg" style="display: block;" alt="" width="100%" height="auto"></a>
											</td>
											<td>
												<a href="https://global.puma.com/es-CL/collections/sportstyle/" target="_blank"><img src="https://cloud.modyocdn.com/uploads/15b2f8fe-ad77-4da1-9c0c-fccff68766f1/original/4.jpg" style="display: block;" alt="" width="100%" height="auto"></a>
											</td>
											<td>
												<a href="https://global.puma.com/es-CL/collections/womens/" target="_blank"><img src="https://cloud.modyocdn.com/uploads/678b475c-c1e1-443a-83c8-0d7e0d231525/original/5.jpg" style="display: block;" alt="" width="100%" height="auto"></a>
											</td>
											<td>
												<a href="https://global.puma.com/es-CL/find-a-store/" target="_blank"><img src="https://cloud.modyocdn.com/uploads/84cd7071-734b-42ef-b342-622f7f2de5c6/original/6.jpg" style="display: block;" alt="" width="100%" height="auto"></a>
											</td>
										</tr>
									</tbody>
								</table>
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
									<tbody>
										<tr>
											<td>

												<table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="">
													<tbody>
														<tr>
															<td>
																<a href="#" target="_blank"><img src="http://www.tagmeservices.com/PumaFidelizacion/campania/sale-00.gif" width="100%" height="auto" alt="" style="display: block; margin: 0px;"></a>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
									<tbody>
										<tr>
											<td><img src="https://cloud.modyocdn.com/uploads/f2513288-837d-40b5-a20c-a446bdc696d3/original/f1.jpg" style="display: block;" alt="" width="100%" height="auto"></td>
											<td>
												<a href="https://www.instagram.com/puma/"><img src="https://cloud.modyocdn.com/uploads/18d61049-7e05-4055-bb4a-c0d48c79c4bf/original/ig.jpg" style="display: block;" alt="" width="100%"></a>
											</td>
											<td>
												<a href="https://www.facebook.com/PUMALATAM"><img src="https://cloud.modyocdn.com/uploads/bc367296-22ae-4287-93a0-94705ed581f4/original/fb.jpg" style="display: block;" alt="" width="100%"></a>
											</td>
											<td>
												<a href="https://twitter.com/PUMAChile"><img src="https://cloud.modyocdn.com/uploads/aee3bbab-6039-41b6-91ba-9ec3b98dcb3e/original/tew.jpg" style="display: block;" alt="" width="100%"></a>
											</td>
											<td>
												<a href="https://www.youtube.com/user/puma"><img src="https://cloud.modyocdn.com/uploads/e99c8b87-d9e7-4cfc-b710-4b6e9e05428e/original/yt.jpg" style="display: block;" alt="" width="100%"></a>
											</td>
											<td><img src="https://cloud.modyocdn.com/uploads/f2513288-837d-40b5-a20c-a446bdc696d3/original/f1.jpg" style="display: block;" alt="" width="100%" height="auto"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
