<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	>
<h:head>

</h:head>
<h:body>
<h:form id="form">
	 <h:commandButton value="Ingresar" action="#{mailBean.enviaStartTLS()}" ></h:commandButton>
 </h:form>
</h:body>
</html>

