<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>

</h:head>
<h:body>
	<div class="">
		<nav class="navbar navbar-default" style="margin-bottom: 3px;border-radius: 0px;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
				<a class="navbar-brand" href="#" style="padding: 0px;"><img src="images/logo.png" alt="" style="padding: 1px;width: 69px;margin: 6px;margin-left: 16px;"/></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">SPORTS <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="https://global.puma.com/es-cl/sports/run_train/">RUN &amp; TRAIN</a></li>
							<li><a href="https://global.puma.com/es-cl/sports/football/">FOOTBALL</a></li>
							<li><a href="https://global.puma.com/es-cl/teams/">TEAMS</a></li>
							<li><a href="https://global.puma.com/es-cl/sports/motorsport/">MOTORSPORT</a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">COLLECTIONS <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="https://global.puma.com/es-cl/collections/select/">SELECT</a></li>
							<li><a href="https://global.puma.com/es-cl/collections/sportstyle/">SPORTSTYLE</a></li>
							<li><a href="https://global.puma.com/es-cl/collections/puma-by-rihanna/">PUMA BY RIHANNA</a></li>
							<li><a href="https://global.puma.com/es-cl/collections/womens/">WOMEN</a></li>
							<li><a href="https://global.puma.com/es-cl/kids/">KIDS</a></li>
						</ul></li>
					<li><a href="https://global.puma.com/es-cl/collections/suede-50/">SUEDE 50</a></li>
					<li><a href="https://global.puma.com/es-cl/about/">ABOUT</a></li>
				</ul>
          	</div>
		</div>
		</nav>
	</div>
</h:body>
</html>