<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:body>
	
	<h:inputHidden id="error-contandor"  value="#{alertBean.errorCount}"></h:inputHidden>
	<h:inputHidden id="warning-contandor"  value="#{alertBean.warningCount}"></h:inputHidden>
	<h:panelGroup layout="block" id="errorPanel" style="display:none;">

		<h:panelGroup layout="block" class="container">
			<ui:repeat var="msg" value="#{alertBean.mensajes}">
				
				<h:panelGroup layout="block" rendered="#{msg.tipo == 'ERROR'}" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':''}">
	                <!--  <button type="button" class="close" data-dismiss="alert">×</button>  -->
	                <h4 class="alert-heading">#{msg.titulo}</h4>
	                <h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
	            </h:panelGroup>
			</ui:repeat>
		</h:panelGroup>
	</h:panelGroup>
	<h:panelGroup layout="block" id="warningPanel" style="display:none;" >
		
		<h:panelGroup layout="block" class="container">
			<ui:repeat var="msg" value="#{alertBean.mensajes}">
				
				<h:panelGroup layout="block" rendered="#{msg.tipo == 'WARNING'}" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':''}">
	                <!-- <button type="button" class="close" data-dismiss="alert">×</button>  -->
	                <h4 class="alert-heading">#{msg.titulo}</h4>
	                <h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
	            </h:panelGroup>
			</ui:repeat>
		</h:panelGroup>
	</h:panelGroup>
	<script>
		$(function(){

			if($("#warning-contandor").val() > 0){
				$("#warning-button").click(function(){
				$("#warningPanel").toggle("slow");
				$("#warning-button").toggleClass("warning-select","addOrRemove" );
				})
			}else{
				$("#warning-button").addClass("disable");
			}
			
			if($("#error-contandor").val() > 0){
				$("#error-button").click(function(){
				$("#errorPanel").toggle("slow");
				$("#error-button").toggleClass("error-select","addOrRemove" );
				})
			}else{
				$("#error-button").addClass("disable");
			}
			
		})
	</script>
</h:body>
</html>
