<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<ui:include src="headerImport.xhtml" />
<script src="js/fidelizacion/formValidate.js"></script>

<script>
/* <![CDATA[ */
	
	function reloadTbl(data) {
	
				if (data.status == "begin") {
					 on();
				}
				if (data.status == "complete") {
					 
				}
				if (data.status == "success") {
					off();
				}
		}
		
		var textPattern = "^[\\w\\s\\d]{1,30}$"
		var namePattern = "^[a-z A-Z]{1,30}$";
		var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
		var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
		var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
		var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
		var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
		var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
		var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
		/*
		function validarAlerta(){		
			
			var mensaje = "";
			
			var valido = true;	
			
			var id = $(".alerta-item").attr("id");
			console.log(id)
			
			//Check #Nombre
			if(!checkInput( ".alerta-item", textPattern))
			{
				mensaje += "<li>No puedes tener un valor vacio</li>";
				if(valido){valido=false}
			}
			
			if(!valido)
			{
				printMensaje(mensaje,  "#formulario\\:panelMsg" )
			}
			return valido;
		}
		
		function validarAdministracion(){		
			
			var mensaje = "";
			
			var valido = true;	
			
			//Check #Nombre
			if(!checkInput( ".alerta-item", textPattern))
			{
				mensaje += "<li>No puedes tener un valor vacio</li>";
				if(valido){valido=false}
			}
			
			if(!valido)
			{
				printMensaje(mensaje,  "#formulario\\:panelMsg" )
			}
			return valido;
		}
		
		function validarFooter(){		
			
			var mensaje = "";
			
			var valido = true;	
			
			//Check #Nombre
			if(!checkInput( ".footer-item", textPattern))
			{
				mensaje += "<li>No puedes tener un valor vacio</li>";
				if(valido){valido=false}
			}

			//Check #Nombre
			if(!checkInputFile( ".footer-input", textPattern))
			{
				mensaje += "<li>No puedes tener un valor vacio</li>";
				if(valido){valido=false}
			}
			
			if(!valido)
			{
				printMensaje(mensaje,  "#formulario\\:panelMsg" )
			}
			return valido;
		}
		
		function validarRegistro(){		
			
			var mensaje = "";
			
			var valido = true;	
			
			//Check #Nombre
			if(!checkInput( ".alerta-item", textPattern))
			{
				mensaje += "<li>No puedes tener un valor vacio</li>";
				if(valido){valido=false}
			}

			
			if(!valido)
			{
				printMensaje(mensaje,  "#formulario\\:panelMsg" )
			}
			return valido;
		}
		
		function printMensaje(mensaje, msgPanel)
		{
		
			var panel = "<div class='col-sm-12'>" +
						"<div class='alert alert-dismissible alert-danger'>" +
						"  <button type='button' class='close' data-dismiss='alert'>&times;</button> <strong>Oh! hay un problema en tu formulario!</strong>"+
						"<ul>" +
						mensaje
						"</ul>" +
						"</div>"+
						"</div>";
						
			$(msgPanel).html(panel);
		}
*/
	function iniciar(){	
		$("#formulario\\:btnAlerta").confirmation({
			rootSelector : 'formInv\\:btnConfirm',
			placement : 'top',
			btnOkLabel : 'Ok',
			title : 'Confirmacion',
			onConfirm : function() {
				
					$('#formulario\\:botonAlertaConfirmado').click();
				
				
		},
			onCancel : function() {
				flagFormato = false;
				return false;
			}
		})
	  	
	  		
			$("#formulario\\:btnFooter").confirmation({
				rootSelector : 'formInv\\:btnConfirm',
				placement : 'top',
				btnOkLabel : 'Ok',
				title : 'Confirmacion',
				onConfirm : function() {
					
						$('#formulario\\:botonFooterConfirmado').click();
					
			},
				onCancel : function() {
					flagFormato = false;
					return false;
				}
			})
			$("#formulario\\:btnMail").confirmation({
				rootSelector : 'formInv\\:btnConfirm',
				placement : 'top',
				btnOkLabel : 'Ok',
				title : 'Confirmacion',
				onConfirm : function() {
					

						$('#formulario\\:botonMailConfirmado').click();
					
			},
				onCancel : function() {
					flagFormato = false;
					return false;
				}
			})
			$("#formulario\\:btnRegistro").confirmation({
				rootSelector : 'formInv\\:btnConfirm',
				placement : 'top',
				btnOkLabel : 'Ok',
				title : 'Confirmacion',
				onConfirm : function() {
			
						$('#formulario\\:botonRegistroConfirmado').click();
					
			},
				onCancel : function() {
					flagFormato = false;
					return false;
				}
			})
			
			$("#formulario\\:btnApp").confirmation({
				rootSelector : 'formInv\\:btnConfirm',
				placement : 'top',
				btnOkLabel : 'Ok',
				title : 'Confirmacion',
				onConfirm : function() {
			
						$('#formulario\\:botonAppConfirmado').click();
					
			},
				onCancel : function() {
					flagFormato = false;
					return false;
				}
			})
			
				
						
		}
					
			$(document).on('ready', function() {
				iniciar();
			});
			
			function initInputFile(id)
			{
				$(id + " input[type='file']" ).change(function(){
					var path = $( id + " input[type='file']").val();
					var filePath = path.split('\\');
					var fileName = filePath[filePath.length-1];
					$(id + "Label").text(fileName);
				});
			}
			/* ]]> */
						
								</script>

</h:head>
<h:body >
	<ui:include src="headerAdm.xhtml" />
	
	<h:inputHidden value="#{parametroBean.init()}"></h:inputHidden>
	
	<h:panelGroup layout="block" class="container">
	<h:form id="formulario" enctype="multipart/form-data">
			<h:panelGroup  layout="block" class="row">
					<h:panelGroup id="panelMsg" layout="block" class="container">
						<ui:repeat var="msg" value="#{parametroBean.mensajes}">
							<h:panelGroup layout="block" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':''}">
				                <button type="button" class="close" data-dismiss="alert">×</button>
				                <h4 class="alert-heading">#{msg.titulo}</h4>
				                <h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
				            </h:panelGroup>
						</ui:repeat>
					</h:panelGroup>
				</h:panelGroup>
		<h:panelGroup layout="block" class="row">
			<h:panelGroup layout="block" class="col-sm-12">
				<legend>Parametros</legend>
				<hr/>
			</h:panelGroup>
			
			<h:panelGroup layout="block" class="col-sm-12">
				<ul class="nav nav-tabs">
				  <li class="nav-item">
				    <a class="nav-link active" data-toggle="tab" href="#home">Alerta</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#profile">Administración</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#footer">Footer</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#registro">Registro</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#app">App</a>
				  </li>
				</ul>
				<div id="myTabContent" class="tab-content">
				  <div class="tab-pane fade show active" id="home">
				  
				  		<h:panelGroup layout="block" class="row">
					  		<ui:repeat var="a" value="#{parametroBean.alertas}">
						  		<h:panelGroup layout="block" class="col-sm-12">
						  			<h:panelGroup class="form-group alerta-item" >
								      <h:outputLabel value="#{a.nombre}" ></h:outputLabel>
								      <h:inputText class="form-control" value="#{a.valor}"></h:inputText>
								      <small class="form-text text-muted">#{a.descripcion}</small>
								    </h:panelGroup>
						  		</h:panelGroup>
					  		</ui:repeat>
				  		</h:panelGroup>
				  		
				  		<h:commandButton class="btn btn-primary oculto" id="botonAlertaConfirmado" value="Actualizar Alertas" >
				  			<f:ajax render="formulario:panelMsg" execute="@form" listener="#{parametroBean.updateAlertas()}" onevent="reloadTbl"></f:ajax>
				  		</h:commandButton>
				  		
				  		<h:commandButton type="button" class="btn btn-primary"  id="btnAlerta" value="Actualizar Alertas" >
				  			
				  		</h:commandButton>
				  		
				  		
				  	
				  </div>
				  <div class="tab-pane fade" id="profile">
				  
				  		<h:panelGroup layout="block" class="row">
					  		<ui:repeat var="a" value="#{parametroBean.mail}">
						  		<h:panelGroup layout="block" class="col-sm-12">
						  			<h:panelGroup class="form-group administracion-item">
								      <h:outputLabel value="#{a.nombre}"></h:outputLabel>
								      <h:inputText class="form-control" value="#{a.valor}"></h:inputText>
								      <small class="form-text text-muted">#{a.descripcion}</small>
								    </h:panelGroup>
						  		</h:panelGroup>
					  		</ui:repeat>
				  		</h:panelGroup>
				  		
				  		<h:commandButton class="btn btn-primary oculto" id="botonMailConfirmado" value="Actualizar Mails" >
				  			<f:ajax render="formulario:panelMsg" execute="@form" listener="#{parametroBean.updateMail()}" onevent="reloadTbl" ></f:ajax>
				  		</h:commandButton>
				  		
				  		<h:commandButton type="button" class="btn btn-primary"  id="btnMail" value="Actualizar Mails" >
				  			
				  		</h:commandButton>
				  		
				  		

				  </div>
				  <div class="tab-pane fade" id="footer">
				    
				  		<h:panelGroup id="footer-panel" layout="block" class="row">
					  		<ui:repeat id="footer-item" var="a" value="#{parametroBean.footer}" varStatus="status">
						  		<h:panelGroup layout="block" class="col-sm-12">
						  			<!-- <h:panelGroup class="form-group">
								      <h:outputLabel value="#{a.nombre}"></h:outputLabel>
								      <h:inputText class="form-control" value="#{a.valor}"></h:inputText>
								      <small class="form-text text-muted">#{a.descripcion}</small>
								    </h:panelGroup>  -->
								    
								    <h:panelGroup layout="block" rendered="#{ a.nombre != 'footer.imagen'}">
							  			<h:panelGroup class="form-group footer-item">
									      <h:outputLabel value="#{a.nombre}"></h:outputLabel>
									      <h:inputText class="form-control" value="#{a.valor}"></h:inputText>
									      <small class="form-text text-muted">#{a.descripcion}</small>
									    </h:panelGroup>
								    </h:panelGroup>
								    
								    <h:panelGroup layout="block" rendered="#{ a.nombre == 'footer.imagen'}">
										<h:inputHidden id="footerImagen" value="#{a.valor}"></h:inputHidden>
										
										<h:panelGroup layout="block" class="form-group footer-input" id="inputFile">
											<h:outputLabel for="texto" value="#{a.nombre}"></h:outputLabel>
						                  <h:panelGroup layout="block" class="input-group mb-3">
						                    <h:panelGroup layout="block" id="archivosubida" class="custom-file">
						                      <h:inputFile type="file" value="#{parametroBean.file}" class="custom-file-input" id="inputGroupFile02" />
						                      <h:outputLabel class="custom-file-label" id="inputFileLabel" for="inputGroupFile02" value="#{a.valor}"></h:outputLabel>
						                      
						                    </h:panelGroup>
						                  </h:panelGroup>
						                  <small style="margin-top: -0.75rem;" id="ayudaTextoAlt" class="form-text text-muted">
												#{a.descripcion}
											</small>
											
										<script>
										/* <![CDATA[ */
														
											initInputFile("#formulario\\:footer-item\\:#{status.index}\\:inputFile");
										/* ]]> */
										
											</script>
					                	</h:panelGroup>
				                	</h:panelGroup>
						  		</h:panelGroup>
					  		</ui:repeat>
				  		</h:panelGroup>
				  		
				  		<h:commandButton class="btn btn-primary oculto" id="botonFooterConfirmado" value="Actualizar Footer" >
				  			<f:ajax render="formulario:panelMsg" execute="@form" listener="#{parametroBean.updateFooter()}" onevent="reloadTbl"></f:ajax>
				  		</h:commandButton>
				  		
				  		<h:commandButton type="button" class="btn btn-primary"  id="btnFooter" value="Actualizar Footer" >
				  			
				  		</h:commandButton>
				  		
				  	 
	
				    
				   
				  </div>
				  <div class="tab-pane fade show" id="registro">
				  
				  		<h:panelGroup layout="block" class="row">
					  		<ui:repeat var="a" value="#{parametroBean.registro}">
						  		<h:panelGroup layout="block" class="col-sm-12">
						  			<h:panelGroup class="form-group regsitro-item">
								      <h:outputLabel value="#{a.nombre}"></h:outputLabel>
								      <h:inputText class="form-control" value="#{a.valor}"></h:inputText>
								      <small class="form-text text-muted">#{a.descripcion}</small>
								    </h:panelGroup>
						  		</h:panelGroup>
					  		</ui:repeat>
				  		</h:panelGroup>
				  		
				  		<h:commandButton class="btn btn-primary oculto" id="botonRegistroConfirmado" value="Actualizar Alertas" >
				  			<f:ajax render="formulario:panelMsg" execute="@form" listener="#{parametroBean.updateRegistro()}" onevent="reloadTbl"></f:ajax>
				  		</h:commandButton>
				  		
				  		<h:commandButton type="button" class="btn btn-primary"  id="btnRegistro" value="Actualizar Registro" >
				  			
				  		</h:commandButton>
				  		
				  		
				  	
				  </div>
				  <div class="tab-pane fade" id="app">
				  
				  		<h:panelGroup layout="block" class="row">
					  		<ui:repeat var="a" value="#{parametroBean.app}">
						  		<h:panelGroup layout="block" class="col-sm-12">
						  			<h:panelGroup class="form-group administracion-item">
								      <h:outputLabel value="#{a.nombre}"></h:outputLabel>
								      <h:inputText class="form-control" value="#{a.valor}"></h:inputText>
								      <small class="form-text text-muted">#{a.descripcion}</small>
								    </h:panelGroup>
						  		</h:panelGroup>
					  		</ui:repeat>
				  		</h:panelGroup>
				  		
				  		<h:commandButton class="btn btn-primary oculto" id="botonAppConfirmado" value="Actualizar App" >
				  			<f:ajax render="formulario:panelMsg" execute="@form" listener="#{parametroBean.updateApp()}" onevent="reloadTbl" ></f:ajax>
				  		</h:commandButton>
				  		
				  		<h:commandButton type="button" class="btn btn-primary"  id="btnApp" value="Actualizar App" >
				  			
				  		</h:commandButton>
				  		
				  		

				  </div>
				</div>
			</h:panelGroup></h:panelGroup>
		</h:form></h:panelGroup>
	
</h:body>
</html>