<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW"/>
<meta name="referrer" content="no-referrer"/>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>


</h:head>
<h:body bgcolor="#ffffff" text="#000000" style="background-color: #FFFFFF; color: #000000; margin: 0px; padding: 0px; -webkit-text-size-adjust: none;" yahoo="fix">
	<h:form>
	<h:inputHidden value="#{mailBean.init()}"> </h:inputHidden>

	
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
					<tbody>
					<tr>
						<td style="font-family: Arial;font-size:12px"><center><pre style="font-family: arial;">Si usted no visualiza bien este correo, por favor <a href="#{mailBean.urlPropia}" target="_blank"><h:outputText value="#{mailBean.ingresarAqui}" escape="false" ></h:outputText></a></pre>
						 </center>
						</td>
						</tr>
						<tr>
						<td>
						<ui:include src="header.xhtml"></ui:include>
						</td>
						</tr>
						<tr>
							<td>
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
									<tbody>
										<tr>
											<td>
												<table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="">
													<tbody>
													<ui:repeat var="f" value="#{mailBean.fotos}">
													<tr>
														<td>
														<a href="#{f.url}?hash=#{mailBean.codigoCliente}"
															target="_blank"><img
																src="http://#{mailBean.direccionServer}/campania/#{f.urlFoto}"
																width="100%" alt="#{f.texto}"
																style="display: block" border="0"/></a>
														</td>
														</tr>
													</ui:repeat>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
								<ui:include src="footer.xhtml"></ui:include>
							</td>
						</tr>
						<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650px" style="font-family : 'Arial'; font-size:12px; background-color:#E8E8E8;">
							<tbody>
							<tr>
								<td height="20px">
								
								</td>
								</tr>
								<tr>
									<td>
										<center><h:outputText value="#{mailBean.texto1}" escape="false" ></h:outputText>: #{mailBean.mailCliente} </center>
									</td>
								</tr>
								<tr>
									<td>
									<center>
										<pre style="margin:0px;  font-family: arial;"><h:outputText value="#{mailBean.texto2}" escape="false" ></h:outputText><a href="http://#{mailBean.direccionServer}/PumaFidelizacion/unsubscribe.xhtml?id=#{mailBean.codigoCliente}"><h:outputText value="#{mailBean.clickAqui}" escape="false" ></h:outputText> </a></pre> 
									</center>	
									</td>
								</tr>
								<tr>
								<td height="20px">
								
								</td>
								</tr>
								<tr>
									<td>
										<center> <img src="http://#{mailBean.direccionServer}/PumaFidelizacion/archivos/footer/#{mailBean.logo}" ></img> </center>
									</td>
								</tr>
								<tr>
								<td height="20px">
								
								</td>
								</tr>
							</tbody>
						</table>
						</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</h:form>
</h:body>
</html>