
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW"/>
<meta name="referrer" content="no-referrer"/>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

<style type="text/css">
 
@font-face {
	font-family: 'D-DIN';
	src: url('http://www.tagmeservices.com/PumaFidelizacion/fonts/DIN/D-DIN/D-DIN.eot?#iefix') format('embedded-opentype'),  url('http://www.tagmeservices.com/PumaFidelizacion/fonts/DIN/D-DIN/D-DIN.otf')  format('opentype'),
		url('http://www.tagmeservices.com/PumaFidelizacion/fonts/DIN/D-DIN/D-DIN.woff') format('woff'), url('http://www.tagmeservices.com/PumaFidelizacion/fonts/DIN/D-DIN/D-DIN.ttf')  format('truetype'), url('http://www.tagmeservices.com/PumaFidelizacion/fonts/DIN/D-DIN/D-DIN.svg#D-DIN') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'D-DIN-Bold';
  src: url('http://www.tagmeservices.com/PumaFidelizacion/fonts/DIN/D-DIN-Bold/D-DIN-Bold.eot?#iefix') format('embedded-opentype'),  url('http://www.tagmeservices.com/PumaFidelizacion/fonts/DIN/D-DIN-Bold/D-DIN-Bold.otf')  format('opentype'),
	     url('http://www.tagmeservices.com/PumaFidelizacion/fonts/DIN/D-DIN-Bold/D-DIN-Bold.woff') format('woff'), url('http://www.tagmeservices.com/PumaFidelizacion/fonts/DIN/D-DIN-Bold/D-DIN-Bold.ttf')  format('truetype'), url('http://www.tagmeservices.com/PumaFidelizacion/fonts/DIN/D-DIN-Bold/D-DIN-Bold.svg#D-DIN-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


ReadMsgBody {
	width: 100%;
}

.ExternalClass {
	width: 100%;
}

.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font,
	.ExternalClass td, .ExternalClass div {
	line-height: 100%;
}

body {
font-family:D-DIN, Arial;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

p {
	margin: 1em 0;
}

table td {
	border-collapse: collapse;
}

img {
	outline: 0;
}

a img {
	border: none;
}

p {
	margin: 1em 0;
}

@
-ms-viewport {
	width: device-width;
}

@media only screen and (max-width: 480px) {
	body[yahoo] .container {
		width: 100% !important;
	}
	body[yahoo] .footer {
		width: auto !important;
		margin-left: 0;
	}
	body[yahoo] .content-padding {
		padding: 4px !important;
	}
	body[yahoo] .mobile-hidden {
		display: none !important;
	}
	body[yahoo] .logo {
		display: block !important;
		padding: 0 !important;
	}
	body[yahoo] img {
		width: auto !important;
		max-width: 308px !important;
		height: auto !important;
		max-height: auto !important;
	}
	body[yahoo] .header img {
		width: auto !important;
		max-width: 316px !important;
		height: auto !important;
		max-height: auto !important;
	}
	body[yahoo] .photo img {
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
	}
	body[yahoo] .drop {
		display: block !important;
		width: 100% !important;
		float: left;
		clear: both;
	}
	body[yahoo] .footerlogo {
		display: block !important;
		width: 100% !important;
		padding-top: 15px;
		float: left;
		clear: both;
	}
	body[yahoo] .nav4, body[yahoo] .nav5, body[yahoo] .nav6 {
		display: none !important;
	}
}

@media only screen and (max-width: 640px) {
	body[yahoo] .container {
		width: 100% !important;
	}
	body[yahoo] .mobile-hidden {
		display: none !important;
	}
	body[yahoo] .logo {
		display: block !important;
		padding: 0 !important;
	}
	body[yahoo] .photo img {
		width: 100% !important;
		height: auto !important;
	}
	body[yahoo] .nav5, body[yahoo] .nav6 {
		display: none !important;
	}
}


.ExternalClass {
	padding: 0 !important;
}

.ExternalClass .ecxReadMsgBody, .ExternalClass {
	width: 100%;
}

.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font,
	.ExternalClass td, .ExternalClass div {
	line-height: 100%;
}

.ExternalClass td[class="ecxokl-c"] td {
	text-align: left;
}

.ExternalClass td[class="ecxokl-c"] .ecxm {
	max-height: 0;
	width: 0;
	display: none !important;
}

table {
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
}

img {
	-ms-interpolation-mode: bicubic;
}

.ExternalClass td[class="ecxokl-c"] table {
	width: 100%;
}

html {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #0000ff;
	font-family: D-DIN, Helvetica, sans-serif;
}

@media only screen and (max-width: 480px) {
	body[yahoo] img {
		max-width: 360px !important;
	}
}

@media all and (max-width: 600px) {
	*[class].hide {
		display: none !important;
	}
	*[class].show {
		display: block !important;
		width: auto !important;
		overflow: visible !important;
		float: none !important;
		max-height: inherit !important;
		line-height: inherit !important;
	}
	*[class].block {
		display: block !important;
	}
	*[class].border0 {
		border: none !important;
	}
	*[class].width28 {
		width: 28px !important;
	}
	/* rrss */
	*[class].width59 {
		width: 59px !important;
	}
	/* td rrss */
	*[class].width149 {
		width: 149px !important;
	}
	/* logo homy */
	*[class].width360 {
		width: 360px !important;
	}
	*[class].width2p {
		width: 2% !important;
	}
	*[class].width3p {
		width: 3% !important;
	}
	*[class].width6p {
		width: 6% !important;
	}
	*[class].width45p {
		width: 45% !important;
	}
	/* producto-precio */
	*[class].width50p {
		width: 50% !important;
	}
	/* footer */
	*[class].width80p {
		width: 80% !important;
	}
	/* tabla producto-precio */
	*[class].width90p {
		width: 90% !important;
	}
	/* tabla producto-precio */
	*[class].width100 {
		width: 100% !important;
		display: block !important;
	}
	*[class].padding10 {
		padding: 10px !important;
	}
	*[class].paddingb0 {
		padding-bottom: 0px !important;
	}
	*[class].paddingt0 {
		padding-top: 0px !important;
	}
	*[class].paddingl0 {
		padding-left: 0px !important;
	}
	*[class].paddingr0 {
		padding-right: 0px !important;
	}
	*[class].paddings5 {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	*[class].movedown {
		display: table-footer-group !important;
	}
	*[class].moveup {
		display: table-header-group !important;
	}
	*[class].menu-mob-a {
		font-weight: bold;
		line-height: 14px;
		text-transform: uppercase;
		color: #000;
		letter-spacing: 3px;
		text-decoration: none;
	}
	*[class].menu-mob-td {
		padding-left: 20px;
		border-bottom: solid #e7e7e7 1px;
	}
}
div.preheader {
	display: none !important;
}
</style>


</h:head>
<h:body bgcolor="#ffffff" text="#000000" style="background-color: #FFFFFF; color: #000000; margin: 0px; padding: 0px; -webkit-text-size-adjust: none;" yahoo="fix">
	<h:form>
	<h:inputHidden value="#{mailBean.init()}"> </h:inputHidden>
	
	<table width="100%" border="0" cellpadding="0" cellspacing="0"
		align="center">
		<tbody>
			<tr>
				<td align="center" valign="top"></td>
			</tr>
			<tr>
				<td align="center">
					<table cellspacing="0" cellpadding="0" border="0" width="600"
						class="container" align="center">
						<tbody>
							<tr>
								<td>
									<table cellspacing="0" cellpadding="0" border="0"
										bgcolor="#ffffff" width="100%">
										<tbody>
											<tr>
												<td align="center" class="header" valign="top"></td>
											</tr>
											<tr>
												<td align="center" valign="top"><table cellspacing="0"
														cellpadding="0" border="0" width="100%" align="left">
														<tbody>
															<tr>
																<td class="content-padding" style="padding: 10px;">
																	<table cellspacing="0" cellpadding="0" border="0"
																		width="100%">
																		<tbody>
																			<tr>
																				<td align="left" valign="top" class="drop">
																					<table border="0" cellpadding="0" cellspacing="0"
																						width="100%" align="center">
																						<tbody>
																							<tr>
																								<td
																									style="font-family: D-DIN, Helvetica, sans-serif; font-size: 1px; color: #FFFFFF;"></td>
																							</tr>
																							<tr>
																								<td
																									style="font-family: D-DIN, Helvetica, sans-serif; font-size: 11px; color: #444444;"
																									valign="middle" align="center">Si usted no
																									visualiza bien este correo, por favor <a
																									style="font-family: D-DIN, Helvetica, sans-serif !important; COLOR: #0000ff; TEXT-DECORATION: underline"
																									title="ver email" href="http://www.tagmeservices.com/PumaFidelizacion/plantillaMail.xhtml"><h:outputText value="ingrese aqu&iacute;" escape="false" ></h:outputText></a>.
																								</td>
																							</tr>
																						</tbody>
																					</table>
																					<table cellpadding="0" cellspacing="0"
																						align="center" style="border: solid #CCC 1px;"
																						class="border0">
																						<tbody>
																							<tr>
																								<td align="center" valign="top"
																									style="font-family: D-DIN, Helvetica, sans-serif; font-size: 14px;">
																									<div
																										style="display: none; white-space: nowrap; font: 15px courier; color: #ffffff;"></div>
																									<table cellpadding="0" cellspacing="0"
																										width="598" class="hide"
																										style="background-color: #e7e7e7; 
																										 line-height: 12px; ">
																										<tbody>
																											<tr>
																												<td colspan="7" height="12"></td>
																											</tr>
																											<tr>
																												<td width="4"></td>
																												<td width="50" align="center"
																													valign="middle"
																													style="border-right: solid #777 1px">
																													<a
																													href="http://www.puma.com"
																													target="_blank"
																													style="color: #777; text-decoration: none;">
																													<img
																														src="http://www.tagmeservices.com/PumaFidelizacion/images/public/pumalg.png"
																														height="30px" width="38px" alt="www.puma.com"
																														style="display: block" border="0"/></a>
																												</td>
																												<ui:repeat var="m" value="#{mailBean.menu}">
																												<td width="#{m.ancho}" align="center"
																													valign="middle"
																													style="border-right: solid #777 1px"><a
																													href="#{m.url}"
																													target="_blank"
																													style="color: #777; text-decoration: none;">#{m.texto} </a>
																												</td>
																												</ui:repeat>
																												<td width="4"></td>
																											</tr>
																											<tr>
																												<td colspan="7" height="10"></td>
																											</tr>
																										</tbody>
																									</table> 
																									<table cellpadding="0" cellspacing="0"
																										width="598" class="width360">
																										<tbody>
																												<ui:repeat var="f" value="#{mailBean.fotos}">
																												<tr>
																													<td>
																													<a href="#{f.url}"
																														target="_blank"><img
																															src="http://www.tagmeservices.com/PumaFidelizacion/campania/#{f.urlFoto}"
																															width="100%" alt="#{f.texto}"
																															style="display: block" border="0"/></a>
																													</td>
																													</tr>
																												</ui:repeat>
																										</tbody>
																									</table>
																									
																									<div class="show"
																										style="display: none; float: left; overflow: hidden; width: 0; max-height: 0; line-height: 0; padding-bottom: 0px;">
																										<table cellpadding="0" cellspacing="0"
																											width="100%" align="center" valign="top"
																											style="padding-top: 10px;">
																											<tbody>
																												<ui:repeat var="m" value="#{mailBean.menu}">
																												
																												<tr>
																													<td valign="middle" height="50" class="menu-mob-td">
																													<a href="#{m.url}"
																														target="_blank" class="menu-mob-a">#{m.texto}</a></td>
																												</tr>
																												
																												</ui:repeat>
																												
																												<tr>
																													<td height="30"></td>
																												</tr>
																											</tbody>
																										</table>
																									</div>  
 
																									<table cellpadding="0" cellspacing="0"
																										width="598" class="width100" bgcolor="#eceeef">
																										<tbody>
																											<tr>
																												<td height="10"></td>
																											</tr>
																											<tr>
																												<td height="30"
																													style="font-family:D-DIN, Helvetica, sans-serif; font-weight: lighter; font-size: 15px; font-style: italic; color: #000; text-align: center">Siguenos en:</td>
																											</tr>
																											<tr>
																												<td height="5"></td>
																											</tr>
																											<tr>
																												<td align="center">
																													<table cellpadding="0" cellspacing="0">
																														<tbody>
																															<tr>
																																<td width="70" align="center"
																																	class="width59"><a
																																	href="https://www.facebook.com/Puma"
																																	target="_blank"><img
																																		src="http://tagmeservices.com/PumaFidelizacion/images/public/facebook-logo.gif"
																																		alt="Fb" width="35" border="0"
																																		class="width28"/></a></td>
																																<td width="70" align="center"
																																	class="width59"><a
																																	href="https://twitter.com/PUMAChile"
																																	target="_blank"><img
																																		src="http://tagmeservices.com/PumaFidelizacion/images/public/twitter-logo-silhouette.gif"
																																		alt="Tw" width="35" border="0"
																																		class="width28"/></a></td>
																																<td width="70" align="center"
																																	class="width59"><a
																																	href="https://www.instagram.com/puma/"
																																	target="_blank"><img
																																		src="http://tagmeservices.com/PumaFidelizacion/images/public/instagram.gif"
																																		alt="Ig" width="35" border="0"
																																		class="width28"/></a></td>
																																<td width="70" align="center"
																																	class="width59"><a
																																	href="https://www.pinterest.com/puma/"
																																	target="_blank"><img
																																		src="http://tagmeservices.com/PumaFidelizacion/images/public/pinterest-logo.gif"
																																		alt="Pint" width="35" border="0"
																																		class="width28"/></a></td>
																																<td align="center"
																																	class="width59"><a
																																	href="https://www.youtube.com/user/puma"
																																	target="_blank"><img
																																		src="http://tagmeservices.com/PumaFidelizacion/images/public/youtube.gif"
																																		alt="Yt" width="35" border="0"
																																		class="width28"/></a></td>
																																
																															</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																											<tr>
																												<td height="30"></td>
																											</tr>
																										</tbody>
																									</table> <!-- Footer -->


																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
													</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td valign="top"><table style="width: 550" class="dashedBorder"
						border="0" cellspacing="0" cellpadding="0" width="100%"
						align="center">
						<tbody>
							<tr>
								<td
									style="FONT-FAMILY: D-DIN, Arial; WHITE-SPACE: normal; FONT-SIZE: 11px"
									valign="middle" align="center"><font color="#444444">Este
										correo electronico ha sido enviado a <b>XXXXXXX@mail.com</b>
								</font> <br/> <br/>
								</td>
							</tr>

							<tr>
								<td
									style="font-family: D-DIN, Helvetica, sans-serif !important; WHITE-SPACE: normal; FONT-SIZE: 11px"
									valign="middle" align="center"><font color="#444444">Si
										no quiere seguir recibiendo nuestros emails, ingrese a este <a
										href="#" style="font-family: D-DIN, Helvetica, sans-serif !important;"><b>link</b></a>.
								</font> <br/> <br/></td>
							</tr>

							<tr>
								<td
									style="FONT-FAMILY: D-DIN , Arial; WHITE-SPACE: normal; FONT-SIZE: 11px"
									valign="middle" align="center"><font color="#444444">
										Direccion: Av Presidente Kennedy 5454 Santiago, Chile<br/>
										<strong>2018 Derechos Reservados</strong>
								</font></td>
							</tr>

						</tbody>
					</table></td>
			</tr>
		</tbody>
	</table>
</h:form>
</h:body>
</html>