<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

	<!--  <ui:include src="headerImport.xhtml" /> -->
	<link href="css/jquery-ui.css" rel="stylesheet"></link>
	<link href="css/bootstrap_4/bootstrap.min.css" rel="stylesheet"></link>
	<link href="css/bootswatch/bootswatch.min.css" rel="stylesheet"></link>
	<link href="css/administracion/administracion.css" rel="stylesheet"></link>
	<link rel="stylesheet" href="css/puma_styles_new.css"></link>
	<link rel="stylesheet" href="css/jquery.dataTables.min.css"></link>
	<link rel="stylesheet" href="css/datatable.button.css"></link>
	<link rel="stylesheet" href="css/morris.css"></link>
	<!--<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/popper.js"></script>
	<script type="text/javascript" src="js/bootstrap_4/bootstrap.min.js"></script>	
	<script type="text/javascript" src="js/bootstrap-confirmation.min.js"></script>
	<script type="text/javascript" src="js/administracion/jquery-ui.js"></script>
	
	<script src="js/jquery.dataTables.min.js"></script>
	<script src="js/dataTable.buttons.min.js"></script>
	<script src="js/buttons.html5.min.js"></script>
	<script src="js/jszip.min.js"></script>
		<script src="js/morris2.js"></script>
		<script src="js/chartjs/Chart.js"></script>
			<script src="js/raphael-min.js"></script>
		-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"></link>
	<script type="text/javascript" src="js/fidelizacion/custom.js"></script>
	<script type="text/javascript">
		//<![CDATA[				 

		$.datepicker.regional['es'] = {
			closeText : 'Cerrar',
			prevText : '< Ant',
	  nextText: 'Sig >',
			currentText : 'Hoy',
			monthNames : [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',
					'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre',
					'Noviembre', 'Diciembre' ],
			monthNamesShort : [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
					'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
			dayNames : [ 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves',
					'Viernes', 'Sábado' ],
			dayNamesShort : [ 'Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb' ],
			dayNamesMin : [ 'Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá' ],
			weekHeader : 'Sm',
			dateFormat : 'dd/mm/yy',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
		$(function() {
			$("#formGenerarCupon\\:fechaNac").datepicker({
				changeYear : true,
				yearRange : "-100:+0"
			});
		});
		//]]>
	</script>

<style>

.changeFonts {
	/*font-family: 'D-DIN';*/
	font-size: 1.1em;
	margin-bottom: 30px;
}

.subtitulos-form {
	background-color: #2C3E50 !important;
    box-sizing: border-box;
    color: #fff;
	direction: ltr;
	display: block;
	/*font-family: D-DIN-Bold;
	font-size:
	15px
	;*/
	height: 44px;
	line-height: 22.5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-size-adjust: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-enviar {
	align-items: flex-start;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #2C3E50;
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0px;
	background-position-y: 0px;
	background-repeat-x:;
	background-repeat-y:;
	background-size: auto;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(255, 255, 255);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(255, 255, 255);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(255, 255, 255);
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	direction: ltr;
	display: inline-block;
	/*font-family: D-DIN-Bold, Arial, sans-serif;*/
	font-size: 13px;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	height: 50px;
	letter-spacing: 0.65px;
	line-height: 50px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 0px;
	position: relative;
	text-align: center;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-size-adjust: 100%;
	text-transform: uppercase;
	user-select: none;
	white-space: pre;
	width: 167.594px;
	word-spacing: 0px;
	writing-mode: horizontal-tb;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-webkit-rtl-ordering: logical;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-border-image: none;
	transition: 1s;
}

.btn-enviar:hover{
	background-color: #1e2b37;
}
.rate-panel {
	margin-top: 15px;
	margin-bottom: 15px;
}

.contenedor {
	padding-top:0px;
}


.funkyradio div {

  /*clear: both;*/
  overflow: hidden;
  /*margin-top: -20px;*/
}

.funkyradio div:nth-child(2n) {
  padding-left: 5px;
}

/*.funkyradio div:first-child {
  padding-right: 5px;
}*/

.funkyradio {
	margin-bottom:6px;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #d8d6d0;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 2.6em;
  margin-bottom:0px;
  margin-top: 6px;
 
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #d8d6d0;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #14ad14;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

.lightGreyBg {
	background-color: #222;
    padding-top: 10px;
    padding-bottom: 10px;
     padding-left: 10px;
    padding-right: 10px;
    color: #d8d6d0;
}
.jq-ry-container{position:relative;padding:0 5px;line-height:0;display:block;cursor:pointer;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;direction:ltr}.jq-ry-container[readonly=readonly]{cursor:default}.jq-ry-container>.jq-ry-group-wrapper{position:relative;width:100%}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group{position:relative;line-height:0;z-index:10;white-space:nowrap}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg{display:inline-block}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-normal-group{width:100%}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group{width:0;z-index:11;position:absolute;top:0;left:0;overflow:hidden}
</style>
<script>
//<![CDATA[	
!function(a){"use strict";function b(){var a=!1;return function(b){(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(b)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(b.substr(0,4)))&&(a=!0)}(navigator.userAgent||navigator.vendor||window.opera),a}function c(a,b,c){return a===b?a=b:a===c&&(a=c),a}function d(a,b,c){if(!(a>=b&&a<=c))throw Error("Invalid Rating, expected value between "+b+" and "+c);return a}function e(a){return void 0!==a}function f(a,b,c){var d=c/100*(b-a);return d=Math.round(a+d).toString(16),1===d.length&&(d="0"+d),d}function g(a,b,c){if(!a||!b)return null;c=e(c)?c:0,a=q(a),b=q(b);var d=f(a.r,b.r,c),g=f(a.b,b.b,c);return"#"+d+f(a.g,b.g,c)+g}function h(f,i){function k(a){e(a)||(a=i.rating),Z=a;var b=a/P,c=b*R;b>1&&(c+=(Math.ceil(b)-1)*T),r(i.ratedFill),c=i.rtl?100-c:c,c<0?c=0:c>100&&(c=100),X.css("width",c+"%")}function l(){U=Q*i.numStars+S*(i.numStars-1),R=Q/U*100,T=S/U*100,f.width(U),k()}function n(a){var b=i.starWidth=a;return Q=window.parseFloat(i.starWidth.replace("px","")),W.find("svg").attr({width:i.starWidth,height:b}),X.find("svg").attr({width:i.starWidth,height:b}),l(),f}function p(a){return i.spacing=a,S=parseFloat(i.spacing.replace("px","")),W.find("svg:not(:first-child)").css({"margin-left":a}),X.find("svg:not(:first-child)").css({"margin-left":a}),l(),f}function q(a){return i.normalFill=a,(i.rtl?X:W).find("svg").attr({fill:i.normalFill}),f}function r(a){if(i.multiColor){var b=Z-Y,c=b/i.maxValue*100,d=i.multiColor||{};a=g(d.startColor||o.startColor,d.endColor||o.endColor,c)}else _=a;return i.ratedFill=a,(i.rtl?W:X).find("svg").attr({fill:i.ratedFill}),f}function s(a){a=!!a,i.rtl=a,q(i.normalFill),k()}function t(a){i.multiColor=a,r(a?a:_)}function u(b){i.numStars=b,P=i.maxValue/i.numStars,W.empty(),X.empty();for(var c=0;c<i.numStars;c++)W.append(a(i.starSvg||m)),X.append(a(i.starSvg||m));return n(i.starWidth),q(i.normalFill),p(i.spacing),k(),f}function v(a){return i.maxValue=a,P=i.maxValue/i.numStars,i.rating>a&&C(a),k(),f}function w(a){return i.precision=a,C(i.rating),f}function x(a){return i.halfStar=a,f}function y(a){return i.fullStar=a,f}function z(a){var b=a%P,c=P/2,d=i.halfStar,e=i.fullStar;return e||d?(e||d&&b>c?a+=P-b:(a-=b,b>0&&(a+=c)),a):a}function A(a){var b=W.offset(),c=b.left,d=c+W.width(),e=i.maxValue,f=a.pageX,g=0;if(f<c)g=Y;else if(f>d)g=e;else{var h=(f-c)/(d-c);if(S>0){h*=100;for(var j=h;j>0;)j>R?(g+=P,j-=R+T):(g+=j/R*P,j=0)}else g=h*i.maxValue;g=z(g)}return i.rtl&&(g=e-g),parseFloat(g)}function B(a){return i.readOnly=a,f.attr("readonly",!0),N(),a||(f.removeAttr("readonly"),M()),f}function C(a){var b=a,e=i.maxValue;return"string"==typeof b&&("%"===b[b.length-1]&&(b=b.substr(0,b.length-1),e=100,v(e)),b=parseFloat(b)),d(b,Y,e),b=parseFloat(b.toFixed(i.precision)),c(parseFloat(b),Y,e),i.rating=b,k(),$&&f.trigger("rateyo.set",{rating:b}),f}function D(a){return i.onInit=a,f}function E(a){return i.onSet=a,f}function F(a){return i.onChange=a,f}function G(a){var b=A(a).toFixed(i.precision),d=i.maxValue;b=c(parseFloat(b),Y,d),k(b),f.trigger("rateyo.change",{rating:b})}function H(){b()||(k(),f.trigger("rateyo.change",{rating:i.rating}))}function I(a){var b=A(a).toFixed(i.precision);b=parseFloat(b),O.rating(b)}function J(a,b){i.onInit&&"function"==typeof i.onInit&&i.onInit.apply(this,[b.rating,O])}function K(a,b){i.onChange&&"function"==typeof i.onChange&&i.onChange.apply(this,[b.rating,O])}function L(a,b){i.onSet&&"function"==typeof i.onSet&&i.onSet.apply(this,[b.rating,O])}function M(){f.on("mousemove",G).on("mouseenter",G).on("mouseleave",H).on("click",I).on("rateyo.init",J).on("rateyo.change",K).on("rateyo.set",L)}function N(){f.off("mousemove",G).off("mouseenter",G).off("mouseleave",H).off("click",I).off("rateyo.init",J).off("rateyo.change",K).off("rateyo.set",L)}this.node=f.get(0);var O=this;f.empty().addClass("jq-ry-container");var P,Q,R,S,T,U,V=a("<div/>").addClass("jq-ry-group-wrapper").appendTo(f),W=a("<div/>").addClass("jq-ry-normal-group").addClass("jq-ry-group").appendTo(V),X=a("<div/>").addClass("jq-ry-rated-group").addClass("jq-ry-group").appendTo(V),Y=0,Z=i.rating,$=!1,_=i.ratedFill;this.rating=function(a){return e(a)?(C(a),f):i.rating},this.destroy=function(){return i.readOnly||N(),h.prototype.collection=j(f.get(0),this.collection),f.removeClass("jq-ry-container").children().remove(),f},this.method=function(a){if(!a)throw Error("Method name not specified!");if(!e(this[a]))throw Error("Method "+a+" doesn't exist!");var b=Array.prototype.slice.apply(arguments,[]),c=b.slice(1);return this[a].apply(this,c)},this.option=function(a,b){if(!e(a))return i;var c;switch(a){case"starWidth":c=n;break;case"numStars":c=u;break;case"normalFill":c=q;break;case"ratedFill":c=r;break;case"multiColor":c=t;break;case"maxValue":c=v;break;case"precision":c=w;break;case"rating":c=C;break;case"halfStar":c=x;break;case"fullStar":c=y;break;case"readOnly":c=B;break;case"spacing":c=p;break;case"rtl":c=s;break;case"onInit":c=D;break;case"onSet":c=E;break;case"onChange":c=F;break;default:throw Error("No such option as "+a)}return e(b)?c(b):i[a]},u(i.numStars),B(i.readOnly),i.rtl&&s(i.rtl),this.collection.push(this),this.rating(i.rating,!0),$=!0,f.trigger("rateyo.init",{rating:i.rating})}function i(b,c){var d;return a.each(c,function(){if(b===this.node)return d=this,!1}),d}function j(b,c){return a.each(c,function(a){if(b===this.node){var d=c.slice(0,a),e=c.slice(a+1,c.length);return c=d.concat(e),!1}}),c}function k(b){var c=h.prototype.collection,d=a(this);if(0===d.length)return d;var e=Array.prototype.slice.apply(arguments,[]);if(0===e.length)b=e[0]={};else{if(1!==e.length||"object"!=typeof e[0]){if(e.length>=1&&"string"==typeof e[0]){var f=e[0],g=e.slice(1),j=[];return a.each(d,function(a,b){var d=i(b,c);if(!d)throw Error("Trying to set options before even initialization");var e=d[f];if(!e)throw Error("Method "+f+" does not exist!");var h=e.apply(d,g);j.push(h)}),j=1===j.length?j[0]:j}throw Error("Invalid Arguments")}b=e[0]}return b=a.extend({},n,b),a.each(d,function(){var d=i(this,c);if(d)return d;var e=a(this),f={},g=a.extend({},b);return a.each(e.data(),function(a,b){if(0===a.indexOf("rateyo")){var c=a.replace(/^rateyo/,"");c=c[0].toLowerCase()+c.slice(1),f[c]=b,delete g[c]}}),new h(a(this),a.extend({},f,g))})}function l(){return k.apply(this,Array.prototype.slice.apply(arguments,[]))}var m='<?xml version="1.0" encoding="utf-8"?><svg version="1.1"xmlns="http://www.w3.org/2000/svg"viewBox="0 12.705 512 486.59"x="0px" y="0px"xml:space="preserve"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "/></svg>',n={starWidth:"32px",normalFill:"gray",ratedFill:"#f39c12",numStars:5,maxValue:5,precision:1,rating:0,fullStar:!1,halfStar:!1,readOnly:!1,spacing:"0px",rtl:!1,multiColor:null,onInit:null,onChange:null,onSet:null,starSvg:null},o={startColor:"#c0392b",endColor:"#f1c40f"},p=/^#([0-9a-f]{2})([0-9a-f]{2})([0-9a-f]{2})$/i,q=function(a){if(!p.test(a))return null;var b=p.exec(a);return{r:parseInt(b[1],16),g:parseInt(b[2],16),b:parseInt(b[3],16)}};h.prototype.collection=[],window.RateYo=h,a.fn.rateYo=l}(window.jQuery);
//]]>
</script>
<h:panelGroup layout="block" class="contenedor changeFonts">
	
	
	<h:form id="formGenerarCupon">
		<div id="wrapper">
			<div id="page-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<br />
						</div>
						<div class="col-sm-12">
							<div class="col-md-12">
								<div >
									<center>
										<h4 class="subtitulos-form" >#{administracionFormularioBean.campaniaSelecionada.formulario.seccion1}</h4>
									</center>
								</div>
								
								<div class="row">
								<div class="col-sm-12 col-lg-6 ">
									<div id="nombre" class="form-group has-feedback column">
										<div >
											<h:outputLabel value="Nombre * "></h:outputLabel>
											<h:inputText styleClass="form-control" id="input_nombre" name="nombre"></h:inputText>
										</div>
									</div> 
								</div>
								
								<div class="col-sm-12 col-lg-6 ">	
									<div id="apellido" class="form-group has-feedback column">
										<div >
											<h:outputLabel value="Apellido * "></h:outputLabel>
											<h:inputText styleClass="form-control" id="input_apellido" name="nombre" ></h:inputText>
										</div>
									</div>
								</div>
								</div>
								
							
								<div class="row">
								<div class="col-lg-12">
								<h:outputLabel value="Rut * "></h:outputLabel>
								</div>
								
															<div id="rut" class="form-group col-sm-8">
										<h:inputText id="rut" styleClass="form-control" name="rut" maxlength="8" ></h:inputText>
									</div>
									<div class="col-sm-2">
										<center>-</center>
									</div>
									<div id="dv" class=" col-sm-2">
										<h:inputText styleClass="form-control" name="dv" size="1"
											maxlength="1" id="dv" ></h:inputText>
									
								</div>
								</div>
								
								
								 <div class="row">
								<div class="col-lg-12 ">
									<div id="FechaNacimiento" class="form-group">
										
										<h:outputLabel value="Fecha Nacimiento * "></h:outputLabel>
										<h:inputText styleClass="form-control" name="nacimiento"
											 readonly= "#{facesContext.renderResponse}" id="fechaNac" ></h:inputText>
										
									</div>
								</div>
								</div>
								<div class="row">
								<div class="col-lg-12">
									<div id="email" class="form-group">
									
									<h:outputLabel value="E-mail * "></h:outputLabel>
									<h:inputText styleClass="form-control" name="mail" ></h:inputText>
									</div>
								</div>
								</div>
								 
								 <div class="row">
									<ui:repeat value="#{administracionFormularioBean.camposCampania}" var="cam" varStatus="myVarStatus">
										<div class="col-lg-12">
										<div  class="form-group">
										<h:outputLabel value="#{cam.campo.label}"></h:outputLabel>
										<h:inputText styleClass="form-control" ></h:inputText>
										</div>
									</div>
									 </ui:repeat>
								 </div>
							</div>
							<div class="col-md-12">
								<br />
							</div>
							<div class="col-md-12">
								<h:panelGroup rendered ="#{administracionFormularioBean.campaniaSelecionada.formulario.flags2}">
									<div>
										<center>
											<h4 class="subtitulos-form">#{administracionFormularioBean.campaniaSelecionada.formulario.seccion2}</h4>
										</center>
									</div>
									<div class="">
											<div class=" row funkyradio ">
											<ui:repeat varStatus="row" id="categorias" var="c" value="#{administracionFormularioBean.listaCategoria}">
													<div class="col-sm-6 funkyradio-success " >
														<h:selectBooleanCheckbox name="checkbox" id="checkbox" value="#{c.seleccionado}"  /> <label
															for="formGenerarCupon:categorias:#{row.index}:checkbox" class="checkPreferencias">#{c.texto}</label>
													</div>  
												</ui:repeat>
											</div>
								</div>
								</h:panelGroup>
							<div class="row">
								<div class="col-xs-12">
									<br />
								</div>
							</div>
							<div class="col-xs-12">
								<h:panelGroup rendered ="#{administracionFormularioBean.campaniaSelecionada.formulario.flags3}">
								<div>
									<center>
										<h4 class="subtitulos-form">#{administracionFormularioBean.campaniaSelecionada.formulario.seccion3}</h4>
									</center>
								</div>
								<center>
									<div class="rate-panel" id="rateYo"></div>
								</center>
								</h:panelGroup>
								
								<div class="col-lg-12">
									<div style="text-align: justify;font-size: 11px;">#{administracionFormularioBean.campaniaSelecionada.formulario.condiciones}</div>
								</div>
								<div class="col-md-12">
									<br />
								</div>
								<div class="col-md-12">
									<center>
										<div class="custom-control custom-checkbox">
											<h:selectBooleanCheckbox class="custom-control-input" id="aceptarCondic"></h:selectBooleanCheckbox>
											<label class="custom-control-label" for="aceptarCondic">Aceptar Condiciones</label>
										</div>
										
										
									</center>
								</div>
								<div class="col-md-12">
									<br />
								</div>
							</div>

								<div class="col-md-12">
									<center>
										<h:commandButton class="btn-enviar" type="button"
											value="#{administracionFormularioBean.campaniaSelecionada.formulario.boton}" id="generarCupon1">
										</h:commandButton>		
									</center>
								</div>

								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</h:form>
	

	
	<script>
	
	//<![CDATA[		
	$(function(){
	

	

			$("#formGenerarCupon\\:rut").keydown(function (e) {

						// Allow: backspace, delete, tab, escape, enter and .
			        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
			             // Allow: Ctrl+A, Command+A
			            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
			             // Allow: home, end, left, right, down, up
			            (e.keyCode >= 35 && e.keyCode <= 40) ) {
			                 // let it happen, don't do anything
			                 return;
			        }
			        // Ensure that it is a number and stop the keypress
			        if (((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) ) {
			            e.preventDefault();
			        }
				
	
		        
		   	 });
		   	 
		   	 $("#formGenerarCupon\\:dv").keydown(function (e) {
				
						// Allow: backspace, delete, tab, escape, enter and .
			        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
			             // Allow: Ctrl+A, Command+A
			            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
			             // Allow: home, end, left, right, down, up
			            (e.keyCode >= 35 && e.keyCode <= 40) ) {
			                 // let it happen, don't do anything
			                 return;
			        }
			        // Ensure that it is a number and stop the keypress
			        if (((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode == 85))) {
			            e.preventDefault();
			        }
				
				
		        
		   	 });
		
		
		 var rate=$("#formGenerarCupon\\:rateYoValue").val();

		$(function () {
			$("#rateYo").rateYo({
			starWidth: "50px",
			rating: rate,
			fullStar: true,
			ratedFill: "#f6c42a",
			normalFill: "rgb(216,214,208)",
			});
		});
			
		var namePattern = "^[a-z A-Z]{4,30}$";
		var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
		var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
		var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
		var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
		var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
		var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
		var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
		
		$("#formGenerarCupon\\:generarCupon1").click(function(){
			if (validar()) {
				$("#formGenerarCupon\\:generarCuponValidado").click();
			}else{
				$("#modalLauncher").click();
			}
			
		});
		var html = "";
		function validar(){
			html = "";
			var condiciones = $("#formGenerarCupon\\:aceptarCondiciones").is(":checked");
	        
	        var rutCliente = $("#formGenerarCupon\\:rut").val();
	        var dvCliente = $("#formGenerarCupon\\:dv").val();
			
			var validado = true;
			
			if (!checkInput("#nombre",namePattern))
			{
				html= html + "<li>Debe ingresar un nombre valido</li>";
				if(validado){validado = false;}
			}
			if (!checkInput("#apellido",namePattern))
			{
				html= html + "<li>Debe ingresar un apellido valido</li>";
				if(validado){validado = false;}
				
			}		
			if (!validarRut(rutCliente, dvCliente))
			{
				if(validado){validado = false;}
			}
			if(!checkInputDate("#FechaNacimiento",datePattern))
			{
				if(validado){validado = false;}
			}
			if(!checkInput("#email",emailPattern))
			{
				if(validado){validado = false;}
				html= html + "<li>Debe ingresar un correo electronico valido</li>";
			}
					
			var rate = $("#rateYo").rateYo("option", "rating");
			if(rate <1 )
			{
				if(validado){validado = false;}
				html= html + "<li>Debe evaluar su experiencia de compra</li>";
			}
			if(!condiciones)
			{
				if(validado){validado = false;}
				html= html + "<li>Debe aceptar las condiciones</li>";
			} 
			$("#listaError").html(html)
			$("#formGenerarCupon\\:rateYoValue").val(rate);
			return validado;

		}	
		
		
		

		function checkInput(idInput, pattern) {
			
			if($(idInput + " input").val().match(pattern)){
				$(idInput).removeClass("has-error");
				$(idInput).addClass("has-success");
				return true;
			}else{
				$(idInput).removeClass("has-success");
				$(idInput).addClass("has-error");
				return false;
			}
		}
		
		function checkInputDate(idInput, pattern) {
			var date = $(idInput + " input").val()

			if(date.match(pattern)){
				$(idInput).removeClass("has-error");
				$(idInput).addClass("has-success");
				return true;
			}else{
				$(idInput).removeClass("has-success");
				$(idInput).addClass("has-error");
				html= html + "<li>Debe indicar una fecha de nacimiento valida</li>";
				return false;
			}
		}

		function checkTextarea(idText) {
			return $(idText).val().length > 12 ? true : false;	
		}

		function checkRadioBox(nameRadioBox) {
		  return $(nameRadioBox).is(":checked") ? true : false;
		}

		function checkSelect(idSelect) {
			return $(idSelect).val() ? true : false;
		}

		function enableSubmit (idForm) {
			$(idForm + " button.submit").removeAttr("disabled");
		}

		function disableSubmit (idForm) {
			$(idForm + " button.submit").attr("disabled", "disabled");
		}


		function validarRut(rutCliente, dvCliente){
			if(rutCliente.length >8 && rutCliente.length < 7)
			{
				html= html + "<li>El largo del rut no corresponde a un RUT valido</li>";
				return false;
			}else{
				var rutCompleto = rutCliente + "-" + dvCliente ;
				rutCompleto = rutCompleto.replace("‐","-");
			      if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test( rutCompleto )){
			      	$("#rut").removeClass("has-success");
					$("#rut").addClass("has-error");
					$("#dv").removeClass("has-success");
					$("#dv").addClass("has-error");
					html= html + "<li>El rut ingresado no es valido</li>";
			    	  return false;
			      }
			        
			        $("#rut").addClass("has-success");
					$("#rut").removeClass("has-error");
					$("#dv").addClass("has-success");
					$("#dv").removeClass("has-error");
			        var tmp     = rutCompleto.split('-');
			        var digv    = tmp[1]; 
			        var rut     = tmp[0];
			        if ( digv == 'K' ) digv = 'k' ;
			        
			        return (dv(rut) == digv);
			}
			
		}
		
		function dv(T){
	        var M=0,S=1;
	        for(;T;T=Math.floor(T/10))
	            S=(S+T%10*(9-M++%6))%11;
	        return S?S-1:'k';
	    }
	    
	   						
		
	})
	

	
	//]]>
	</script>


	
	
	<!-- <ui:include src="footer.xhtml"></ui:include>  -->
</h:panelGroup>
</html>