<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Maqueta</title>


	<link href="css/bootstrap.css" rel="stylesheet"></link>

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-confirmation.js"></script>

	<script src="js/rateyo/jquery.rateyo.min.js"></script>
	<script src="js/jquery-ui.js"></script>

	<link href="css/jquery-ui.css" rel="stylesheet"></link>
	<link href="css/rateyo/jquery.rateyo.css" rel="stylesheet"></link>
	<link href="css/checklist.css" rel="stylesheet"></link>
	<link href="css/styles.puma.min.css" rel="stylesheet"></link>
	<link href="css/puma_styles.css" rel="stylesheet"></link>


	
	<script type="text/javascript">
		//<![CDATA[				 

		$.datepicker.regional['es'] = {
			closeText : 'Cerrar',
			prevText : '< Ant',
	  nextText: 'Sig >',
			currentText : 'Hoy',
			monthNames : [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',
					'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre',
					'Noviembre', 'Diciembre' ],
			monthNamesShort : [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
					'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
			dayNames : [ 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves',
					'Viernes', 'Sábado' ],
			dayNamesShort : [ 'Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb' ],
			dayNamesMin : [ 'Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá' ],
			weekHeader : 'Sm',
			dateFormat : 'dd/mm/yy',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
		$(function() {
			$("#fechaNac").datepicker({
				changeYear : true,
				yearRange : "-100:+0"
			});
		});
		//]]>
	</script>

</h:head>
<h:body>
	<ui:include src="header.xhtml"></ui:include>
	<div id="wrapper">
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<br />
					</div>
					<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
						<div class="col-md-12">
							<div class="lightGreyBg">
								<center>
									<h4 class="word-wrap: break-word;">Datos Personales</h4>
								</center>
							</div>
							<div class="col-lg-12">
								<h:outputText value="Nombre * "></h:outputText>
								<h:inputText styleClass="form-control" name="nombre"></h:inputText>
							</div>
							<div class="col-lg-12">
							<h:outputText value="Rut * "></h:outputText>
							</div>
							<div class="col-lg-12">
								<div class="form-group col-sm-8 col-xs-8 col-md-8">
									<h:inputText styleClass="form-control" name="rut"></h:inputText>
								</div>
								<div class="form-group col-sm-2 col-xs-2 col-md-2">
									<center>-</center>
								</div>
								<div class="form-group col-sm-2 col-xs-2 col-md-2">
									<h:inputText styleClass="form-control" name="dv" size="1"
										maxlength="1"></h:inputText>
								</div>
							

								<h:outputText value="Apellido Paterno * "></h:outputText>
								<h:inputText styleClass="form-control" name="apellido1"></h:inputText>

								<h:outputText value="Apellido Materno * "></h:outputText>
								<h:inputText styleClass="form-control" name="apellido2"></h:inputText>

								<h:outputText value="Fecha Nacimiento * "></h:outputText>
								<h:inputText styleClass="form-control" name="nacimiento"
									readonly="true" id="fechaNac"></h:inputText>

								<h:outputText value="E-mail * "></h:outputText>
								<h:inputText styleClass="form-control" name="mail"></h:inputText>

								<h:outputText value="Telefono Movil * "></h:outputText>
								<h:inputText styleClass="form-control" name="movil"></h:inputText>

							</div>
						</div>
						<div class="col-md-12">
							<br />
						</div>
						<div class="col-md-12">
							<div class="col-lg-12">
								<div class="lightGreyBg">
									<center>
										<h4 class="word-wrap: break-word;">Selecciona tus
											Categorías Favoritas</h4>
									</center>
								</div>
								<div class="">
									
										<div class=" col-xs-12 funkyradio ">
											<div class="col-xs-6 funkyradio-success " >
												<input type="checkbox" name="checkbox" id="checkbox1" /> <label
													for="checkbox1">Running</label>
											</div>
											<div class="col-xs-6 funkyradio-success ">
												<input type="checkbox" name="checkbox" id="checkbox2" /> <label
													for="checkbox2">LifeStyle</label>
											</div>
											<div class="col-xs-6 funkyradio-success ">
												<input type="checkbox" name="checkbox" id="checkbox3" /> <label
													for="checkbox3">Training / Fitness </label>
											</div>
										
									
									
									
										
											<div class="funkyradio-success col-xs-6">
												<input type="checkbox" name="checkbox" id="checkbox4" /> <label
													for="checkbox4">Golf</label>
											</div>
											<div class="funkyradio-success col-xs-6">
												<input type="checkbox" name="checkbox" id="checkbox5" /> <label
													for="checkbox5">Motorsport</label>
											</div>
											<div class="funkyradio-success col-xs-6">
												<input type="checkbox" name="checkbox" id="checkbox6" /> <label
													for="checkbox6">Ecosphere</label>

											</div>
										</div>
									

								</div>
							</div>
							<div class="col-xs-12">
								<br />
							</div>
						</div>


						<div class="col-xs-12">
							<div class="lightGreyBg">
								<center>
									<h4 class="word-wrap: break-word;">¿Como fue tu
										Experiencia en la Tienda?</h4>
								</center>
							</div>

							<script>
								$(function () {
								  $("#rateYo").rateYo({
								  	starWidth: "50px",
								    rating: 0,
								    fullStar: true,
								    ratedFill: "#ffff00",
								    normalFill: "rgb(216,214,208)"
								  });
								});
							</script>
							<center>
								<div class="rate-panel" id="rateYo"></div>
							</center>
							<div class="col-lg-12">
								<div style="text-align: justify;font-size: 14px;">De acuerdo a lo
									establecido en el Artículo Cuarto de la Ley 19.628 “Sobre
									Protección de la Vida Privada”, autorizo a PUMA para que se me
									informe a través de correo electrónico u otros medios sus
									promociones y ofertas. La presente autorización podrá ser
									revocada par mi en cualquier momento, aunque sin efecto
									retroactivo, lo que se deberá realizar por escrito o
									electrónicamente.</div>
							</div>
							<div class="col-md-12">
								<br />
							</div>
							<div class="col-md-12">
								<center>
									<h:selectBooleanCheckbox></h:selectBooleanCheckbox>
									Aceptar Condiciones
								</center>
							</div>
							<div class="col-md-12">
								<br />
							</div>
							<div class="col-md-12">
								<center>
									<h:button styleClass="button button--black"
										value="Generar Cupon"></h:button>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	
	
	<ui:include src="footer.xhtml"></ui:include>
</h:body>
</html>
