<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" style="height: 100%;">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Puma</title>


	<link href="css/bootstrap.css" rel="stylesheet"></link>

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-confirmation.js"></script>

	<script src="js/rateyo/jquery.rateyo.min.js"></script>
	<script src="js/jquery-ui.js"></script>

	<link href="css/jquery-ui.css" rel="stylesheet"></link>
	<link href="css/rateyo/jquery.rateyo.css" rel="stylesheet"></link>
	<link href="css/checklist.css" rel="stylesheet"></link>
	<link href="css/styles.puma.min.css" rel="stylesheet"></link>
	<link href="css/puma_styles.css" rel="stylesheet"></link>


</h:head>
<h:body style="height: 100%;">
	<ui:include src="header.xhtml"></ui:include>
	
	<h:panelGroup layout="block" class="container" style="height: 63%;">
		<h:panelGroup layout="block" class="row">
			<h:panelGroup layout="block" class="col-sm-12">
				<h:panelGroup layout="block" class="center-block">
					<h:panelGroup layout="block" class="jumbotron" >
						<h1>Felicidades!</h1>
						<p>Te has registrado correctamente.</p>
						<p>Se enviará un cupón a tu correo.</p>
						<p>Gracias por comprar en PUMA</p>
					</h:panelGroup>
				</h:panelGroup>
				
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
	
	<ui:include src="footer.xhtml"></ui:include>
</h:body>
</html>
