<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Registro</title>
	
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-confirmation.js"></script>
	<!-- <link href="css/bootstrap.css" rel="stylesheet"></link>
	<script src="js/jquery.js"></script>
	
	
	
	<link href="css/Normalize.css" rel="stylesheet"></link>
	
	<link href="css/rateyo/jquery.rateyo.css" rel="stylesheet"></link>
	
	<link href="css/styles.puma.min.css" rel="stylesheet"></link>
	 -->
	<ui:include src="headerImport.xhtml" />	
		<script src="js/jquery.js"></script>

	<link href="css/rateyo/jquery.rateyo.css" rel="stylesheet"></link>
	<link href="css/checklist.css" rel="stylesheet"></link>
	<link href="css/puma_styles.css" rel="stylesheet"></link>
	<link href="css/jquery-ui.css" rel="stylesheet"></link>
	<script src="js/jquery-ui.js"></script>
	<script src="js/rateyo/jquery.rateyo.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"></link>
	<style>
		.lightGreyBg{
			background-color: #2C3E50 !important;
		    color: #fff;
		    padding: 15px 0px;
		    margin-bottom: 10px;
		}
	</style>
	<script type="text/javascript">
		//<![CDATA[				 

		$.datepicker.regional['es'] = {
			closeText : 'Cerrar',
			prevText : '< Ant',
	  nextText: 'Sig >',
			currentText : 'Hoy',
			monthNames : [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',
					'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre',
					'Noviembre', 'Diciembre' ],
			monthNamesShort : [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
					'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
			dayNames : [ 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves',
					'Viernes', 'Sábado' ],
			dayNamesShort : [ 'Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb' ],
			dayNamesMin : [ 'Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá' ],
			weekHeader : 'Sm',
			dateFormat : 'dd/mm/yy',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
		$(function() {
			$("#formGenerarCupon\\:fechaNac").datepicker({
				changeYear : true,
				yearRange : "-100:+0"
			});
		});
		
		$(function(){
			$("#generarCupon1").click(function(){
				var preferencias = $("")
			});
		});
		//]]>
	</script>
</h:head>
<h:body style="padding-top: 0px;">
	
	<h:inputHidden value="#{registroBean.init()}"></h:inputHidden>
	<h:inputHidden id="urlRedirecItem" value="#{registroBean.urlRedirect}"></h:inputHidden>
	
	<ui:include src="header.xhtml">
		<ui:param name="id" value="#{registroBean.campania}"></ui:param>
		<ui:param name="emp" value="#{registroBean.empresa}"></ui:param>
	</ui:include>
	<h:form id="formGenerarCupon">
		<div id="container">
			<div id="row">
					<h:panelGroup rendered="#{registroBean.registrado}">
						<center>
							<h1>¡Felicidades!</h1>
							<p>Te has registrado correctamente.</p>
							<p>Se enviará un cupón a tu correo.</p>
							
							 <script type="text/JavaScript">
								//<![CDATA[		
									var url = $( "#urlRedirecItem" ).val();
								   setTimeout("location.href = '" + url +"';", 10000);
			                  //]]>
                			</script>
                
						</center>
					</h:panelGroup>
					<h:panelGroup rendered="#{registroBean.unsubscribe}">
						<center>
							<h1>Sin suscripción</h1>
							<p>Usted ya ha cancelado su suscripción.</p>

						</center>
					</h:panelGroup>
				<h:panelGroup  rendered="#{not registroBean.unsubscribe and not registroBean.registrado and not empty registroBean.cliente.hash}">
					<div class="row">
						<div class="col-md-12">
							<br />
						</div>
						<div class="offset-lg-4 col-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 offset-xs-0">
							<div class="col-md-12">
								<div class="lightGreyBg">
									<center>
										<h4 class="word-wrap: break-word;">#{registroBean.nuevo.seccion1}</h4>
									</center>
								</div>
								<div class="form-group" id="nombre">
									 <label for="exampleInputEmail1">Nombre</label>
									 <h:inputText styleClass="form-control" id="input_nombre" name="nombre" value="#{registroBean.cliente.nombre}"></h:inputText>
									 <small id="emailHelp" class="form-text text-muted">Primer nombre.</small>
								</div>
								<div class="form-group" id="apellido">
									 <label for="exampleInputEmail1">Apellido</label>
									<h:inputText styleClass="form-control" id="input_apellido" name="nombre" value="#{registroBean.cliente.apellidoP}"></h:inputText>
									 <small id="emailHelp" class="form-text text-muted">Primer nombre.</small>
								</div>
								<div class="form-group">
									 <label for="exampleInputEmail1">Rut</label>
									<h:inputText id="rut" styleClass="form-control" name="rut" maxlength="10" value="#{registroBean.rut[0]}"></h:inputText>
									 <small id="emailHelp" class="form-text text-muted">Primer nombre.</small>
								</div>
								<div id="FechaNacimiento" class="form-group">
									 <label for="exampleInputEmail1">Fecha Nacimiento</label>
									<h:inputText styleClass="form-control" name="nacimiento"
										 readonly= "#{facesContext.renderResponse}" id="fechaNac" value="#{registroBean.fechaNacimiento}"></h:inputText>
									 <small id="emailHelp" class="form-text text-muted">Primer nombre.</small>
								</div>
								<div id="email" class="form-group">
									 <label for="exampleInputEmail1">Email</label>
									<h:inputText styleClass="form-control" name="mail" value="#{registroBean.cliente.mail}"></h:inputText>
									 <small id="emailHelp" class="form-text text-muted">Primer nombre.</small>
								</div>
								
								<!-- <div class="fields" >
								<div class="col-sm-12 col-lg-6 alto">
									<div id="nombre" class="form-group has-feedback column">
										<div >
											<h:outputText value="Nombre * "></h:outputText>
											
										</div>
									</div> 
								</div>
								
								<div class="col-sm-12 col-lg-6 alto">	
									<div id="apellido" class="form-group has-feedback column">
										<div >
											<h:outputText value="Apellido * "></h:outputText>
										</div>
									</div>
								</div>
								
								</div>
								<h:panelGroup rendered="${false}">
								<h:panelGroup class="form-check" >
								  <h:selectBooleanCheckbox class="form-check-input" value="#{registroBean.extranjero}" id="defaultCheck1"> 
								  	<f:ajax render="formGenerarCupon:Extranjero formGenerarCupon:CampoRut"></f:ajax>
								  </h:selectBooleanCheckbox>
								  <label class="form-check-label" for="formGenerarCupon:defaultCheck1">
								    Extranjero
								  </label>
								</h:panelGroup>
								</h:panelGroup>
								<h:panelGroup layout="block" id="Extranjero" rendered="#{false}" >
									<h:panelGroup layout="block"  rendered="#{registroBean.extranjero}">
										<div class="col-lg-12 alto">
										<h:outputText value="Pasaporte"></h:outputText>
										<h:inputText styleClass="form-control" name="ID"
											 id="Id" value="#{registroBean.idExtranjero}"></h:inputText>
										</div>
									</h:panelGroup>
								</h:panelGroup>
								
								<h:panelGroup layout="block" id="CampoRut" >
								<h:panelGroup layout="block" class="col-lg-12" id="rutHeader" style="max-height: 26px;
   												 margin-top: 12px;">
								<h:outputText value="Rut * "></h:outputText>
								</h:panelGroup>
								
								<h:panelGroup layout="block" class="col-lg-12"  style="height: 42px;" rendered="#{!registroBean.extranjero}">
									
									
									<table width="100%"><tr> 
									<td width="85%"></td>
									<td width="5%"><center>-</center></td>
									<td width="10%"><h:inputText styleClass="form-control" name="dv" size="1"
											maxlength="1" id="dv" value="#{registroBean.rut[1]}"></h:inputText></td>
									</tr></table>
								</h:panelGroup>
								</h:panelGroup>
								
								
								<div  class="form-group">
									<div class="col-lg-12 alto">
									<h:outputText value="Fecha Nacimiento * "></h:outputText>
									
									</div>
								</div>
								 
								<div id="email" class="form-group">
									<div class="col-lg-12 alto">
									<h:outputText value="E-mail * "></h:outputText>
									<h:inputText styleClass="form-control" name="mail" value="#{registroBean.cliente.mail}"></h:inputText>
									</div>
								</div>
								-->
								
									<ui:repeat value="#{registroBean.camposCampania}" var="cam" varStatus="myVarStatus">
										<div id="email" class="form-group">
											<h:outputText value="#{cam.campo.label}"></h:outputText>
											<h:inputText value="#{cam.valorCliente}"  styleClass="form-control" ></h:inputText>
										</div>
										<!-- <div class="col-lg-12 alto">
											<div  class="form-group"> 
											</div> 
										</div>-->
									 </ui:repeat>
								<!-- <h:panelGroup layout="block" class="col-lg-12"  style="height: 42px;" rendered="#{registroBean.eCommerce}">
									<div id="sexo" class="form-group">
										<div class="col-lg-12 alto">
											<h:outputText value="Sexo * "></h:outputText>
											<h:selectOneRadio class="radioSexo" value="#{registroBean.cliente.sexo}">
											   	<f:selectItem itemValue="HOMBRE" itemLabel="Hombre" />
											   	<f:selectItem itemValue="MUJER" itemLabel="Mujer" />
											</h:selectOneRadio>
										</div>
									</div>
								</h:panelGroup>  -->
								
							</div>
							<!-- <div class="col-md-12">
								<br />
							</div> -->
							<!-- <div class="col-md-12"> -->
								<h:panelGroup rendered ="#{registroBean.nuevo.flags2}">
								<div class="col-lg-12">
									<div class="lightGreyBg">
										<center>
											<h4 class="word-wrap: break-word;"> #{registroBean.nuevo.seccion2}</h4>
										</center>
									</div>
									<div class="">
											
											<div class=" funkyradio ">
											<ui:repeat varStatus="row" id="categorias" var="cat" value="#{registroBean.listaCategoria}">
													<div class="funkyradio-success " >
														<h:selectBooleanCheckbox name="checkbox" id="checkbox" class="checkboxListItem" value="#{cat.seleccionado}"  /> 
														<label 	for="formGenerarCupon:categorias:#{row.index}:checkbox" class="checkPreferencias">#{cat.texto}</label>
													</div>  
												</ui:repeat>
											</div>
									</div>
								</div>
								</h:panelGroup>
							<!--	
								<div class="col-xs-12">
									<br />
								</div>
							 </div> -->
	
	
							<div class="col-sm-12">
								<h:panelGroup rendered ="#{registroBean.nuevo.flags3}">
								<div class="lightGreyBg">
									<center>
										<h4 class="word-wrap: break-word;">#{registroBean.nuevo.seccion3}</h4>
									</center>
								</div>

								
								<center>
									<div class="rate-panel" id="rateYo"></div>
								</center>
								<h:inputHidden id="rateYoValue" value="#{registroBean.cliente.experiencia}"></h:inputHidden>
								</h:panelGroup>
								
								<h:inputHidden id="flag2" value="#{registroBean.nuevo.flags2}"></h:inputHidden>
								<h:inputHidden id="flag3" value="#{registroBean.nuevo.flags3}"></h:inputHidden>
								
								<div class="col-lg-12">
									<div style="text-align: justify;font-size: 11px;">
								
								#{registroBean.nuevo.condiciones}
										
										</div>
								</div>
								<div class="col-md-12">
									<br />
								</div>
								<div class="col-md-12">
									<center>
										<h:selectBooleanCheckbox id="aceptarCondiciones" value="#{registroBean.condiciones}"></h:selectBooleanCheckbox>
										Aceptar Condiciones
									</center>
								</div>
								<div class="col-md-12">
									<br />
								</div>
								
								<div class="col-md-12">
									<center>
										<h:commandButton class="btn oculto" style="display:none" id="generarCuponValidado"  >
											<f:ajax render="@form" execute="@form" listener="#{registroBean.ingresarCliente()}" onevent="validarFormulario"></f:ajax>
										</h:commandButton>
										
										<h:commandButton class="btn btn-primary btn-lg btn-block" type="button"
											value="#{registroBean.nuevo.boton}" id="generarCupon1">
										</h:commandButton>		
										<h:inputHidden id="formulariovalidado" value="#{registroBean.validado}"></h:inputHidden>
									</center>
								</div>
								

									<!-- Modal -->
									<h:panelGroup layout="block" id="modalContainer">
									<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="exampleModalLabel">Ups! encontramos algunos problema al enviar tu información</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body">
									      	<ul id="listaError">
									      		<ui:repeat var="m" value="#{registroBean.mensajes}">
									       			<li> #{m.mensaje}</li>
									       		</ui:repeat>
									      	</ul>
									      </div>
									    </div>
									  </div>
									</div>
								</h:panelGroup>
							</div>
						</div>
					</div>
				</h:panelGroup>	
				<h:panelGroup  rendered="#{empty registroBean.cliente.hash}">
					<center>Cliente sin información</center> 
				</h:panelGroup>				
			</div>
		</div>
	</h:form>
	
	<!-- Button trigger modal -->
<button id="modalLauncher" type="button" style="display:none;" class="oculto" data-toggle="modal" data-target="#exampleModal">

</button>
	<script>
	//<![CDATA[	
	function validarFormulario(data) {
		if(data.status == "begin"){
				//$( "#frmSolicitud\\:_preGuardar" ).removeClass( "hide" );
		}else if(data.status == "success"){
													//$( "#frmSolicitud\\:_preGuardar" ).addClass( "hide" );
						
			var validado = $("#formGenerarCupon\\:formulariovalidado").val();		
			
			if(validado == "false"){
				
				$("#modalLauncher").click();
				iniciarBoton();
			}else{
				var url = $( "#urlRedirecItem" ).val();
				setTimeout("location.href = '" + url +"';", 10000);
			}					
		}
	}
	
	function iniciarBoton(){
		$("#formGenerarCupon\\:generarCupon1").click(function(){
			if (validar()) {
				$("#formGenerarCupon\\:generarCuponValidado").click();
			}else{
				$("#modalLauncher").click();
			}
			
		});
			
		}
		
	
	$( document ).ready(function() {
	
			var flag3rate = $("#formGenerarCupon\\:flag3").val();
			console.log("flag3:" + flag3rate);
			if(flag3rate){
				$("#rateYo").rateYo({
				starWidth: "50px",
				rating: rate,
				fullStar: true,
				ratedFill: "#ffd85f",
				normalFill: "#2C3E50",
				});
				
				
			}
	
		iniciarBoton();


	

			/*$("#formGenerarCupon\\:rut").keydown(function (e) {

						// Allow: backspace, delete, tab, escape, enter and .
			        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
			             // Allow: Ctrl+A, Command+A
			            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
			             // Allow: home, end, left, right, down, up
			            (e.keyCode >= 35 && e.keyCode <= 40) ) {
			                 // let it happen, don't do anything
			                 return;
			        }
			        // Ensure that it is a number and stop the keypress
			        if (((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) ) {
			            e.preventDefault();
			        }
				
	
		        
		   	 });
		   	 
		   	 $("#formGenerarCupon\\:dv").keydown(function (e) {
				
						// Allow: backspace, delete, tab, escape, enter and .
			        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
			             // Allow: Ctrl+A, Command+A
			            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
			             // Allow: home, end, left, right, down, up
			            (e.keyCode >= 35 && e.keyCode <= 40) ) {
			                 // let it happen, don't do anything
			                 return;
			        }
			        // Ensure that it is a number and stop the keypress
			        if (((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode == 85))) {
			            e.preventDefault();
			        }
				
				
		        
		   	 });*/
		
			});
		
		 var rate=$("#formGenerarCupon\\:rateYoValue").val();

			
		//var namePattern = "^[a-z A-Z]{1,30}$";
		var namePattern = "^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1 ]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1 ]+$"
		var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
		var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
		var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
		var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
		var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
		var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
		var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
		
		
		var html = "";
		function validar(){
			html = "";
			var condiciones = $("#formGenerarCupon\\:aceptarCondiciones").is(":checked");
	        
	        var rutCliente = $("#formGenerarCupon\\:rut").val();
	        var dvCliente = $("#formGenerarCupon\\:dv").val();
	        
	        var flag2 = $("#formGenerarCupon\\:flag2").val();
	        var flag3 = $("#formGenerarCupon\\:flag3").val();
	        console.log("flag categorias : " + flag2);
	       
			
			var validado = true;
			
			
			if (!checkInput("#nombre",namePattern))
			{
				html= html + "<li>Debe ingresar un nombre válido</li>";
				if(validado){validado = false;}
			}
			
			if (!checkInput("#apellido",namePattern))
			{
				html= html + "<li>Debe ingresar un apellido válido</li>";
				if(validado){validado = false;}
			}	
			
			/*if( $('#formGenerarCupon\\:defaultCheck1').is(':checked') ) {
				if (!checkNotNull("#formGenerarCupon\\:Extranjero"))
				{
					html= html + "<li>Debe ingresar un id</li>";
					if(validado){validado = false;}
				}
			}else{*/	
				/*if (!validarRut(rutCliente, dvCliente))
				{
					html= html + "<li>Debe ingresar un rut válido</li>";
					if(validado){validado = false;}
				}*/
	/*		}*/
			
			if(!checkInputDate("#FechaNacimiento",datePattern))
			{
				if(validado){validado = false;}
			}
			
			if(!checkInput("#email",emailPattern))
			{
				
				if(validado){validado = false;}
				html= html + "<li>Debe ingresar un correo electronico válido</li>";
			}
			
			if(flag2 != 'false'){	
				
				if(checkSelectedCheckbox(".checkboxListItem"))
				{
					html= html + "<li>Debe seleccionar al menos una categoria</li>";
					if(validado){validado = false;}
				}
			}
			if(flag3){		
				var rate = $("#rateYo").rateYo("option", "rating");
				
				if(rate <1 )
				{
					if(validado){validado = false;}
					html= html + "<li>Debe evaluar su experiencia de compra</li>";
				}
			}
			
			if(!condiciones)
			{
				if(validado){validado = false;}
				html= html + "<li>Debe aceptar las condiciones</li>";
			} 
			$("#listaError").html(html)
				if(flag3){		
			$("#formGenerarCupon\\:rateYoValue").val(rate);
				}
				
				console.log(validado);

			return validado;

		}	
		
		function checkNotNull(idInput) {
			
			if($(idInput + " input").val() != null && $(idInput + " input").val() != ""){
				$(idInput).removeClass("has-error");
				$(idInput).addClass("has-success");
				$(idInput + " input").removeClass("has-error");
				$(idInput + " input").addClass("has-success");
				return true;
			}else{
				$(idInput).removeClass("has-success");
				$(idInput).addClass("has-error");
				$(idInput + " input").addClass("has-error");
				$(idInput + " input").removeClass("has-success");
				return false;
			}
		}
		
		
		function checkSelectedCheckbox(classInput) {
			var invalido = true;
			$(classInput + ":checked").each(
			    function() {
			        invalido = false
			    }
			);
			return invalido;
		}

		function checkInput(idInput, pattern) {
			
			console.log(idInput + ": " +$(idInput + " input").val());
			if($(idInput + " input").val().match(pattern)){
				$(idInput).removeClass("has-error");
				$(idInput).addClass("has-success");
				return true;
			}else{
				$(idInput).removeClass("has-success");
				$(idInput).addClass("has-error");
				return false;
			}
		}
		
		function checkInputDate(idInput, pattern) {
			var date = $(idInput + " input").val()

			if(date.match(pattern)){
				$(idInput).removeClass("has-error");
				$(idInput).addClass("has-success");
				return true;
			}else{
				$(idInput).removeClass("has-success");
				$(idInput).addClass("has-error");
				html= html + "<li>Debe indicar una fecha de nacimiento valida</li>";
				return false;
			}
		}

		function checkTextarea(idText) {
			return $(idText).val().length > 12 ? true : false;	
		}

		function checkRadioBox(nameRadioBox) {
		  return $(nameRadioBox).is(":checked") ? true : false;
		}

		function checkSelect(idSelect) {
			return $(idSelect).val() ? true : false;
		}

		function enableSubmit (idForm) {
			$(idForm + " button.submit").removeAttr("disabled");
		}

		function disableSubmit (idForm) {
			$(idForm + " button.submit").attr("disabled", "disabled");
		}


		function validarRut(rutCliente, dvCliente){
			if(rutCliente.length >8 && rutCliente.length < 7)
			{
				return false;
			}else{
				var rutCompleto = rutCliente + "-" + dvCliente ;
				rutCompleto = rutCompleto.replace("‐","-");
			      if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test( rutCompleto )){
			      	$("#rut").removeClass("has-success");
					$("#rut").addClass("has-error");
					$("#dv").removeClass("has-success");
					$("#dv").addClass("has-error");
			    	  return false;
			      }
			        
			        $("#rut").addClass("has-success");
					$("#rut").removeClass("has-error");
					$("#dv").addClass("has-success");
					$("#dv").removeClass("has-error");
			        var tmp     = rutCompleto.split('-');
			        var digv    = tmp[1]; 
			        var rut     = tmp[0];
			        if ( digv == 'K' ) digv = 'k' ;
			        
			        return (dv(rut) == digv);
			}
			
		}
		function dv(T){
	        var M=0,S=1;
	        for(;T;T=Math.floor(T/10))
	            S=(S+T%10*(9-M++%6))%11;
	        return S?S-1:'k';
	    }
	    
	//]]>
	</script>


	
	
	<ui:include src="footer.xhtml"></ui:include>
</h:body>
</html>