<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
		<ui:include src="headerImport.xhtml" />
</h:head>
<h:body>
	<h:inputHidden value="#{repClienteBean.init()}"></h:inputHidden>
	<ui:include src="headerAdm.xhtml"></ui:include>
	
						<!-- Tabla de archivos cargados -->
		<h:panelGroup layout="block" class="container2" >
			
				<h:form id="formulario">
					<h:panelGroup layout="block" class="col-sm-12">
						<h:panelGroup layout="block" class="col-sm-12">
						<legend>Clientes Registrados </legend>
						<hr/>
						</h:panelGroup>
						 
						<h:panelGroup layout="block" class="col-sm-12">
							<h:panelGroup layout="block" class="row">
							<h:panelGroup layout="block" class="col-sm-2">
							<h:panelGroup layout="block" class="form-group" id="SelectOneTienda">
										<h:outputLabel for="nombre" value="Seleccionar tienda"></h:outputLabel>
						                <h:selectOneListbox size="1" id="selectTipoTiendaVendedor" value="#{repClienteBean.tienda}" class="custom-select" >
											<f:selectItem itemLabel="Seleccionar Tipo de Tienda" itemValue="0"></f:selectItem>
											<f:selectItems value="#{repClienteBean.tiendas}" var="t"
												itemLabel="#{t.nombre}" itemValue="#{t.id}"></f:selectItems>
											 
										</h:selectOneListbox>	
										<small  class="form-text text-muted">Tienda</small>	
						         </h:panelGroup>
							</h:panelGroup>
							
						
						<h:panelGroup layout="block" class="col-sm-2">
							<h:panelGroup layout="block" class="panel-group">
								<h:outputLabel  value="Desde: "></h:outputLabel>
								<h:inputText value="#{repClienteBean.desde}" styleClass="form-control" a:placeholder="Desde" id="desde" readonly= "#{facesContext.renderResponse}" ></h:inputText>
								<small  class="form-text text-muted">Rango de fechas (dd/mm/yyyy)</small>	
							</h:panelGroup>
						</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-2">
							<h:panelGroup layout="block" class="panel-group">
								<h:outputLabel  value="Hasta: "></h:outputLabel>
								<h:inputText value="#{repClienteBean.hasta}"  styleClass="form-control" a:placeholder="Hasta" id="hasta" readonly= "#{facesContext.renderResponse}" ></h:inputText>
								<small  class="form-text text-muted">Rango de fechas (dd/mm/yyyy)</small>	
							</h:panelGroup>
						</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-6">
						</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-10">
						</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-2">
						
							<h:commandButton class="btn btn-primary" id="crearCategoriaConfirmado" value="Buscar">
							<f:ajax listener="#{repClienteBean.buscar}"	render="@form"  execute="@form" onevent="reloadTbl"></f:ajax>
						</h:commandButton>
						</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-12">
							<hr/>
							</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-12">
						<h:panelGroup layout="block" id="detalle">
									<table   id="detalleClientes" class="display nowrap table-hover">
								<thead>
									
									<td>Tienda</td>
									<td>Vendedor</td>
									<td>Nombre</td>
									<td>Apellido</td>
									<td>Rut</td>
									<td>Fecha Nacimiento</td>
									<td>Email</td>
									<td>Sexo</td>
									<td>Experiencia de compra</td>
									<td> Encolado</td>
									<td>Actualización</td>
									<td>Cancelado</td>
									<ui:repeat var="ad" value="#{repClienteBean.camposAdicionales}"  >
										<td>
											<h:outputText value="#{ad.campo.label}"></h:outputText>	
										</td>
									</ui:repeat>
									<ui:repeat var="ad" value="#{repClienteBean.allCategorias}"  >
										<td>
											<h:outputText value="#{ad.texto}"></h:outputText>	
										</td>
									</ui:repeat>				
									
								</thead>
								<tbody>
									<ui:repeat var="cliente" value="#{repClienteBean.clientes}" id="listaCargaMasiva" varStatus="status">
										<tr>
										
											<td>
												<h:outputText value="#{cliente.tienda.nombre}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{cliente.vendedor.nombre} #{cliente.vendedor.apellido}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{cliente.nombre}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{cliente.apellidoP}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{cliente.rut}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{cliente.fechaNacFormateada}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{cliente.mail}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{cliente.sexo}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{cliente.experiencia}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{cliente.fecha_envio}"></h:outputText>
											</td>
											<td>
												<h:outputText value="#{cliente.fecha_actualizacion}"></h:outputText>
											</td>
											<td>
												<center>
												<h:outputText rendered="#{cliente.unsubscribe eq 1}" value="#{cliente.fechaUnsubscribeStr}"></h:outputText>
												</center>
											</td>
												
												<ui:repeat var="ad" value="#{cliente.adicionalesReporte}"  varStatus="ad_status">
													<td>
														<h:outputText value="#{ad.valorIngresado}"></h:outputText>	
													</td>
												</ui:repeat>
												
													  <ui:repeat var="sel" value="#{cliente.categoriasReporte}"  >
															  	<h:panelGroup rendered="#{sel.seleccionado}">
																	<td><center>x  </center></td>
																</h:panelGroup>
																	<h:panelGroup rendered="#{not sel.seleccionado}">
																	<td> </td>
																</h:panelGroup>	
														</ui:repeat>
													
												 
											</tr>
									</ui:repeat>
								</tbody>
							</table>
						</h:panelGroup>	
						</h:panelGroup>
					</h:panelGroup>
					</h:form>
				
		</h:panelGroup>
	<script>
	/* <![CDATA[ */
		function reloadTbl(data) {
			if (data.status == "begin") {
				 on();
			}
			if (data.status == "complete") {

			}
			if (data.status == "success") {
				inicializar();
				 off();
			}
		}
		
		$(document).on('ready', function() {
			inicializar();
		});
		
		function inicializar(){
			$("#detalleClientes").DataTable({
				dom: 'Bfrtip',
		        buttons: [
		        	{
		                extend: 'excel',
		                text: 'Exportar',
		                title:'Resumen Registros'

		            }
		        	],
		        "scrollX": true,
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
				"responsive" : true,
				"searching" : true,
				"ordering" : true,
				"bLengthChange" : true,
				 "pageLength": 50,
				"language" : {
					"lengthMenu" : "Ver _MENU_ Registros por pagina",
					"zeroRecords" : "Ningun Registro Encontrado",
					"info" : "Visualizando _PAGE_ de _PAGES_",
					"infoEmpty" : "Sin Registros",
					"infoFiltered" : "(De un Total de _MAX_ Registros)",
					"sSearch" : "Buscar:",
					"oPaginate" : {
						"sFirst" : "Primero",
						"sLast" : "Último",
						"sNext" : "Siguiente",
						"sPrevious" : "Anterior"
					}
				}
			});

		    $( "#formulario\\:desde" ).datepicker({
		    	dateFormat: "dd/mm/yy",
		    	maxDate: new Date()
		    });
		    $( "#formulario\\:hasta" ).datepicker({
		    	dateFormat: "dd/mm/yy",
		    	maxDate: new Date()
		    });
			 
		}
	/* ]]> */
	</script>

</h:body>
</html>
