<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<ui:include src="headerImport.xhtml" />	
	<script src="js/fidelizacion/formValidate.js"></script>
</h:head>
<h:body>
	<ui:include src="headerAdm.xhtml"></ui:include>
	<h:form id="dashboard">
		<h:panelGroup layout="block" class="container" >
		<!-- Panel de mensajes -->
			<h:panelGroup layout="block" id="mensajes" class="row">
				<h:panelGroup layout="block" id="msgBox" class="container">
					<h:panelGroup layout="block" class="msg-box">
						<ui:repeat var="msg" id="rep" varStatus="status" value="#{campaniaBean.mensajes}">
							<h:panelGroup layout="block" id="panelMensaje" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':msg.tipo == 'INFO'?'alert-info':''}">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<h4 class="alert-heading">#{msg.titulo}</h4>
								<h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
							</h:panelGroup>
							<script type="text/javascript">
								/* <![CDATA[ */
									//$(document).on('ready', function() {
										$( "#campania\\:rep\\:#{status.index}\\:panelMensaje" ).delay( 8000 ).slideUp( 800 );
									//});
								/* ]]> */
							</script>
						</ui:repeat>
					</h:panelGroup>
				</h:panelGroup>
			</h:panelGroup>
		<!-- FIN panel de mensajes -->
			<h:panelGroup layout="block" class="row">
				Empresas
			</h:panelGroup>
		</h:panelGroup>
		
		</h:form>
	</script>
</h:body>
</html>
