<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
		<ui:include src="headerImport.xhtml" />
</h:head>
<h:body>
	
	
						<!-- Tabla de archivos cargados -->
		<h:panelGroup layout="block" class="container" >
			
				<h:form id="formulario">
					<h:panelGroup layout="block" class="col-sm-12">
						<h:panelGroup layout="block" class="col-sm-12">
						<legend>Clientes Registrados </legend>
						<hr/>
						</h:panelGroup>
						 
						<h:panelGroup layout="block" class="col-sm-12">
							<h:panelGroup layout="block" class="row">
							
							
						
						
						
						<h:panelGroup layout="block" class="col-sm-6">
						</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-10">
						</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-2">
						
					
						</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-12">
							<hr/>
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
						<h:panelGroup layout="block" class="col-sm-12">
						
						
						
						<h:panelGroup layout="block" class="col-sm-6">
								<center><h5></h5></center>
								<canvas id="stats" width="400" height="400"></canvas>
								
								<script>
									/* <![CDATA[ */
									 
									
									new Chart(document.getElementById("stats"),
									{"type":"line","data":{"labels":["January","February","March","April","May","June","July"],
														   "datasets":[{"label":"My First Dataset","data":[65,59,80,81,56,55,40]}]},
									"options":{}});
									
									/* ]]> */
								</script>
							</h:panelGroup>
						
						</h:panelGroup>
					</h:panelGroup>
					</h:form>
				
		</h:panelGroup>
	<script>
	/* <![CDATA[ */
		function reloadTbl(data) {
			if (data.status == "begin") {
				 on();
			}
			if (data.status == "complete") {

			}
			if (data.status == "success") {
				inicializar();
				 off();
			}
		}
		
		$(document).on('ready', function() {
			inicializar();
		});
		
		function inicializar(){
			$("#detalleClientes").DataTable({
				dom: 'Bfrtip',
		        buttons: [
		        	{
		                extend: 'excel',
		                text: 'Exportar',
		                title:'Resumen Registros'

		            }
		        	],
				"searching" : false,
				"bLengthChange" : true,
				 "pageLength": 50,
				"language" : {
					"lengthMenu" : "Ver _MENU_ Registros por pagina",
					"zeroRecords" : "Ningun Registro Encontrado",
					"info" : "Visualizando _PAGE_ de _PAGES_",
					"infoEmpty" : "Sin Registros",
					"infoFiltered" : "(De un Total de _MAX_ Registros)",
					"sSearch" : "Buscar:",
					"oPaginate" : {
						"sFirst" : "Primero",
						"sLast" : "Último",
						"sNext" : "Siguiente",
						"sPrevious" : "Anterior"
					}
				}
			});

		    $( "#formulario\\:desde" ).datepicker({
		    	dateFormat: "dd/mm/yy",
		    	maxDate: new Date()
		    });
		    $( "#formulario\\:hasta" ).datepicker({
		    	dateFormat: "dd/mm/yy",
		    	maxDate: new Date()
		    });
			 
		}
	/* ]]> */
	</script>

</h:body>
</html>
