<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<ui:include src="headerImport.xhtml" />
	<script src="js/fidelizacion/formValidate.js"></script>
	<script>
		/* <![CDATA[ */
		
		
		function reloadTblTienda(data) {
			if (data.status == "begin") {
				on();
			}
			if (data.status == "complete") {

			}
			if (data.status == "success") {
				
				inicializarTienda();
				off();
			}
		}
		
		function reloadTblVendedor(data) {
			if (data.status == "begin") {
				on();
			}
			if (data.status == "complete") {

			}
			if (data.status == "success") {
				inicializarVendedor();
				off();
			}
		}
		
		$(document).on('ready', function() {
			inicializarTienda();
			inicializarVendedor();
		});
					
		function inicializarTienda() {
		
		$("#detalleCargaVendedores").DataTable({
			responsive : false,
			"searching" : false,
			"ordering" : false,
			"bLengthChange" : false,
			"language" : {
				"lengthMenu" : "Ver _MENU_ Registros por pagina",
				"zeroRecords" : "Ningun Registro Encontrado",
				"info" : "Visualizando _PAGE_ de _PAGES_",
				"infoEmpty" : "Sin Registros",
				"infoFiltered" : "(De un Total de _MAX_ Registros)",
				"sSearch" : "Buscar:",
				"oPaginate" : {
					"sFirst" : "Primero",
					"sLast" : "Último",
					"sNext" : "Siguiente",
					"sPrevious" : "Anterior"
				}
			}
		});
		
		
		
		
		
		}
		
		function inicializarVendedor(){
			$("#detalleVendedores").DataTable({
				responsive : false,
				"searching" : false,
				"ordering" : false,
				"bLengthChange" : false,
				"language" : {
					"lengthMenu" : "Ver _MENU_ Registros por pagina",
					"zeroRecords" : "Ningun Registro Encontrado",
					"info" : "Visualizando _PAGE_ de _PAGES_",
					"infoEmpty" : "Sin Registros",
					"infoFiltered" : "(De un Total de _MAX_ Registros)",
					"sSearch" : "Buscar:",
					"oPaginate" : {
						"sFirst" : "Primero",
						"sLast" : "Último",
						"sNext" : "Siguiente",
						"sPrevious" : "Anterior"
					}
				}
			});
		
		}
		
		function validarTienda(){		
		
			var namePattern = "^[a-z A-Z]{1,30}$";
			var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
			var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
			var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
			var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
			var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
			var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
			var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
		
			
			var mensaje = "";
			
			var valido = true;	
			//Check #nombre
			if(!checkNotNull( "#tiendaVendedor\\:nombre-tienda"))
			{
				mensaje += "<li>Debes indicar el nombre de la tienda</li>";
				if(valido){valido=false}
			}
			console.log(mensaje)
			//Check #ubicacion
			if(!checkNotNull( "#tiendaVendedor\\:ubicacion-tienda"))
			{
				mensaje += "<li>Debes indicar la ubicacion de la tienda</li>";
				if(valido){valido=false}
			}
			console.log(mensaje)
			if(!checkSelectOne("#tiendaVendedor\\:tipo-tienda"))
			{
				mensaje += "<li>Debes seleccionar el tipo de la tienda que quieres crear</li>";
				if(valido){valido=false}
			}
			
			if(!valido)
			{
				printMensaje(mensaje,  "#tiendaVendedor\\:msgs" )
			}
			return valido;
		}
		
		function validarVendedor(){		
		
			var namePattern = "^[a-z A-Z]{1,30}$";
			var emailPattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$";
			var datePattern = "^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.][0-9]{4})$";
			var urlPattern = "/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \?=.-]*)*\/?$/";
			var contrasenaPattern = "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$";
			var telefonoPattern = "^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$";
			var tcreditoPattern = "^((67\d{2})|(4\d{3})|(5[1-5]\d{2})|(6011))(-?\s?\d{4}){3}|(3[4,7])\ d{2}-?\s?\d{6}-?\s?\d{5}$ ";
			var codigoPostalPattern ="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$";
		
			var mensaje = "";
			
			var valido = true;	
			
			//Check #Tienda
			if(!checkSelectOne("#tiendaVendedor\\:SelectOneTienda"))
			{
				mensaje += "<li>Debes <b>seleccionar la tienda</b> a la cual pertenecerá el vendedor.</li>";
				if(valido){valido=false}
			}
			//Check #nombre
			if(!checkNotNull( "#tiendaVendedor\\:nombre-vendedor"))
			{
				mensaje += "<li>Debes indicar el <b>nombre</b> del vendedor</li>";
				if(valido){valido=false}
			}

			//Check #ubicacion
			if(!checkNotNull( "#tiendaVendedor\\:apellido-vendedor"))
			{
				mensaje += "<li>Debes indicar el <b>apellido</b> del vendedor</li>";
				if(valido){valido=false}
			}
			
			//Check #Rut
			if(!checkInputRut( "#tiendaVendedor\\:rut-vendedor"))
			{
				mensaje += "<li>Debes indicar un <b>Rut valido</b></li>";
				if(valido){valido=false}
			}
			
			
			if(!valido)
			{
				printMensaje(mensaje,  "#tiendaVendedor\\:msgs" )
			}
			return valido;
		}
		
		function printMensaje(mensaje, msgPanel)
		{
		
			var panel = "<div class='col-sm-12'>" +
						"<div class='alert alert-dismissible alert-danger'>" +
						"  <button type='button' class='close' data-dismiss='alert'>&times;</button> <strong>Oh! hay un problema en tu formulario!</strong>"+
						"<ul>" +
						mensaje
						"</ul>" +
						"</div>"+
						"</div>";
						
			$(msgPanel).html(panel);
		}
		
			
		/* ]]> */
	</script>

</h:head>
<h:body>
	<h:inputHidden value="#{tiendaVendedorBean.init()}"></h:inputHidden>
	<ui:include src="headerAdm.xhtml"></ui:include>
<h:form id="tiendaVendedor">
	<h:panelGroup layout="block" class="container">
		<!-- Panel de mensajes -->
				<h:panelGroup id="msgs" layout="block" class="row">
					<h:panelGroup layout="block" class="container">
						<ui:repeat var="msg" value="#{tiendaVendedorBean.mensajes}">
							<h:panelGroup layout="block" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':''}">
				                <button type="button" class="close" data-dismiss="alert">×</button>
				                <h4 class="alert-heading">#{msg.titulo}</h4>
				                <h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
				            </h:panelGroup>
						</ui:repeat>
					</h:panelGroup>
				</h:panelGroup>
		<!-- FIN panel de mensajes -->
		<h:panelGroup layout="block" class="row">

<h:panelGroup layout="block" class="col-sm-12">
<legend>Administrar Tienda / Vendedor </legend>
<hr/>
</h:panelGroup>

			<h:panelGroup layout="block" class="col-sm-12">



				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="home-tab"
						data-toggle="tab" href="#home" role="tab" aria-controls="home"
						aria-selected="true">Tienda</a></li>
					<li class="nav-item"><a class="nav-link" id="profile-tab"
						data-toggle="tab" href="#profile" role="tab"
						aria-controls="profile" aria-selected="false">Vendedores</a></li>

				</ul>
				
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<h:panelGroup layout="block" class="row">
						<h:panelGroup layout="block"  rendered="#{tiendaVendedorBean.usuario.perfil.nombre == 'Administrador' || tiendaVendedorBean.usuario.perfil.nombre == 'AdministradorEmpresa'}">
							<h:panelGroup layout="block" class="col-sm-3" >
								<h:panelGroup layout="block" class="form-group" id="nombre-tienda">
									<h:outputLabel for="nombre" value="Nombre "></h:outputLabel>
									<h:inputText a:placeholder="Nombre" class="form-control" id="nombre" value="#{tiendaVendedorBean.nuevo.nombre}"></h:inputText>
									<small  class="form-text text-muted">Nombre de la tienda</small>
								</h:panelGroup>
								<h:panelGroup layout="block" class="form-group" id="ubicacion-tienda">
									<h:outputLabel for="nombre" value="Ubicación "></h:outputLabel>
									<h:inputText a:placeholder="Ubicación" class="form-control" id="ubicacion" value="#{tiendaVendedorBean.nuevo.ubicacion}"></h:inputText>
									<small  class="form-text text-muted">Ubicación de la tienda.</small>
								</h:panelGroup>
								<h:panelGroup layout="block" class="form-group" id="tipo-tienda">
									<h:outputLabel for="nombre" value="Tipo"></h:outputLabel>
					                <h:selectOneListbox size="1" id="selectTipoTienda" value="#{tiendaVendedorBean.nuevo.tipo}" class="custom-select" >
										<f:selectItem itemLabel="Seleccionar Tipo de Tienda" itemValue="0"></f:selectItem>
										<f:selectItem itemLabel="Tienda" itemValue="TIENDA"></f:selectItem>
										<f:selectItem itemLabel="Outlet" itemValue="OUTLET"></f:selectItem>
									</h:selectOneListbox>	
									<small  class="form-text text-muted">Tipo de tienda.</small>	
					            </h:panelGroup>
							

								<h:commandButton  rendered="#{!tiendaVendedorBean.tiendaMod }" id="ingresarTiendaConfirmado" class="oculto" value="Ingresar" action="#{tiendaVendedorBean.addTienda()}">
								</h:commandButton>
								
								<h:commandButton rendered="#{!tiendaVendedorBean.tiendaMod  }" type="button" class="btn btn-primary btn-lg btn-block" id="ingresarTienda" value="Ingresar">
								</h:commandButton>
								
								<h:commandButton  rendered="#{tiendaVendedorBean.tiendaMod}" id="modificarTiendaConfirmado" class="oculto" value="Modificar">
									<f:ajax render="@form" execute="@form" listener="#{tiendaVendedorBean.modificarTienda()}" onevent="reloadTblTienda"></f:ajax>
								</h:commandButton>
								
								<h:commandButton rendered="#{tiendaVendedorBean.tiendaMod}" type="button" class="btn btn-info btn-lg btn-block" id="modificarTienda" value="Modificar">
								</h:commandButton>
								
								<h:commandButton  rendered="#{tiendaVendedorBean.tiendaMod}" class="btn btn-danger btn-lg btn-block" id="CancelarModificacion" value="Cancelar Modificacion">
									<f:ajax render="@form" execute="@form" listener="#{tiendaVendedorBean.salirModificacionTienda()}" onevent="reloadTblTienda"></f:ajax>
								</h:commandButton>
								

							</h:panelGroup>
						</h:panelGroup>
							<h:panelGroup layout="block" class="#{tiendaVendedorBean.usuario.perfil.nombre == 'Administrador' || tiendaVendedorBean.usuario.perfil.nombre == 'AdministradorEmpresa' ? 'col-sm-9': 'col-sm-12'}">
								<table id="detalleCargaVendedores" class="table table-hover">
									<thead>
										<td>Tipo</td>
										<td>Nombre</td>
										<td>Ubicacion</td>
										<td>Control</td>
									</thead>
									<tbody>
										<ui:repeat var="fileCarga"
											value="#{tiendaVendedorBean.tiendas}" id="listaTiendas"
											varStatus="status">
											<tr>
												<td><h:outputText value="#{fileCarga.tipo}"></h:outputText>
												</td>
												<td><h:outputText value="#{fileCarga.nombre}"></h:outputText>
												</td>
												<td><h:outputText value="#{fileCarga.ubicacion}"></h:outputText>
												</td>
												<td>
												<h:panelGroup layout="block" class="container" rendered="#{tiendaVendedorBean.usuario.perfil.nombre != 'Administrador' and tiendaVendedorBean.usuario.perfil.nombre != 'AdministradorEmpresa'}">
													<h:outputLabel value="Sin permisos para administrar Tiendas."></h:outputLabel>
												</h:panelGroup>	
												<h:panelGroup layout="block" class="container" rendered="#{tiendaVendedorBean.usuario.perfil.nombre == 'Administrador' or tiendaVendedorBean.usuario.perfil.nombre == 'AdministradorEmpresa'}">
													<h:panelGroup layout="block" class="row">
														<h:panelGroup layout="block" class="col-sm-2" >
															<center>
															<h:commandButton class="oculto btn" id="btnModificarConfirmado" >
																<f:param name="mod" value="#{fileCarga.id}" />
																<f:ajax render="@form" listener="#{tiendaVendedorBean.selectModificarTienda()}" onevent="reloadTblTienda"></f:ajax>
															</h:commandButton>
															<h:panelGroup layout="block" class="delete" id="btnModificar"><i class="fas fa-edit"></i></h:panelGroup>
															<script>
															/* <![CDATA[ */
																$('#tiendaVendedor\\:listaTiendas\\:#{status.index}\\:btnModificar').confirmation({
																	rootSelector : 'formInv\\:btnConfirm',
																	placement : 'top',
																	btnOkLabel : 'Ok',
																	title : 'Confirmación',
																	onConfirm : function() {
																		$('#tiendaVendedor\\:listaTiendas\\:#{status.index}\\:btnModificarConfirmado').click();
																},
																	onCancel : function() {
																		flagFormato = false;
																		return false;
																	}
																})
															/* ]]> */
															</script>
															</center>
														</h:panelGroup>
														
														<h:panelGroup layout="block" class="col-sm-2" >
															<center>
															<h:commandButton id="btnConfirmado" class="oculto btn" action="#{tiendaVendedorBean.eliminarTienda()}" >
																<f:param name="id" value="#{fileCarga.id}" />
															</h:commandButton>
															<h:panelGroup layout="block" id="btnEliminar" class="delete"><i class="fas fa-times-circle"></i></h:panelGroup>
															<script>
															/* <![CDATA[ */
																$('#tiendaVendedor\\:listaTiendas\\:#{status.index}\\:btnEliminar').confirmation({
																	rootSelector : 'formInv\\:btnConfirm',
																	placement : 'top',
																	btnOkLabel : 'Ok',
																	title : 'Confirmación',
																	onConfirm : function() {
																		$('#tiendaVendedor\\:listaTiendas\\:#{status.index}\\:btnConfirmado').click();
																},
																	onCancel : function() {
																		flagFormato = false;
																		return false;
																	}
																})
															/* ]]> */
															</script>
															</center>
														</h:panelGroup>
														
													
													</h:panelGroup>
													</h:panelGroup>
												</td>
											</tr>
										</ui:repeat>
									</tbody>
								</table>
							</h:panelGroup>
						</h:panelGroup>

					</div>
					<!-- VENDEDORES -->
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<h:panelGroup id="usuariosLista" layout="block" class="row">
							<h:panelGroup layout="block" class="col-sm-3">
							
							<h:panelGroup layout="block" class="form-group" id="SelectOneTienda">
									<h:outputLabel for="nombre" value="Seleccionar tienda"></h:outputLabel>
									<h:selectOneListbox size="1" id="selectTipoTiendaVendedor" value="#{tiendaVendedorBean.idTienda}" class="custom-select" >
										<f:selectItem itemLabel="Seleccionar Tienda" itemValue="0"></f:selectItem>
										<f:selectItems value="#{tiendaVendedorBean.tiendas}" var="t"
											itemLabel="#{t.nombre}" itemValue="#{t.id}"></f:selectItems>
										<f:ajax render="usuariosLista"   listener="#{tiendaVendedorBean.selectTiendaVendedor()}" onevent="reloadTblVendedor"></f:ajax>
									</h:selectOneListbox>	
									<small  class="form-text text-muted">Tienda</small>	
					         </h:panelGroup>
					         	
								<h:panelGroup layout="block" class="form-group" id="nombre-vendedor">
									<h:outputLabel for="nombre" value="Nombre"></h:outputLabel>
									<h:inputText a:placeholder="Nombre" class="form-control" id="nombreu" value="#{tiendaVendedorBean.nuevoUsuario.nombre}"></h:inputText>
									<small  class="form-text text-muted">Nombre</small>
								</h:panelGroup>
								
								<h:panelGroup layout="block" class="form-group" id="apellido-vendedor" >
									<h:outputLabel for="nombre" value="Apellido"></h:outputLabel>
									<h:inputText a:placeholder="Apellido" class="form-control" id="apellido" value="#{tiendaVendedorBean.nuevoUsuario.apellido}"></h:inputText>
									<small  class="form-text text-muted">Apellido</small>
								</h:panelGroup>
								
								<h:panelGroup layout="block" class="form-group" id="rut-vendedor">
									<h:outputLabel for="Nick" value="Rut"></h:outputLabel>
									<h:inputText a:placeholder="Rut" class="form-control" id="nick" value="#{tiendaVendedorBean.nuevoUsuario.nick}"></h:inputText>
									<small  class="form-text text-muted">Rut 12345678-9</small>
								</h:panelGroup>
								
								<h:panelGroup layout="block" class="form-group" id="ContrasenaVendedor">
									<h:outputLabel for="campoContrasenaVendedor" value="Contraseña Vendedor"></h:outputLabel>
									<h:inputSecret a:placeholder="Contraseña Usuario Vendedor" class="form-control" id="campoContrasenaVendedor" value="#{tiendaVendedorBean.contrasena}"></h:inputSecret>
									<small  class="form-text text-muted">Contraseña del vendedor.</small>
								</h:panelGroup>
								
								<h:panelGroup layout="block" class="form-group" id="ConfirmVendedor">
									<h:outputLabel for="campoConfirmVendedor" value="Confirma Contraseña Vendedor"></h:outputLabel>
									<h:inputSecret a:placeholder="Confirmar Contraseña del Vendedor" class="form-control" id="campoConfirmVendedor" value="#{tiendaVendedorBean.contrasenaConfirmada}"></h:inputSecret>
									<small  class="form-text text-muted">Confirmar contraseña del vendedor.</small>
								</h:panelGroup>
								
								<h:commandButton  rendered="#{!tiendaVendedorBean.vendedorMod}" id="ingresarVendedorConfirmado" class="oculto" value="Ingresar" >
									<f:ajax render="tiendaVendedor:usuariosLista tiendaVendedor:msgs" execute="@form" listener="#{tiendaVendedorBean.nuevoVendedor()}" onevent="reloadTblVendedor" ></f:ajax>
								</h:commandButton>
								
								<h:commandButton rendered="#{!tiendaVendedorBean.vendedorMod}" type="button" class="btn btn-primary btn-lg btn-block" id="ingresarVendedor" value="Ingresar">

								</h:commandButton>
								
								<h:commandButton  rendered="#{tiendaVendedorBean.vendedorMod}" id="modificarVendedorConfirmado" class="oculto" value="Modificar">
									<f:ajax render="tiendaVendedor:usuariosLista tiendaVendedor:msgs" execute="@form" listener="#{tiendaVendedorBean.modificarVendedor()}" onevent="reloadTblVendedor"></f:ajax>
								</h:commandButton>
								
								<h:commandButton rendered="#{tiendaVendedorBean.vendedorMod}" type="button" class="btn btn-info btn-lg btn-block" id="modificarVendedor" value="Modificar">
								</h:commandButton>
								
								<h:commandButton  rendered="#{tiendaVendedorBean.vendedorMod}" class="btn btn-danger btn-lg btn-block" id="CancelarModificacionVendedor" value="CancelarModificacion">
									<f:ajax render="tiendaVendedor:usuariosLista tiendaVendedor:msgs" execute="@form" listener="#{tiendaVendedorBean.salirModificacionVendedor()}" onevent="reloadTblVendedor"></f:ajax>
								</h:commandButton>
							</h:panelGroup>
								<h:panelGroup  layout="block"  class="col-sm-9">
									<table id="detalleVendedores" class="table table-hover" width="100%">
										<thead>
											<td>Rut</td>
											<td>Nombre</td>
											<td>Apellido</td>
											<td></td>
										</thead>
										<tbody>
											<ui:repeat var="v"
												value="#{tiendaVendedorBean.vendedores}" id="listaVendedores"
												varStatus="status">
												<tr>
													<td><h:outputText value="#{v.nick}"></h:outputText>
													</td>
													<td><h:outputText value="#{v.nombre}"></h:outputText>
													</td>
													<td><h:outputText value="#{v.apellido}"></h:outputText>
													</td>
													<td>
												<h:panelGroup layout="block" class="container">
													<h:panelGroup layout="block" class="row">
													
														<h:panelGroup layout="block" class="col-sm-2" >
															<center>
															<h:commandButton class="oculto btn" id="btnModificarConfirmado" >
																<f:param name="modVendedor" value="#{v.id}" />
																<f:ajax render="tiendaVendedor:usuariosLista tiendaVendedor:msgs" execute="@form" listener="#{tiendaVendedorBean.selectModificarVendedor()}" onevent="reloadTblVendedor"></f:ajax>
															</h:commandButton>
															<h:panelGroup layout="block" class="delete" id="btnModificar"><i class="fas fa-edit"></i></h:panelGroup>
															<script>
															/* <![CDATA[ */
																$('#tiendaVendedor\\:listaVendedores\\:#{status.index}\\:btnModificar').confirmation({
																	rootSelector : 'formInv\\:btnConfirm',
																	placement : 'top',
																	btnOkLabel : 'Ok',
																	title : 'Confirmación',
																	onConfirm : function() {
																		$('#tiendaVendedor\\:listaVendedores\\:#{status.index}\\:btnModificarConfirmado').click();
																		
																		
																},
																	onCancel : function() {
																		flagFormato = false;
																		return false;
																	}
																})
															/* ]]> */
															</script>
															</center>
														</h:panelGroup>
														
														<h:panelGroup layout="block" class="col-sm-2" >
															<center>
															<h:commandButton id="btnConfirmado" class="oculto btn" >
																<f:param name="idVendedor" value="#{v.id}" />
																<f:ajax render="tiendaVendedor:usuariosLista tiendaVendedor:msgs" execute="@form" listener="#{tiendaVendedorBean.eliminarVendedor()}" onevent="reloadTblVendedor"></f:ajax>
															</h:commandButton>
															<h:panelGroup layout="block" id="btnEliminar" class="delete"><i class="fas fa-times-circle"></i></h:panelGroup>
															<script>
															/* <![CDATA[ */
															
																$('#tiendaVendedor\\:listaVendedores\\:#{status.index}\\:btnEliminar').confirmation({
																	rootSelector : 'formInv\\:btnConfirm',
																	placement : 'top',
																	btnOkLabel : 'Ok',
																	title : 'Confirmación',
																	onConfirm : function() {
																		$('#tiendaVendedor\\:listaVendedores\\:#{status.index}\\:btnConfirmado').click();
																},
																	onCancel : function() {
																		return false;
																	}
																})
															/* ]]> */
															</script>
															</center>
														</h:panelGroup>
														
													
													</h:panelGroup>
													</h:panelGroup>
												</td>
													
												</tr>
											</ui:repeat>
									
										</tbody>
									</table>
									
						
								</h:panelGroup>
								<script>
									/* <![CDATA[ */
											$("#tiendaVendedor\\:ingresarVendedor").confirmation({
												rootSelector : 'formInv\\:btnConfirm',
												placement : 'top',
												btnOkLabel : 'Ok',
												title : 'Confirmacion',
												onConfirm : function() {
												if(validarVendedor())
												{
													$('#tiendaVendedor\\:ingresarVendedorConfirmado').click();
												}
												
											},
												onCancel : function() {
													flagFormato = false;
													return false;
											}
										})
										
										$("#tiendaVendedor\\:modificarVendedor").confirmation({
												rootSelector : 'formInv\\:btnConfirm',
												placement : 'top',
												btnOkLabel : 'Ok',
												title : 'Confirmacion',
												onConfirm : function() {
												if(validarVendedor())
												{
													$('#tiendaVendedor\\:modificarVendedorConfirmado').click();
												}
												
											},
												onCancel : function() {
													flagFormato = false;
													return false;
											}
										})
													 
									/* ]]> */
								</script>
							</h:panelGroup>
						</div>
				</div>
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
	
	
	<script>
		/* <![CDATA[ */
			$("#tiendaVendedor\\:ingresarTienda").confirmation({
					rootSelector : 'formInv\\:btnConfirm',
					placement : 'top',
					btnOkLabel : 'Ok',
					title : 'Confirmacion',
					onConfirm : function() {
					
					if(validarTienda())
					{
						$('#tiendaVendedor\\:ingresarTiendaConfirmado').click();
					}
					
				},
					onCancel : function() {
						flagFormato = false;
						return false;
				}
			})
			
			$("#tiendaVendedor\\:modificarTienda").confirmation({
					rootSelector : 'formInv\\:btnConfirm',
					placement : 'top',
					btnOkLabel : 'Ok',
					title : 'Confirmacion',
					onConfirm : function() {
					if(validarTienda())
					{
						$('#tiendaVendedor\\:modificarTiendaConfirmado').click();
					}
					
				},
					onCancel : function() {
						flagFormato = false;
						return false;
				}
			})
			
			
	/* ]]> */
								</script>

</h:form>
	
	<script>
		/* <![CDATA[ */
			$("#tiendaVendedor\\:ingresarTienda").confirmation({
					rootSelector : 'formInv\\:btnConfirm',
					placement : 'top',
					btnOkLabel : 'Ok',
					title : 'Confirmacion',
					onConfirm : function() {
					$('#tiendaVendedor\\:ingresarTiendaConfirmado').click();
				},
					onCancel : function() {
						flagFormato = false;
						return false;
				}
			})
			
			$("#tiendaVendedor\\:modificarTienda").confirmation({
					rootSelector : 'formInv\\:btnConfirm',
					placement : 'top',
					btnOkLabel : 'Ok',
					title : 'Confirmacion',
					onConfirm : function() {
					$('#tiendaVendedor\\:modificarTiendaConfirmado').click();
				},
					onCancel : function() {
						flagFormato = false;
						return false;
				}
			})
			
						 
		/* ]]> */
	</script>

</h:body>
</html>
