<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link href="css/styles.puma.min.css" rel="stylesheet"></link>
<link href="css/puma_styles.css" rel="stylesheet"></link>
<style type="text/css">

.centrar{
width: 400px;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
}
.espacio{
	height: 50px;
}
</style>
</h:head>
<h:body style="background-image:url(img/bg.jpg);">
	<h:inputHidden value="#{retiroBean.init()}"> </h:inputHidden>
	<h:form>
<div id="wrapper" style="color: #fff;">
			<div id="page-wrapper">
				<div class="container-fluid">
				
				<div class="row">
						<div class="centrar">
						<h:panelGroup  rendered ="#{retiroBean.largoHash gt 0}">
						<h:panelGroup styleClass="row" rendered ="#{not retiroBean.resp}">
						<div class="col-md-12">
						<center>
						<img  src="img/puma-logo.png" width="200px"/>
						</center>
						</div>
							
								<div class="col-md-12 espacio">
								</div>
							<div class="col-md-12 " style="font-size: 18px;">
							
							<center>
								POR FAVOR CONFÍRMANOS QUE QUIERES CANCELAR LA SUSCRIPCIÓN  
							</center>
							</div>
							<div class="col-md-12 espacio">
								</div>
							<div class="col-md-12 " style="font-size: 18px;" >
							<center>
								CANCELAR SUSCRIPCIÓN <h:selectBooleanCheckbox value="#{retiroBean.salir}"></h:selectBooleanCheckbox>
							</center>
							</div>
							<div class="col-md-12">
								<center>
								<h:commandButton action="#{retiroBean.enviar}" styleClass="button button--black" value="ENVIAR">
									<f:ajax render="@form" execute="@form"></f:ajax>
								</h:commandButton>
								</center>
							</div>
							
						</h:panelGroup>	
						</h:panelGroup>
						<h:panelGroup styleClass="row" rendered ="#{retiroBean.resp}">
						<div class="col-md-12" style="font-size: 18px;" >
							<center><span>YA HAS SIDO ELIMINADO DE NUESTROS REGISTROS. </span></center>
						</div>
						<div class="col-md-12"  style=" height: 20px;" >
							
						</div> 
						<div class="col-md-12" style="font-size: 18px;" >
							<center><span>Recuerda que nuestra tienda y newsletters están siempre disponibles para ti, cuando quieras regresar.</span></center>
						</div> 
						</h:panelGroup>						
						</div>
				</div>
			</div>
		</div></div>
		
	</h:form>
</h:body>
</html>