<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<ui:include src="headerImport.xhtml" />	
	<script src="js/fidelizacion/formValidate.js"></script>
</h:head>
<h:body>
	
	<h:inputHidden value="#{validarCuponBean.init()}"/>
	<ui:include src="headerAdm.xhtml"></ui:include>
	<h:form id="validarCupon">
		<!-- Panel de mensajes -->
			<h:panelGroup layout="block" id="mensajes" class="row">
				<h:panelGroup layout="block" id="msgBox" class="container">
					<h:panelGroup layout="block" class="msg-box">
						<ui:repeat var="msg" id="rep" varStatus="status" value="#{validarCuponBean.mensajes}">
							<h:panelGroup layout="block" id="panelMensaje" class="alert alert-dismissible #{msg.tipo == 'WARNING' ? 'alert-warning':msg.tipo == 'ERROR'?'alert-danger':msg.tipo == 'ALERT'?'alert-secondary':msg.tipo == 'SUCCESS'?'alert-success':msg.tipo == 'INFO'?'alert-info':''}">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<h4 class="alert-heading">#{msg.titulo}</h4>
								<h:outputText class="mb-0" value="#{msg.mensaje}" escape="false"></h:outputText>
							</h:panelGroup>
							<script type="text/javascript">
								/* <![CDATA[ */
									//$(document).on('ready', function() {
										$( "#validarCupon\\:rep\\:#{status.index}\\:panelMensaje" ).delay( 8000 ).slideUp( 800 );
									//});
								/* ]]> */
							</script>
						</ui:repeat>
					</h:panelGroup>
				</h:panelGroup>
			</h:panelGroup>
		<!-- FIN panel de mensajes -->
		<h:panelGroup layout="block" class="container">
			<h:panelGroup layout="block" class="row">
				<h:panelGroup layout="block" class="col-sm-4">
					<div class="form-group">
						<label for="CodigoCupon">Código</label>
						<h:inputText value="#{validarCuponBean.codigo}" class="form-control" id="CodigoCupon" ></h:inputText>
						<small id="CodigoCuponHelp" class="form-text text-muted">Código de barra del cupon de descuento.</small>
					</div>
					<h:commandButton class="oculto" id="btnBuscarCuponConfirmado" action="#{validarCuponBean.findCupon()}">
						<f:ajax execute="@form" render="@form"></f:ajax>
					</h:commandButton>
					<h:commandButton type="button" id="btnBuscarCupon" value="Buscar Cupon" class="btn btn-primary btn-lg btn-block"></h:commandButton>
				</h:panelGroup>
				<h:panelGroup layout="block" class="col-sm-8">
					<h:panelGroup layout="block" rendered="#{validarCuponBean.cupon != null}">
						<div class="card border-primary mb-8" >
							<div class="card-header">CUPÓN <h:outputLabel value="#{validarCuponBean.cupon.codigo}"></h:outputLabel></div>
							<div class="card-body">
								<h4 class="card-title">Información del cupón</h4>
								<ul class="list-group">
									<li class="list-group-item d-flex justify-content-between align-items-center">
										Campaña: <h:outputLabel value="#{validarCuponBean.campania.nombre}"> </h:outputLabel>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center">
										Nombre Cliente: <h:outputLabel value="#{validarCuponBean.cliente.nombre}"></h:outputLabel> 
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center">
										Apellido Cliente: <h:outputLabel value="#{validarCuponBean.cliente.apellidoP}"></h:outputLabel>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center">
										Rut Cliente: <h:outputLabel value="#{validarCuponBean.cliente.rut}"></h:outputLabel>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center">
										Mail Cliente: <h:outputLabel value="#{validarCuponBean.cliente.mail}"></h:outputLabel>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center">
										Fecha Nacimiento Cliente: <h:outputLabel value="#{validarCuponBean.cliente.fechaNacFormateada}"></h:outputLabel>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center">
										Sexo Cliente: <h:outputLabel value="#{validarCuponBean.cliente.sexo}"></h:outputLabel>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center">
									<h:panelGroup layout="block" rendered="#{!validarCuponBean.cuponDisponible}">
										Fecha Utilización<h:outputLabel value="#{validarCuponBean.cupon.fecha_utilizacionFormateda}"></h:outputLabel>
									</h:panelGroup>
									<h:panelGroup layout="block" rendered="#{validarCuponBean.cuponDisponible}">
										<h:outputLabel value="Cupón Disponible"></h:outputLabel>
									</h:panelGroup>
										
									</li>
									<h:panelGroup layout="block" rendered="#{validarCuponBean.cuponDisponible}">
										<h:commandButton class="oculto" id="UsarCuponConfirmado" action="#{validarCuponBean.setFechaUtilizacion()}">
											<f:ajax execute="@form" render="@form"></f:ajax>
										</h:commandButton>
										<h:commandButton type="button" id="UsarCupon" value="Utilizar Cupon" class="btn btn-primary btn-block"></h:commandButton>
										<script>
										/* <![CDATA[ */
											
												
												$("#validarCupon\\:UsarCupon").confirmation({
													rootSelector : 'formInv\\:btnConfirm',
													placement : 'top',
													btnOkLabel : 'Ok',
													title : 'Confirmacion',
													onConfirm : function() {
														$('#validarCupon\\:UsarCuponConfirmado').click();
												},
													onCancel : function() {
														flagFormato = false;
														return false;
													}
												})
											
										/* ]]> */
										</script>
									</h:panelGroup>
								</ul>
							</div>
						</div>
					</h:panelGroup>
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
		
		<script>
	/* <![CDATA[ */
			$("#validarCupon\\:btnBuscarCupon").confirmation({
				rootSelector : 'formInv\\:btnConfirm',
				placement : 'top',
				btnOkLabel : 'Ok',
				title : 'Confirmacion',
				onConfirm : function() {
					$('#validarCupon\\:btnBuscarCuponConfirmado').click();
			},
				onCancel : function() {
					flagFormato = false;
					return false;
				}
			})
	
		
	/* ]]> */
	</script>
	</h:form>


</h:body>
</html>
